@charset "UTF-8";

#errorEtcPageHead{

    position: absolute;
    width: 1920px;
    height: 100px;
    border-bottom: solid;
    border-color: #92E2F8;
    background-color: white;

}

#errorEtcPageLogo{

    position: absolute;
    top:15px;
    left: 39px;
    width: 186px;
    height: 67px;

}

#errorEtcToMain{

    position: absolute;
    left: 700px;

}

#errorEtcToBefore{

    position: absolute;
    left: 950px;
}

.errorEtcButton {

    position: absolute;
    top: 350px;
    width: 215px;
    height: 70px;
    border: none;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    vertical-align: center;
    color: #282828;
    background: #D7D7D7;


}

#errorEtcPageBody{

    position: absolute;
    width: 1920px;
    height: 852px;
    display: flex;
    justify-content: center;
    line-height: 852px;

}

#errorEtcName{

    position: absolute;
    width: max-content;
    height: 250px;
    vertical-align: center;
    top: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    display: flex;
    justify-content: center;
    line-height: 50px;
    color: #787878;

}

#errorEtcImage{

    position: absolute;
    width: 1237px;
    height: 308px;
    left: 342px;
    top: 510px;

}

#errorEtcCode1{

    position: absolute;
    width: 116px;
    height: 111px;
    left: 408px;
    top: 543px;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #282828;

}

#errorEtcCode2{

    position: absolute;
    width: 116px;
    height: 111px;
    left: 670px;
    top: 543px;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #282828;

}

#errorEtcCode3{

    position: absolute;
    width: 116px;
    height: 111px;
    left: 930px;
    top: 543px;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #282828;

}

#errorEtcCode4{

    position: absolute;
    width: 116px;
    height: 111px;
    left: 1192px;
    top: 543px;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #282828;

}

#errorEtcCode5{

    position: absolute;
    width: 116px;
    height: 111px;
    left: 1478px;
    top: 540px;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #282828;

}