@charset "UTF-8";

@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Binggrae', sans-serif;
}

#alertModal{
    display: none;
}
#alert-smallModal{

    position: absolute;
    width: 554px;
    height: 284px;
    left: 683px;
    top: 260px;
    background: #FFFFFF;
    border:1px solid #595959;
    border-radius: 25px;
    z-index: 999999;

}

#alert-smallBlueHeader{

    position: absolute;
    width: 554px;
    height: 51px;
    background: #92E2F8;
    border-bottom: 1px solid #282828;
    border-radius: 25px 25px 0px 0px;

}

#alert-createXButton{

    width: 30px;
    height: 34px;
    font-size: 30px;
    position: absolute;
    left: 506px;
    top: 5px;
    cursor: pointer;

}

#alert-confirmCreate{

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;

}

#alert-bottomButtons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;

}

.bottomButton {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    align-content: center;
}


#alert-confirmButton {
    background-color: #92E2F8;
    color: black;
    font-size: 15px;
    font-weight: bold;

}
#alertModalConfirmButton{
    background: #92e2f8;
}
