@charset "UTF-8";

body {
    margin: 0;
}

/* 헤더 */
#header {
    width: 1920px;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #FFFFFF;
    border-bottom: solid;
    border-color: #92E2F8;
}

#header-logo-img {
    position: absolute;
    top:15px;
    left: 39px;
    width: 186px;
    height: 67px;
}

/* 왼쪽바 */
#leftBarLayout{

    position: absolute;
    width: 310px;
    height: 850px;
    top: 103px;

    background: #FFFFFF;
    border-right: solid 1px #282828;

}

#blueBackground{

    position: absolute;
    width: 250px;
    height: 720px;
    left: 32px;
    top: 48px;

    background: #92E2F8;
    border-radius: 25px;

}

#profile{

    position: absolute;
    width: 80px;
    height: 80px;
    left: 85px;
    top: 34px;

    background: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 6355px;

}

#nickname{

    position: absolute;
    width: 200px;
    height: 178px;
    left: 30px;
    top: 135px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;

    color: #000000;

}

#mypage{

    position: absolute;
    width: 130px;
    height: 30px;
    left: 65px;
    top: 180px;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #000000;

}

#whiteBar1{

    position: absolute;
    width: 210px;
    left: 20px;
    top: 230px;

    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, -1, 0, 0);

}

#textMyProject{

    /* My Project */

    position: absolute;
    width: 100px;
    height: 15px;
    left: 30px;
    top: 250px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;

    color: #282828;

}

#firstFolderIcon{

    position: absolute;
    left: 30px;
    top: 280px;

}

#firstProjectName{

    position: absolute;
    left: 55px;
    top: 280px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height:15px;

    color: #282828;

}

#secondFolderIcon{

    position: absolute;
    left: 30px;
    top: 305px;

}

#secondProjectName{

    position: absolute;
    left: 55px;
    top: 305px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;

}

#thirdFolderIcon{

    position: absolute;
    left: 30px;
    top: 330px;

}

#thirdProjectName{

    position: absolute;
    left: 55px;
    top: 330px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;

}
/* 4번째 프로젝트 */
#fourth{

    /*display: none;*/

}
#fourthFolderIcon{

    position: absolute;
    left: 30px;
    top: 355px;

}

#fourthProjectName{

    position: absolute;
    left: 55px;
    top: 355px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;

}

/* 5번째 프로젝트 */
#fifth{

    /*display: none;*/

}
#fifthFolderIcon{

    position: absolute;
    left: 30px;
    top: 380px;

}

#fifthProjectName{

    position: absolute;
    left: 55px;
    top: 380px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;

}

/* 6번째 프로젝트 */
#sixth{

    /*display: none;*/

}
#sixthFolderIcon{

    position: absolute;
    left: 30px;
    top: 405px;

}

#sixthProjectName{

    position: absolute;
    left: 55px;
    top: 405px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;

}

/* 7번째 프로젝트 */
#seventh{

    /*display: none;*/

}
#seventhFolderIcon{

    position: absolute;
    left: 30px;
    top: 430px;

}

#seventhProjectName{

    position: absolute;
    left: 55px;
    top: 430px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;

}
/* 8번째 프로젝트 */
#eighth{

    /*display: none;*/

}
#eighthFolderIcon{

    position: absolute;
    left: 30px;
    top: 455px;

}

#eighthProjectName {

    position: absolute;
    left: 55px;
    top: 455px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;

}

#whiteBar2 {

    position: absolute;
    width: 210px;
    left: 20px;
    top: 580px;

    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, -1, 0, 0);

}

/* 문의하기 */
#firstInquiry {

    position: absolute;
    left: 30px;
    top: 600px;

}

#doInquiryText {

    position: absolute;
    left: 55px;
    top: 600px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;
}

/* 권한 위임 요청 */
#secondInquiry {

    position: absolute;
    left: 30px;
    top: 625px;

}

#authorityText {

    position: absolute;
    left: 55px;
    top: 625px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;
}

/* 메인 영역 */
#calender-main {
    position: absolute;
    width: 1609px;
    height: 852px;
    top: 101px;
    left: 311px;
    background-color: #66b3ff;
}
/* 캘린더 영역*/
#monthly-calenderBox {
    position: absolute;
    width: 1252px;
    height: 680px;
    top: 85px;
    left: 177px;
    background-color: #FFFFFF;
}
/* 날짜, 버튼 영역 */
#sort-area {
    position: absolute;
    width: 1252px;
    height: 61px;
    background-color: #92E2F8;
}
#date-view {
    position: absolute;
    width: 189px;
    height: 45px;
    font-size: 32px;
    top: 8px;
    left: 21px;
    color: #000000;
}
#nav-btn-go-prev {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 130px;
    color: #595959;
    background-color: #FFFFFF;
    border-width: thin;
}
#nav-btn-go-next {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 153px;
    color: #595959;
    background-color: #FFFFFF;
    border-width: thin;
}
#grid-header {
    position: absolute;
    width: 1252px;
    height: 42px;
    background-color: #66ff66;
    top: 61px;
}
#sun {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 1px;
    left: 1px;
    font-size: 24px;
    font-family: 'Inter';
    background-color: #999999;
}
#monday {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 1px;
    left: 180px;
    font-size: 24px;
    font-family: 'Inter';
    background-color: #cccccc;
}
#tuesday {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 1px;
    left: 359px;
    font-size: 24px;
    font-family: 'Inter';
    background-color: #898989;
}
#wednesday {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 1px;
    left: 538px;
    font-size: 24px;
    font-family: 'Inter';
    background-color: #D9D9D9;
}
#thursday {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 1px;
    left: 717px;
    font-size: 24px;
    font-family: 'Inter';
    background-color: #595959;
}
#friday {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 1px;
    left: 896px;
    font-size: 24px;
    font-family: 'Inter';
    background-color: #282828;
}
#saturday {
    position: absolute;
    width: 178px;
    height: 41px;
    top: 1px;
    left: 1075px;
    font-size: 24px;
    font-family: 'Inter';
    background-color: #D9D9D9;
}



