/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* 전체 레이아웃 설정 */
body {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 953px;
    overflow: hidden;
}

/* 헤더 */
#header {
    width: 1920px; /* 전체 너비 */
    height: 100px; /* 고정 높이 */
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

/* 메인 레이아웃 - 헤더 아래에 위치하여 사이드바와 메인 영역을 가로로 배치 */
.main-layout {
    display: flex;
    width: 100%;
    height: 853px; /* 남은 높이 */
}



/* 메인 캘린더 컨테이너 */
.calendar-container {
    width: 1536px; /* 남은 공간 */
    height: 100%; /* 전체 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;

}

/* 메인 캘린더 위치 설정 */
.main-calendar {
    position: relative;
    width: 1600px;
    height: 850px;
}

/* 캘린더 스타일 */
.calendar {
    left: 350px;
    width: 1500px; /* 고정 너비 */
    height: 850px; /* 고정 높이 */
    position: absolute;
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
}

/* 캘린더 헤더 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    margin-top: 10px;
    font-size: 25px;
}

.nav {
    margin-top: 15px;
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 30px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    font-weight: bold;
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date {
    width: calc(100% / 7);
    height: 145px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: black;
    z-index: 1;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #92E2F8;
    border-radius: 50%;
    content: '';
}

#scheduleList {
    display: block;         /* 부모 요소를 블록으로 설정 */
    flex-direction: column; /* flex 방향을 세로로 설정 (필요 시) */
}

#scheduleList div {
    display: block;         /* 각 항목을 블록 요소로 설정 */
    margin-bottom: 14px;     /* 각 항목 사이에 간격 추가 */
}