@charset "UTF-8";

#detailsModal {

    position: absolute;
    width: 554px;
    height: 592px;
    left: 683px;
    top: 130px;
    background: #FFFFFF;
    border: 1px solid #595959;
    border-radius: 25px;

}

#middleBlueHeader {

    position: absolute;
    width: 554px;
    height: 51px;

    background: #92E2F8;
    border-bottom: 1px solid #282828;
    border-radius: 25px 25px 0px 0px;

}

#detailsXButton {

    width: 30px;
    height: 34px;
    font-size: 30px;
    position: absolute;
    left: 506px;
    top: 5px;

}

#modifyList {

    position: absolute;
    width: 20px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 60px;
    right: 12%;
}

#deleteList {
    position: absolute;
    width: 20px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    right: 4%;
    margin-top: 60px;
}

#watch {
    width: 30px;
    height: 34px;
    background: none;
    border: none;
}

/* 일정 제목 */
#scheduleTitle {

    position: absolute;
    width: 350px;
    height: 60px;
    left: 40px;
    top: 75px;
    border-bottom: solid 3px #92E2F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorOptions {
    position: absolute;
    margin-left: 10px;
    padding: 5px; /* 버튼 주변 여백 */
    background-color: #f5f5f5; /* 배경색 추가 */
    border-radius: 8px; /* 모서리를 둥글게 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
}

.color-button {

    position: absolute;
    top: 100px;
    left: 400px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FF0000; /* 기본 빨간색 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
    border: 1px solid #ccc;
}



#schedulePeriod {
    position: absolute;
    width: 350px;
    height: 62px;
    left: 40px;
    top: 150px;
    border-bottom: solid 3px #92E2F8;
}

#scheduleStartDate {

    position: absolute;
    width: 150px;
    height: 40px;
    left: 20px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    line-height: 20px;
    border: none;
    color: #000000;
    outline: none;
}

#scheduleEndDate {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 215px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    line-height: 20px;
    border: none;
    color: #282828;
    outline: none;
}

#slash {
    position: absolute;
    left: 185px;
    top: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    line-height: 20px;
    border: none;
    color: #282828;
}

#watch {
    position: absolute;
    width: 20px;
}

#participant-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 450px;
    height: 60px;
    left: 40px;
    top: 230px;
    border-bottom: solid 3px #92E2F8;
}

#invite-icon {
    cursor: pointer;

}

#participant-list {
    font-size: 18px;
    color: #666;
    margin-left: 10px;
}

#memoIcon {
    position: absolute;
    top: 310px;
    left: 40px;
}

#memo {
    position: absolute;
    top: 310px;
    left: 80px;
    width: 370px;
    height: 200px;
    border: none;
    resize: none; /* 크기 조절 비활성화 */
    outline: none;
    background-color: #e0f7fa; /* 연한 파란색 배경 */
    font-size: 14px;
    color: #333;
    padding: 5px;
    border-radius: 10px; /* 모서리를 둥글게 */
}

#creator-info {

    position: absolute;
    bottom: 60px; /* 버튼 위에 위치할 수 있도록 설정 */
    left: 40px; /* 왼쪽 여백 */
    font-size: 14px;
    color: #666; /* 텍스트 색상 */
    font-weight: bold;
}



#details-confirmButton {
    position: absolute;
    width: 99px;
    height: 31px;
    left: 440px;
    top: 545px;
    background: #92E2F8;
    border: #92E2F8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #282828;
}


