@charset "UTF-8";

#listModal{

    position: absolute;
    width: 554px;
    height: 592px;
    left: 683px;
    top: 130px;

    background: #FFFFFF;
    border: 1px solid #595959;
    border-radius: 25px;
    display: none;
}

#list-middleBlueHeader{

    position: absolute;
    width: 554px;
    height: 51px;

    background: #92E2F8;
    border-bottom: 1px solid #282828;
    border-radius: 25px 25px 0px 0px;

}
#list-listXButton{

    width: 30px;
    height: 34px;
    font-size: 30px;
    position: absolute;
    left: 506px;
    top: 5px;

}


#scheduleList {
    position: absolute;
    display: flex;
    width: 520px;
    height: 420px;
    /*align-items: center;*/
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #EEEEEE;
    margin-top: 100px;
    overflow-y: scroll;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}

#list-plusList {
    position: absolute;
    width: 30px;
    top: 10px;
    left: 465px;
    height: 34px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#list-plusList img {

    width: 100%;
    height: auto;
}

.schedule-container {
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.schedule-card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.schedule-card:hover {
    transform: translateY(-5px);
}

.schedule-header h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #333;
}

.schedule-body p {
    margin: 8px 0;
    color: #555;
}

.schedule-creator {
    font-size: 0.9rem;
    color: #888;
    text-align: right;
}


/* 가운데 정렬을 위한 컨테이너 */
#centeredContent {
    position: absolute;
    display: flex;
    top: 200px;
    left: 220px;
    flex-direction: column;
}

/* 이미지 스타일 */
#centerImage {

    width: 100px;
    margin-bottom: 10px;
}

/* 텍스트 스타일 */
#centerText {

    margin-left: -15px;
    font-size: 16px;
    color: #888888; /* 텍스트 색상 */
}


.emptyModal{
    border-bottom: none !important;
    background-color: #fff !important;
    top: -50px !important;
    overflow-y: hidden !important;
}