<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/common/middlemodal.css">
    <link rel="stylesheet" href="/css/common/smallmodal.css">
    <link rel="stylesheet" href="/css/user/signup.css">
</head>
<body>
<!--헤더-->
<div th:include="common/header.html"></div>

<!--배경화면-->
<div id="login_background">
    <img id="login_background_img" src="/css/user/image/FizzyGroup.png">
</div>

<form th:action="@{/user/signup}" method="post">
    <!-- 중간 모달창 -->
    <div id="middleModal">
        <div id="middleBlueHeader">
        </div>
        <!--  회원가입 텍스트 -->
        <div id="signup_text">회원가입</div>

        <!--  아이디 입력창 -->
        <div id="regist_id_area">
            <input class="input short" type="text" id="regist_id_input" placeholder=" 아이디" name="userId">
            <button type="button" id="check_duplicate_id" class="btn">확인</button>
        </div>

        <!--  아이디 유효성 메세지 -->
        <div class="message id" id="idMessage"></div>


        <!--  비밀번호 입력창 -->
        <div id="regist_pwd_area">
            <input class="input long" type="password" id="regist_pwd_input" placeholder=" 비밀번호" name="userPwd">
        </div>

        <!--  비밀번호 확인 입력창 -->
        <div id="compare_pwd_area">
            <input class="input long" type="password" id="compare_pwd_input" placeholder=" 비밀번호 확인">
        </div>

        <!--  비밀번호 확인 메세지 -->
        <div class="message pwdCheck" id="pwdMessage"></div>

        <!-- 패스워드 유의사항 메세지 -->
        <div class="message pwdNote">※비밀번호는 영문자, 숫자, 특수기호 3가지를 사용해 8자리 이상 작성해주세요.</div>

        <!--  이름 입력창 -->
        <div id="regist_name_area">
            <input class="input long" type="text" id="regist_name_input" placeholder=" 이름" name="userName">
        </div>
        <div class="message nickname" id="nameMessage"></div>

        <!--  닉네임 입력창 -->
        <div id="regist_nickname_area">
            <input class="input short" type="text" id="regist_nickname_input" placeholder=" 닉네임" name="userNickname">
            <button id="check_duplicate_nickname" class="btn" type="button">확인</button>
        </div>

        <!--  닉네임 유효성 메세지 -->
        <div class="message nickname" id="nicknameMessage"></div>

        <!--  이메일 입력창 -->
        <div id="regist_email_area">
            <input class="input short" type="email" id="regist_email_input" placeholder=" 이메일" name="userEmail">
            <button id="send_code_email" class="btn" type="button">코드전송</button>
        </div>

        <!--  이메일 코드 입력창 -->
        <div id="check_emailCode_area">
            <input class="input short" type="text" id="randomCode_input" placeholder=" 이메일 코드">
            <button id="compare_code_email" class="btn" type="button">확인</button>
        </div>

        <!--  이메일 유효성 메세지 -->
        <div class="message email" id="emailMessage"></div>

        <!--  이용약관 -->
        <div id="read_termsOfUse_area">
            <input type="checkbox" id="termsOfUse"><label for="termsOfUse">본
            <button class="termsOfUse_href" type="button">이용약관</button>에 동의합니다.</label>
        </div>

        <!--  회원가입 버튼 -->
        <button type="button" id="signup_btn">회원가입</button>
    </div>

    <div id="smallModal" class="modal">
        <div id="smallBlueHeader">
            <div id="smallXButton">X</div>
        </div>
        <!-- 로그인 유효성 메세지 -->
        <div class="success_message" id="successMessage" th:text="${ message }"></div>
        <button id="small_signupOk_btn" type="button">확인</button>
    </div>

</form>

<!-- -------------------------------------이용약관--------------------------------------------- -->

<!-- 이용약관 모달창 -->
<div id="middleModal_termsOfUse">
    <div id="middleBlueHeader_termsOfUse">
        <div id="middleXButton_termsOfUse">X</div>
    </div>

    <!-- 이용약관 텍스트 -->
    <div id="termsOfUse_text">이용약관</div>

    <!-- 이용약관 내용 창 -->
    <div id="termsOfUse_content">
        <br>
        <p style="font-weight: bold; text-align: center; font-size: 20px">CollaTime 개인정보 수집/이용에 대한 동의서</p><br>

    &nbsp 아래는 저희 사이트가 귀하의 개인 정보를 수집, 사용 및 관리하는 방법에 대한 정책과 그에 따른 동의서입니다.
    <br><br>&nbsp&nbsp
    **개인정보 수집 항목**
    <br><br>&nbsp
    - 계정
    <br><br>&nbsp
    - 이름
    <br><br>&nbsp
    - 이메일
        <br><br>&nbsp
    - 참여 및 관리 프로젝트
        <br><br>&nbsp&nbsp
    **개인정보의 수집 및 이용 목적**
        <br><br>&nbsp
    -저희는 협업을 위한 스케줄 관리에 특화되어 있는 사이트입니다. 즉, 사이트의 서비스를 이용하게 되면 특정 제 3자에게 정보를 공개하는 것을 의미합니다.
    저희는 아래에 설명된 방식으로 회원들에 대해 수집한 정보들을 공개합니다. 그러나 CollaTime은 금전적 대가를 위해 개인정보를 판매하지 않습니다.
        <br><br>&nbsp
    -다른 서비스 이용자에게 공개
    귀하가 서비스를 이용할 때, 저희 사이트는 귀하에 대한 특정 정보를 다른 서비스 이용자에게 공개합니다.
        <br><br>&nbsp
    -프로젝트 개설을 위해
    다른 서비스 이용자가 귀하의 계정ID과 동일한 값을 검색했을 때 귀하의 프로필이 표시됩니다.
        <br><br>&nbsp
    -협업을 위해
    같은 프로젝트를 진행 중인 이용자가 귀하의 계정 닉네임과 프로필을 볼 수 있게 됩니다.
        <br><br>&nbsp
    -관리되는 계정 및 관리자에게
    프로젝트 관리를 위해 귀하의 계정 ID와 닉네임 그리고 참여 및 관리 프로젝트가 표시됩니다.
        <br><br>&nbsp&nbsp
    **개인정보의 보유 및 이용 기간**
        <br><br>&nbsp
    -사이트에서 회원가입 시 부터 탈퇴 시 까지, 탈퇴 시 지체없이 개인정보가 파기됩니다.
        <br><br>&nbsp
    -미동의 시 개인정보확인불가능으로 사이트에서 제공하는 서비스 이용이 불가능합니다.
        <br><br>&nbsp
    위의 내용은 개인정보보호법 제 15조에 의거해 만들어졌습니다.
        <br><br>&nbsp&nbsp
    - 개인정보보호법 제 15조
    -제15조(개인정보의 수집ㆍ이용) 개인정보처리자는 다음 각 호의 어느 하나에 해당하는 경우에는 개인정보를 수집할 수 있으며 그 수집 목적의 범위에서 이용할 수 있다.
        <br><br>&nbsp
    1. 정보주체의 동의를 받은 경우
        <br><br>&nbsp
    2. 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우
        <br><br>&nbsp
    3. 공공기관이 법령 등에서 정하는 소관 업무의 수행을 위하여 불가피한 경우
        <br><br>&nbsp
    4. 정보주체와의 계약의 체결 및 이행을 위하여 불가피하게 필요한 경우
        <br><br>&nbsp
    5. 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우
        <br><br>&nbsp
    6. 개인정보처리자의 정당한 이익을 달성하기 위하여 필요한 경우로서 명백하게 정보주체의 권리보다 우선하는 경우. 이 경우 개인정보처리자의 정당한 이익과 상당한 관련이 있고 합리적인 범위를 초과하지 아니하는 경우에 한한다.
        <br><br>&nbsp
     개인정보처리자는 제1항제1호에 따른 동의를 받을 때에는 다음 각 호의 사항을 정보주체에게 알려야 한다. 다음 각 호의 어느 하나의 사항을 변경하는 경우에도 이를 알리고 동의를 받아야 한다.
        <br><br>&nbsp
    1. 개인정보의 수집ㆍ이용 목적
        <br><br>&nbsp
    2. 수집하려는 개인정보의 항목
        <br><br>&nbsp
    3. 개인정보의 보유 및 이용 기간
        <br><br>&nbsp
    4. 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용
        <br><br><br>&nbsp&nbsp

    -개인정보보안 방법-
        <br><br>&nbsp
    -귀하의 정보를 보호하기 위해 고안된 안전장치를 구현하지만 침입할 수 없는 보안 시스템은 없으며 인터넷의 본질적인 특성으로 인해 인터넷
    을 통해 전송되거나 당사 시스템에 저장되거나 다른 방식으로 당사가 관리하는 정보가 타인의 침입으로부터 절대적으로 안전하다고 보장할 수 없습니다.
        <br><br>&nbsp
    -SpringSecurity를 통해 보안을 진행합니다.
        <br><br>&nbsp
    -서비스 이용 시 유의 사항-
        <br><br>&nbsp
    -서비스를 이용할 시에 여러 컨텐츠와 다른 웹사이트 또는 서비스로 안내하는 링크가 포함 및 사용될 수 있습니다.
    위의 경우 개인정보 및 저작권 관행은 저희 사이트와 다를 수 있으며 그에 따른 정책에 따라 관리됩니다.
    그러므로 귀하가 사용하실 컨텐츠와 링크와 관련된 보호정책을 주의 깊게 읽어보시기를 권장합니다.
        <br><br>&nbsp
        <p style="font-weight: bold; text-align: center;">위의 내용에 동의하신다면 체크표시를 해주세요.</p>
    </div>

    <!-- 이용약관 확인 및 취소 -->
    <button id="termsOfUse_btn_cancel" type="button">취소</button>
    <button id="termsOfUse_btn_accept" type="button">확인</button>

</div>

<!-- -------------------------------------회원가입 유효성--------------------------------------------- -->

<!-- 작은 모달창 -->


<script>


    var isInput = ['false' ,'false' ,'false' ,'false' ,'false' ,'false' ,'false'];
    document.getElementById('compare_code_email').disabled = true;

        // 아이디 조회
    document.getElementById("check_duplicate_id").addEventListener('click', function () {
        let checkId = document.getElementById('regist_id_input').value;
        let idMessage = document.getElementById('idMessage');
        if (checkId == '' || checkId.length == 0) {
            idMessage.style.color = 'red';
            idMessage.innerText = '아이디는 공백이 될 수 없습니다.';
            isInput[0] = "false";
        } else {
            fetch("/user/check")
                .then(res => res.json())
                .then(data => {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i][0] == checkId) {
                            idMessage.style.color = 'red';
                            idMessage.innerText = '중복된 아이디입니다.';
                            isInput[0] = "false";
                            break;
                        } else {
                            idMessage.style.color = 'green';
                            idMessage.innerText = '사용가능한 아이디입니다.';
                            isInput[0] = "true";
                        }
                    }
                })
        }
    })

    //     비밀번호 비교

    document.getElementById('compare_pwd_input').addEventListener('keyup', pwdCheck);
    document.getElementById('compare_pwd_input').addEventListener('focusout', pwdCheck);
    function pwdCheck() {
        let pwdMessage = document.getElementById('pwdMessage');
        let inputPwd = document.getElementById('regist_pwd_input');
        let comparePwd = document.getElementById('compare_pwd_input');
        function strongPassword(str){
            return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/.test(str);
        }

        if(inputPwd.value == ''){
            pwdMessage.style.color = 'red';
            pwdMessage.innerText = '비밀번호가 공백입니다.';
            isInput[1] = "false";
        }else if(strongPassword(inputPwd.value)){
            if (comparePwd.value == inputPwd.value) {
                pwdMessage.style.color = 'green';
                pwdMessage.innerText = '비밀번호가 일치합니다.';
                isInput[1] = 'true';
            } else {
                pwdMessage.style.color = 'red';
                pwdMessage.innerText = '비밀번호가 다릅니다.';
                isInput[1] = "false";
            }
        } else {
            pwdMessage.style.color = 'red';
            pwdMessage.innerText = '유의사항을 확인해주세요.';
            isInput[1] = "false";
        }
    }
    //     이름 확인
    document.getElementById('regist_name_input').addEventListener('keyup', nameCheck);
    document.getElementById('regist_name_input').addEventListener('focusout', nameCheck);
    function nameCheck(){
        let nameMessage = document.getElementById('nameMessage');
        if (document.getElementById('regist_name_input').value == ''){
            nameMessage.style.color = 'red';
            nameMessage.innerText = '이름이 공백입니다.';
            isInput[2] = "false";
        }else {
            nameMessage.style.display = 'none';
            isInput[2] = 'true';
        }
    }



    //     닉네임 비교
    document.getElementById("check_duplicate_nickname").addEventListener('click', function () {

        let checkNickname = document.getElementById('regist_nickname_input').value;
        let nicknameMessage = document.getElementById('nicknameMessage');
        if (checkNickname == '' || checkNickname.length == 0) {
            nicknameMessage.style.color = 'red';
            nicknameMessage.innerText = '닉네임은 공백이 될 수 없습니다.';
            isInput[3] = "false";
        } else {
            fetch("/user/check")
                .then(res => res.json())
                .then(data => {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i][1] == checkNickname) {
                            nicknameMessage.style.color = 'red';
                            nicknameMessage.innerText = '중복된 닉네임입니다.';
                            isInput[3] = "false";
                            break;
                        } else {
                            nicknameMessage.style.color = 'green';
                            nicknameMessage.innerText = '사용가능한 닉네임입니다.';
                            isInput[3] = "true";
                        }
                    }
                })
        }
    })

    //     이메일 비교
    let mailCode = "";
    let emailMessage = document.getElementById('emailMessage');
    let emailCheck = false;
    document.getElementById("send_code_email").addEventListener('click', function () {
        let checkEmail = document.getElementById('regist_email_input').value;
        if (checkEmail == '' || checkEmail.length == 0) {
            emailMessage.style.color = 'red';
            emailMessage.innerText = '이메일은 공백이 될 수 없습니다.';
            isInput[4] = "false";
        }
        // else if(checkEmail.indexOf('@')!=0 &&checkEmail.indexOf('.')!=0){
        //     emailMessage.style.color = 'red';
        //     emailMessage.innerText = '이메일 형식을 다시 확인해주세요.';
        //     isInput[4] = "false";
        // }
        else {
            fetch("/user/check")
                .then(res => res.json())
                .then(data => {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i][2] == checkEmail) {
                            emailMessage.style.color = 'red';
                            emailMessage.innerText = '중복된 이메일입니다.';
                            isInput[4] = "false";
                            break;
                        } else {
                            emailMessage.style.color = 'black';
                            emailMessage.innerText = '해당 이메일로 코드를 보냈습니다.';
                            document.getElementById('compare_code_email').disabled = null;
                            isInput[4] = "true";
                            console.log("여기까지 옴")
                        }
                    }
                    if(isInput[4]=='true') {
                        document.getElementById("send_code_email").disabled = true;
                    }
                })

        }
    })
    //     이메일 코드 비교
        console.log("그다음에 넘어옴")
    let inputCode = document.getElementById('randomCode_input');
    let compareCodeBtn = document.getElementById('compare_code_email');
    document.getElementById("send_code_email").addEventListener('mouseup',function (){

        const mail = document.getElementById('regist_email_input').value;
        fetch('/mail/sendNewMail', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(mail)
        })
            .then(res => res.json())
            .then( data => {
                console.log(data);
                console.log(data.code);
                compareCodeBtn.addEventListener('click', ()=>{
                    if(inputCode.value==data.code){
                        emailMessage.style.color = 'green';
                        emailMessage.innerText = '이메일이 확인되었습니다.'
                        isInput[5] = 'true';
                    }else {
                        emailMessage.style.color = 'red';
                        emailMessage.innerText = '코드가 틀렸습니다.'
                        document.getElementById("send_code_email").disabled = false;
                        isInput[5] = 'false'
                    }
                })
            })
    })

    //     이용약관 확인
    let termsOfUse = document.getElementById('termsOfUse');
    termsOfUse.addEventListener('click', function (){
        let modalController = document.getElementById('middleModal_termsOfUse');
        let cancelBtn = document.getElementById('termsOfUse_btn_cancel');
        let acceptBtn = document.getElementById('termsOfUse_btn_accept');
        let content = document.getElementById('termsOfUse_content');
        let checkTermsOfUse = document.getElementById('termsOfUse');
        modalController.style.display = 'flex';
        acceptBtn.disabled = true;
        acceptBtn.style.backgroundColor = 'gray';
        acceptBtn.style.color = 'RGBA(0,0,0,0.5)';
        cancelBtn.addEventListener('click', ()=>{
            modalController.style.display = 'none';
            checkTermsOfUse.checked = false;
            isInput[6] = "false";
        })
        content.addEventListener('scroll', function (){
            if(content.scrollTop >= 1950){
                acceptBtn.disabled = null;
                acceptBtn.style.backgroundColor = 'RGB(146, 266, 248)';
                acceptBtn.style.color = 'black';
                acceptBtn.addEventListener('click', () =>{
                    isInput[6] = 'true';
                    modalController.style.display = 'none';
                    checkTermsOfUse.checked = true;

                })
            }
        })

    })
    //     회원가입 클릭
    let signup_btn = document.getElementById('signup_btn');
    let smallModal = document.getElementById('smallModal');
    let smallModalMessage = document.getElementById('successMessage');
    let smallX = document.getElementById('smallXButton');
    let smallOk = document.getElementById('small_signupOk_btn');
    signup_btn.addEventListener('click', ()=>{
        if(isInput.includes('false')){
            // 회원가입 버튼이 submit이면 제출과 동시에 새로고침이 되기 때문에 문제가 생긴다. 해결책을 한번 생각해보자.
            //  1. 서밋버튼을 작은 모달창에서 확인을 누르게 하면 되도록 한다. -> 이건 화면창에 나오는 생성 성공과 실패에 따른 메세지에 문제가 생길 것 같다.
            //  2. alert 창으로 한다 -> 제일 간단하지만 그렇게 하지 않기로 했다.
            //  3. 그렇다면 다른 곳으로 매핑을 했다가 다시 돌아오게 한 뒤 그것이 참일 때 모달창이 튀어나오고 그 다음 행동이 이루어지도록 하는 것은? 그렇다면 session에 message값을 가지고 있는지 파악하고 그 값을 찾아가는 것으로?
            //  일단 현재는 1번으로 만들었기 때문에 1번 방법으로 진행하는 것으로 해보자. -> 로그인에서 닉네임을 띄우면서 진행되게 하는게 가능할까?
            //  다른 곳으로 매핑을 해서 해결했다.
            smallModal.style.display = 'flex'
            smallModalMessage.innerText = '내용을 다시 확인해주세요.';
            smallOk.addEventListener('click', ()=>{smallModal.style.display = 'none';})
            smallX.addEventListener('click', ()=>{smallModal.style.display = 'none';})
        }else{
            signup_btn.type='submit';
        }
    })


</script>

</body>
</html>