<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.collatime.inquiry.model.dao.InquiryMapper">
    <resultMap id="inquiry" type="com.ohgiraffers.collatime.inquiry.model.dto.InquiryDTO">
        <id property="inquiryNo" column="INQUIRY_NO"/>
        <result property="inquiryStatus" column="INQUIRY_STATUS"/>
        <result property="inquiryTitle" column="INQUIRY_TITLE"/>
        <result property="inquiryContent" column="INQUIRY_CONTENT"/>
        <result property="userNo" column="CT_USER_NO"/>
        <result property="answerContent" column="ANSWER_CONTENT"/>
        <result property="projectNo" column="PROJECT_NO"/>
        <result property="passAuthName" column="PASSAUTH_NAME"/>
    </resultMap>

    <insert id="registInquiry" parameterType="com.ohgiraffers.collatime.inquiry.model.dto.InquiryDTO">
        INSERT INTO INQUIRY VALUES
        (
            #{inquiryNo}
        ,   '문의처리중'
        ,   #{inquiryTitle}
        ,   #{inquiryContent}
        ,   #{userNo}
        ,   #{answerContent}
        ,   null
        ,   null
        )
    </insert>

    <select id="myInquiryList" resultMap="inquiry">
        SELECT *
        FROM INQUIRY
        WHERE CT_USER_NO = #{userNo}
    </select>

    <select id="inquiryInfoByNo" resultMap="inquiry">
        SELECT *
        FROM INQUIRY
        WHERE INQUIRY_NO = #{inquiryNo}
    </select>

    <insert id="registPassAuthInquiry" parameterType="com.ohgiraffers.collatime.inquiry.model.dto.InquiryDTO">
        INSERT INTO INQUIRY VALUES
        (
            '0'
        ,   #{inquiryStatus}
        ,   #{inquiryTitle}
        ,   #{inquiryContent}
        ,   #{userNo}
        ,   #{answerContent}
        ,   #{projectNo}
        ,   #{passAuthName}
        )
    </insert>

    <update id="userReadInquiry">
        UPDATE INQUIRY
        SET INQUIRY_STATUS = '읽음'
        WHERE INQUIRY_NO = #{inquiryNo}
    </update>
</mapper>
