<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/css/common/image/newFavicon.ico">
    <link rel="stylesheet" href="/css/schedule/alertModalConfirm.css">
    <title>Title</title>
</head>
<body>
<!-- 작은 모달창 -->
<div id="alertModal" >
    <div id="alert-smallModal">
        <div id="alert-smallBlueHeader">
            <div id="alert-createXButton">X</div>
        </div>
        <div id="alert-confirmCreate">
            <div id="alert-confirmAlarm" style="line-height: 2">팀원이 없습니다. 팀원를 추가해 주세요.</div>
        </div>

        <div id="alert-bottomButtons">
            <div class="bottomButton" id="alertModalConfirmButton" >확인</div>
        </div>
    </div>
</div>
</body>
</html>