<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>통합된 달력 페이지</title>

    <link rel="stylesheet" href="/css/schedule/calendar.css">
    <link rel="stylesheet" href="/css/schedule/details.css">
    <link rel="stylesheet" href="/css/schedule/delete.css">
    <link rel="stylesheet" href="/css/schedule/modify.css">
    <link rel="stylesheet" href="/css/schedule/makeschedule.css">
    <link rel="stylesheet" href="/css/schedule/deletecheck.css">
    <link rel="stylesheet" href="/css/common/leftBar.css">
</head>
<!-- jQuery 3.7.1 + SRI -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<style>
    .schedule-item{
        font-weight: normal;
        padding: 3px 0px;
        min-height: 22px;
        margin: 3px;
    //color: #fff;
    }
    .date{
        padding: 15px 0px;
    }
</style>
<body>
<div th:replace="common/programheader.html"></div>

<!-- 메인 레이아웃 -->
<div class="main-layout">
    <!-- 왼쪽 사이드바 -->
    <div id="leftBarLayout">
        <div id="blueBackground">
            <div id="profile"></div>
            <div id="nickname">닉네임 나중에 바꾸기</div>
            <div id="myPage">마이페이지</div>
            <div id="whiteBar1"></div>
            <span id="textMyProject">My Project</span>
            <div id="projectMenu" th:each="project : ${ projectList }">
                <img src="/css/project/image/folderIcon.png" id="projectIcon">
                <span id="menuProjectName" th:text="${ project.projectName }"
                      th:title="${ project.projectName }"></span>
            </div>
            <div id="whiteBar2"></div>
            <div id="doInquiry">
                <img src="/css/project/image/inquiryIcon.png" id="firstInquiry">
                <span id="doInquiryText">문의하기</span>
            </div>
            <div id="authority">
                <img src="/css/project/image/inquiryIcon.png" id="secondInquiry">
                <span id="authorityText">권한 위임 요청</span>
            </div>
        </div>
    </div>

    <!-- 메인 달력 컨테이너 -->
    <div class="calendar-container">
        <!-- 새로 만든 메인 캘린더 div -->
        <div class="main-calendar">
            <div class="calendar">
                <div class="header">
                    <div class="year-month"></div>
                    <div class="nav">
                        <button class="nav-btn go-prev">&lt;</button>
                        <button class="nav-btn go-today">Today</button>
                        <button class="nav-btn go-next">&gt;</button>
                    </div>
                </div>
                <div class="main">
                    <div class="days">
                        <div class="day">일</div>
                        <div class="day">월</div>
                        <div class="day">화</div>
                        <div class="day">수</div>
                        <div class="day">목</div>
                        <div class="day">금</div>
                        <div class="day">토</div>
                    </div>
                    <div class="dates"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/leftBar.html" ></div>
<!-- 모달 창 -->

<div th:replace="schedule/alertModal.html"  ></div>


<div th:replace="schedule/empty.html" id="emptyModal" style="display: none; z-index: 5"></div> <!-- 날짜 클릭 시 스케줄 없을 때-->
<div th:replace="schedule/list.html" ></div><!-- 날짜 클릭 시 스케줄 있을 때-->
<div th:replace="schedule/createsuccess.html"></div>
<!-- 생성 성공 시-->
<div th:replace="schedule/makeschedule.html"  ></div>


<div th:replace="schedule/deletecheck.html"  ></div>
<div th:replace="schedule/modifycheck.html"  ></div>



<div
        th:replace="schedule/details :: #detailsModal"
        th:with="schedule=${schedule}, creatorName=${creatorName}"
        id="detailsModal"
        style="display: none; z-index: 10; position:absolute;">
</div>




<script>
    function detailsConfirmButton(){
        $("#detailsModal").hide();
    }


    $(function(){
        $("#createXButton").on("click", function(){
            $("#createsuccessModal").hide();
            location.reload();
        })
    });
</script>
<script>


    // plusList 버튼을 눌렀을 때 makescheduleModal을 열고 listModal을 닫는 함수
    document.getElementById("plusList").addEventListener("click", function() {
        document.getElementById("listModal").style.display = "none"; // 현재 모달 닫기

        const makescheduleModal = document.getElementById("makescheduleModal");
        makescheduleModal.querySelectorAll("input, textarea").forEach(input => {
            input.value= "";
        });
        makescheduleModal.style.display = "flex";
    });
</script>


<!--등록-->
<script src="/js/schedule/calendar.js"></script>
<script src="/js/schedule/makeschedule.js"></script>
<script src="/js/schedule/details.js"></script>



</body>
</html>
