<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/schedule/createsuccess.css">
    <title>Title</title>
</head>
<body>
<!-- 작은 모달창 -->
<div id="createsuccessModal" style="display: flex;">
    <div id="smallModal">
        <div id="smallBlueHeader">
            <div id="createXButton">X</div>
        </div>
        <div id="confirmCreate">
            <div id="confirmAlarm">생성이 완료되었습니다.</div>
        </div>

        <div id="bottomButtons">
            <div class="bottomButton" id="confirmButton">확인</div>
        </div>
    </div>
</div>
</body>
</html>