<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/schedule/deletecheck.css">
    <link rel="icon" href="/css/common/image/newFavicon.ico">
    <title>Title</title>
</head>
<body>
<div id="delete-smallModal">
    <div id="delete-smallBlueHeader" onclick="deleteCancelModal()">
        <div id="delete-smallXButton">X</div>
    </div>
    <div id="delete-checkDelete">
        <div id="delete-confirmCheck">일정을 삭제하시겠습니까?</div>
    </div>

    <div id="delete-bottomButtons">
        <div class="bottomButton" id="delete-cancelButton"  onclick="deleteCancelModal()">취소</div>
        <div class="bottomButton" id="delete-confirmButton" onclick="deleteConfirmAction()">확인</div>
    </div>
</div>
</body>
</html>