<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/schedule/delete.css">
    <link rel="icon" href="/css/common/image/newFavicon.ico">
    <title>Title</title>
</head>
<body>
<!-- 작은 모달창 -->
<div id="smallModal">
    <div id="smallBlueHeader">
        <div id="smallXButton">X</div>
    </div>
    <div id="confirmDelete">
        <div id="confirmAlarm">삭제가 완료되었습니다.</div>
    </div>

    <div id="bottomButtons">
        <div class="bottomButton" id="confirmButton">확인</div>
    </div>
</div>
</body>
</html>