<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/schedule/deletecheck.css">


    <title>Title</title>
</head>
<body>
<div id="smallModal">
    <div id="smallBlueHeader">
        <div id="smallXButton">X</div>
    </div>
    <div id="checkDelete">
        <div id="confirmCheck">일정을 삭제하시겠습니까?</div>
    </div>

    <div id="bottomButtons">
        <div class="bottomButton" id="cancelButton">취소</div>
        <div class="bottomButton" id="confirmButton">확인</div>
    </div>
</div>
</body>
</html>