<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/common/middlemodal.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/static/css/schedule/details.css">
    <title>Title</title>
</head>
<body>
<div id="middleModal">
    <div id="middleBlueHeader">
        <div id="middleXButton">X</div>

        <div id="modifyList">
            <img src="/static/css/schedule/image/연필.png" id="pencil">
        </div>
        <div id="deleteList">
            <img src="/static/css/schedule/image/휴지통.png" id="trashCan">
        </div>

        <div id="assignmentName">Java 실습 문제 풀어오기
            <div id="assignmentColor"></div>
        </div>
        <br>
        <div id="assignmentPeriod">
            <img src="/static/css/schedule/image/시계.png" id="watch">
            <div id="startDate">10월 22일 (화요일)</div>
            <div id="slash">ㅡ</div>
            <div id="finalDate">10월 22일 (화요일)</div>
        </div>
        <br>
        <div id="participant">
            <img src="/static/css/schedule/image/인원.png" id="people">
            <div id="teammate">김주혜 이하은 조형석 박수완</div>
        </div>
        <br>

        <div id="assignmentSubject">
            <img src="/static/css/schedule/image/과제내용.png" id="assignment">
            <div id="assignmentDetail">내일까지 실습 문제 풀어오기</div>
        </div>

        <div id="create">
            <div id="creator">생성자 | </div>
            <div id="creatorName">김주혜</div>
        </div>
    </div>

    <div id="bottomButtons">
        <div class="bottomButton" id="cancelButton">취소</div>
        <div class="bottomButton" id="confirmButton">확인</div>
    </div>
</div>
</body>
</html>