<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/common/middlemodal.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/static/css/schedule/basic.css">
    <link rel="stylesheet" href="/static/css/schedule/empty.css">
    <title>Title</title>
</head>
<body>
<div id="modalContent">
<div id="middleModal">
    <div id="middleBlueHeader">
        <div id="middleXButton">X</div>
        <button id="plusList">
            <img src="/static/css/schedule/image/plusList.png">
        </button>
    </div>
    <div id="centeredContent">
        <img src="/static/css/schedule/image/emptycalendar.png" id="centerImage">
        <p id="centerText">일정을 등록하세요.</p>
    </div>
</div>
</div>

</body>
</html>