<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/schedule/list.css">
  <link rel="icon" href="/css/common/image/newFavicon.ico">
  <title>Title</title>
</head>
<body>
<!-- 중간 모달창 -->
<div id="listModal">
  <div id="list-middleModal">
    <div id="list-middleBlueHeader">
      <div id="list-listXButton" style="cursor: pointer">X</div>
      <button id="list-plusList">
        <img src="/css/schedule/image/plusList.png">
      </button>

    </div>

    <div id="scheduleList">
      <div id="centeredContent">
        <img src="/css/schedule/image/emptycalendar.png" id="centerImage">
        <p id="centerText">일정을 등록하세요.</p>
      </div>
    </div>

  </div>
</div>



</body>
</html>