<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/schedule/list.css">
    <title>Title</title>
</head>
<body>
<!-- 중간 모달창 -->
<div id="middleModal">
  <div id="middleBlueHeader">
    <div id="middleXButton">X</div>
    <button id="plusList">
      <img src="/static/css/schedule/image/plusList.png">
    </button>
  </div>
  <div id="middleContent">
    <span class="dot"></span>
    <span class="text">Java 실습 문제 풀어오기</span>
  </div>
</div>

</body>
</html>