<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/common/smallmodal.css">
    <link rel="stylesheet" href="/static/css/schedule/details.css">
    <link rel="stylesheet" href="/static/css/schedule/modifycheck.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Title</title>
</head>
<body>
<div id="smallModal">
    <div id="smallBlueHeader">
        <div id="smallXButton">X</div>
    </div>
    <div id="checkModify">
        <div id="confirmCheck">수정 사항을 저장하시겠습니까?</div>
    </div>

    <div id="bottomButtons">
        <div class="bottomButton" id="cancelButton">취소</div>
        <div class="bottomButton" id="confirmButton">확인</div>
    </div>
</div>
</body>
</html>