/* 푸터 부분 */



#collatime-footer {
    position: absolute;
    width: 1903px;
    height: 356px;
    top: 3235px;
    background-color: #FFFFFF;
    border-bottom: solid;
    border-color: #92E2F8;
}
#footer-text1 {
    position: absolute;
    top: 75px;
    left: 132px;
    font-size: 16px;
    font-weight: bold;
    color: #003393;
}
#footer-text2 {
    position: absolute;
    top: 75px;
    left: 1190px;
    font-size: 16px;
    font-weight: bold;
    color: #003393;
}
#footer-text3 {
    position: absolute;
    top: 75px;
    left: 1308px;
    font-size: 16px;
    font-weight: bold;
    color: #003393;
}
#footer-text4 {
    position: absolute;
    top: 75px;
    left: 1485px;
    font-size: 16px;
    font-weight: bold;
    color: #003393;
}
#footer-text5 {
    position: absolute;
    top: 75px;
    left: 1636px;
    font-size: 16px;
    font-weight: bold;
    color: #003393;
}
#footer {
    position: absolute;
    width: 1903px;
    height: 121px;
    top: 3591px;
    background-color: #FFFFFF;
}
#footer-text6 {
    position: absolute;
    top: 35px;
    left: 132px;
    font-size: 16px;
    font-weight: bold;
    color: #003393;
}
#footer-text7 {
    position: absolute;
    top: 35px;
    left: 221px;
    font-size: 16px;
    font-weight: bold;
    color: #003393;
}
#footer-text8 {
    position: absolute;
    top: 35px;
    left: 375px;
    font-size: 16px;
    font-weight: bold;
    color: #003393;
}