@charset "UTF-8";

/*body {*/
/*    margin: 0;*/
/*}*/

*{
    cursor: default;
}

#collatime-main {
    position: absolute;
    width: 1915px;
    height: 853px;
    top:101px;
    background-color: #DFF7FD;
}
#main-intro1 {
    position: absolute;
    top: 240px;
    left: 200px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.5;
    color: #003393;
}
#main-intro2 {
    position: absolute;
    top: 420px;
    left: 200px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    color: #003393;
}
/* 두번째 섹션 */
#collatime-second-intro {
    position: absolute;
    width: 1915px;
    height: 853px;
    top: 954px;
    color: #003393;
    background-color: #FFFFFF;
}
#big-title1 {
    position: absolute;
    top: 45px;
    left: 830px;
    font-size: 45px;
    font-weight: bold;
}
#first-title1 {
    position: absolute;
    top: 170px;
    left: 175px;
    font-size: 30px;
    font-weight: bold;
}
#first-intro1 {
    position: absolute;
    top: 240px;
    left: 175px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

#collaTimeImage1{

    position: absolute;
    top: 180px;
    left: 560px;
    width: 200px;
    height: 200px;

}

#second-title1 {
    position: absolute;
    top: 170px;
    left: 1075px;
    font-size: 30px;
    font-weight: bold;
}
#second-intro1 {
    position: absolute;
    top: 240px;
    left: 1075px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

#collaTimeImage2{

    position: absolute;
    top: 180px;
    left: 1460px;
    width: 200px;
    height: 200px;

}

/*  세번째 섹션 */
#collatime-third-intro {
    position: absolute;
    width: 1915px;
    height: 853px;
    top: 1430px;
    color: #003393;
    background-color: #FFFFFF;
}

#big-title2 {
    position: absolute;
    top: 45px;
    left: 878px;
    font-size: 45px;
    font-weight: bold;
}
#first-title2 {
    position: absolute;
    top: 170px;
    left: 200px;
    font-size: 30px;
    font-weight: bold;
}
#first-intro2 {
    position: absolute;
    top: 240px;
    left: 200px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

#projectImg{

    position: absolute;
    width: 300px;
    height: 150px;
    left: 780px;
    top: 120px;
    box-shadow: 5px 5px 5px #858585;

}

#createFunctionArea{

    position: relative;
    width: 500px;
    height: 180px;
    left: 210px;
    top: 280px;

}

#explainProjectFunction {
    position: absolute; /* 위치를 고정하기 위해 absolute 설정 */
    display: none; /* 기본적으로 숨기기 */
    z-index: 10; /* 다른 요소 위로 올리기 */
    width: 480px; /* 너비 설정 */
    height: 160px; /* 높이 설정 */
    background: #DFF7FD; /* 배경 색상 설정 */
    border: 1px solid #000; /* 테두리 설정 */
    top: 10px; /* 상단 위치 설정 */
    left: 10px; /* 좌측 위치 설정 */
}


.projectFunction{

    position: absolute;
    top: 10px;
    left: 10px;
    width: max-content;
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    border: solid 2px #92E2F8;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease; /* 부드러운 전환 효과 추가 */
}

#create{
    float: left;
    cursor: pointer;
}
#select{
    float: left;
    margin-left: 120px;
    cursor: pointer;
}
#join{
    float: left;
    margin-left: 240px;
    cursor: pointer;
}
#update{
    float: left;
    margin-left: 360px;
    cursor: pointer;
}
#delete{
    float: left;
    margin-top: 70px;
    cursor: pointer;
}
#memberManagement{
    float: left;
    margin-left: 120px;
    margin-top: 70px;
    cursor: pointer;
}

#second-title2 {
    position: absolute;
    top: 170px;
    left: 1150px;
    font-size: 30px;
    font-weight: bold;
}
#second-intro2 {
    position: absolute;
    top: 240px;
    left: 1150px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

#scheduleImg{

    position: absolute;
    width: 300px;
    height: 150px;
    left: 780px;
    top: 290px;
    box-shadow: 5px 5px 5px #858585;
}

#scheduleFunctionArea{

    position: absolute;
    width: 500px;
    height: 180px;
    left: 1180px;
    top: 280px;
}

#explainScheduleFunction {
    position: absolute; /* 위치를 고정하기 위해 absolute 설정 */
    display: none; /* 기본적으로 숨기기 */
    z-index: 10; /* 다른 요소 위로 올리기 */
    width: 480px; /* 너비 설정 */
    height: 160px; /* 높이 설정 */
    background: #DFF7FD; /* 배경 색상 설정 */
    border: 1px solid #000; /* 테두리 설정 */
    top: 10px; /* 상단 위치 설정 */
    left: 10px; /* 좌측 위치 설정 */
}

.scheduleFunction{
    position: absolute;
    top: 10px;
    left: 10px;
    width: max-content;
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    border: solid 2px #92E2F8;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease; /* 부드러운 전환 효과 추가 */

}

#scheduleSelect{
    float: left;
    cursor: pointer;
}
#scheduleCreate{
    float: left;
    margin-left: 90px;
    cursor: pointer;

}
#scheduleUpdate{
    float: left;
    margin-left: 180px;
    cursor: pointer;

}
#scheduleDelete{
    float: left;
    margin-left: 270px;
    cursor: pointer;

}

/* 네번째 섹션 - 직원 후기 */
#collatime-fourth-intro1 {
    position: absolute;
    width: 1915px;
    height: 853px;
    top: 1906px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

#big-title3 {
    position: absolute;
    top: 45px;
    font-size: 45px;
    font-weight: bold;
}

.memberImage{
    width: 150px;
    height: 180px;
}

.memberComment{

    position: absolute;
    font-size: 18px;
    font-style: normal;
    width: 760px;
    height: 110px;
    left: 20px;
    top: 15px;

    /*display: flex;*/
    /*justify-content: center;*/
    /*line-height: 150px;*/

}

#HSImage {
    position: absolute;
    left: 270px;
    top: 145px;
}

#sub1 {
    position: absolute;
    width: 800px;
    height: 150px;
    top: 180px;
    left: 450px;
    background-color: #E7E7E7;
    border-radius: 10px;
    line-height: 1.3;

}

#JHImage {
    position: absolute;
    left: 1540px;
    top: 350px
}

#sub2 {
    position: absolute;
    width: 800px;
    height: 150px;
    top: 385px;
    left: 710px;
    background-color: #E7E7E7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    line-height: 1.3;

}

#SWImage {
    position: absolute;
    left: 270px;
    top: 565px;
}

#sub3 {
    position: absolute;
    width: 800px;
    height: 150px;
    top: 600px;
    left: 450px;
    background-color: #E7E7E7;
    border-radius: 10px;
    line-height: 1.3;
}

/* 4번째 섹션 */
#collatime-fourth-intro2 {
    position: absolute;
    width: 1915px;
    height: 476px;
    top: 2759px;
    background-color: #92E2F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big-title4 {
    position: absolute;
    /*top: 130px;*/
    /*left: 455px;*/
    font-size: 64px;
    font-weight: bold;
    color: #003393;
}