
#middleModal_passAuthority{
    z-index: 10000;

    position: absolute;
    width: 554px;
    height: 592px;
    left: 683px;
    top: 130px;

    background: #FFFFFF;
    border: 1px solid #595959;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);*/
    border-radius: 25px;

}
#middleBlueHeader_passAuthority{
    z-index: 10000;

    position: absolute;
    width: 554px;
    height: 51px;

    background: #92E2F8;
    border-bottom: 1px solid #282828;
    border-radius: 25px 25px 0px 0px;

}
#middleXButton_passAuthority{
    z-index: 10000;

    width: 30px;
    height: 34px;
    font-size: 30px;
    position: absolute;
    left: 506px;
    top: 5px;

}

/*권한 위임 요청 텍스트*/
#passAuthority_text{
    z-index: 10100;

    position: absolute;
    width: 200px;
    height: 30px;
    left: 709px;
    top: 201px;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;

    color: #000000;


}

/*권한 위임 비밀번호 확인버튼*/
#passAuthority_password_btn{
    z-index: 10000;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 1100px;
    top: 650px;

    background: #92E2F8;
    border-radius: 15px;
    border: none;


    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    text-align: center;


    color: #000000;
}


/*권한 위임 비밀번호 확인 텍스트*/
#passAuthority_password_text{
    z-index: 10100;


    position: absolute;
    width: 470px;
    height: 36px;
    left: 709px;
    top: 390px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;

    color: #000000;


}

/*권한 위임 비밀번호 입력창*/
#passAuthority_password_input{

    z-index: 10100;
    position: absolute;
    width: 470px;
    left: 709px;
    top: 429px;
    height: 50px;

    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 5px;

    font-size: 20px;

}

/*비밀번호 확인 메세지*/
#passAuthority_password_message{
    z-index: 10100;
    position: absolute;
    width: 470px;
    left: 709px;
    top: 489px;

    font-size: 18px;
}

/*취소버튼*/
#passAuthority_cancel_btn{
    z-index: 10100;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 985px;
    top: 650px;

    background: rgba(146, 226, 248, 0.3);
    border-radius: 15px;
    border: none;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    text-align: center;


    color: #000000;
}

/*위임할 프로젝트 텍스트*/
#passAuthority_project_text{
    z-index: 10100;

    position: absolute;
    width: 210px;
    height: 22px;
    left: 735px;
    top: 306px;

    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #000000;


}
/*위임할 프로젝트 셀렉션*/
#passAuthority_project_select{
    z-index: 10020;

    position: absolute;
    width: 413px;
    height: 46px;
    left: 735px;
    top: 338px;

    background: #FFFFFF;
    border: 2px solid #92E2F8;

}
/*위임할 닉네임 텍스트*/
#passAuthority_nickname_text{
    z-index: 10100;
    /* 위임할 멤버 닉네임 */

    position: absolute;
    width: 213px;
    height: 23px;
    left: 740px;
    top: 421px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #000000;

}
/*위임할 닉네임 셀렉션*/
#passAuthority_nickname_select{
    z-index: 10200;

    box-sizing: border-box;

    position: absolute;
    width: 413px;
    height: 46px;
    left: 735px;
    top: 450px;

    background: #FFFFFF;
    border: 2px solid #92E2F8;

}

/*권한 위임 메세지*/
#passAuthority_message{
    z-index: 10010;

    display: none;
    position: absolute;
    width: 520px;
    height: 54px;
    left: 779px;
    top: 511px;

    color: red;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

/*권한 위임 가이드*/
#passAuthority_guide_text{
    z-index: 10010;

    position: absolute;
    width: 520px;
    height: 54px;
    left: 699px;
    top: 561px;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

}

/*권한 위임 확인 버튼*/
#passAuthority_ok_btn{
    z-index: 10000;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 1100px;
    top: 650px;

    background: #92E2F8;
    border-radius: 15px;
    border: none;


    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    text-align: center;

    color: #000000;
}

#passAuthority_password_area{
    /*display: none;*/
}

#passAuthority_area{
    display: none;
}