<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.collatime.schedule.model.dao.ScheduleMapper">

    <resultMap id="scheduleResultMap" type="com.ohgiraffers.collatime.schedule.model.dto.ScheduleDTO">
        <id property="scheduleNo" column="CT_SCHEDULE_NO"/>
        <result property="projectNo" column="PROJECT_NO"/>
        <result property="scheduleStartDate" column="CT_SCHEDULE_START_DATE"/>
        <result property="scheduleEndDate" column="CT_SCHEDULE_END_DATE"/>
        <result property="scheduleContent" column="CT_SCHEDULE_CONTENT"/>
        <result property="scheduleTitle" column="CT_SCHEDULE_TITLE"/>
        <result property="scheduleCreator" column="CT_SCHEDULE_CREATOR"/>
        <result property="colorCode" column="COLOR_CODE"/>
        <result property="textColorCode" column="TEXT_COLOR_CODE"/>
    </resultMap>


    <!-- 사용자 모든 스케줄 조회 쿼리 -->
    <select id="getUserSchedules" parameterType="string" resultMap="scheduleResultMap">
        SELECT *
        FROM ct_schedule
        WHERE CT_SCHEDULE_CREATOR = #{username}
        AND PROJECT_NO=#{projectNo}
    </select>

    <!-- 특정 일정 조회 쿼리 -->
    <select id="getSchedule" parameterType="int" resultMap="scheduleResultMap">
        SELECT
        CT_SCHEDULE_NO,
        COLOR_CODE,
        CT_SCHEDULE_TITLE,
        CT_SCHEDULE_START_DATE,
        CT_SCHEDULE_END_DATE,
        CT_SCHEDULE_CONTENT,
        TEXT_COLOR_CODE
        FROM ct_schedule
        WHERE CT_SCHEDULE_NO = #{scheduleNo}
        AND PROJECT_NO=#{projectNo}
    </select>

    <!-- 일정 추가 쿼리 -->
    <insert id="insertSchedule" parameterType="com.ohgiraffers.collatime.schedule.model.dto.ScheduleDTO"
            useGeneratedKeys="true" keyProperty="scheduleNo">

        INSERT INTO ct_schedule
        (
        PROJECT_NO,
        CT_SCHEDULE_START_DATE,
        CT_SCHEDULE_END_DATE,
        CT_SCHEDULE_CONTENT,
        CT_SCHEDULE_TITLE,
        CT_SCHEDULE_CREATOR,
        COLOR_CODE,
        TEXT_COLOR_CODE
        )

        VALUES
        (
        #{projectNo},
        #{scheduleStartDate},
        #{scheduleEndDate},
        #{scheduleContent},
        #{scheduleTitle},
        #{scheduleCreator},
        #{colorCode},
        #{textColorCode}
        )

    </insert>

    <!-- 일정 수정 쿼리 -->
    <update id="updateSchedule" parameterType="com.ohgiraffers.collatime.schedule.model.dto.ScheduleDTO">
        UPDATE ct_schedule
        SET PROJECT_NO = #{projectNo},
        CT_SCHEDULE_START_DATE = #{scheduleStartDate},
        CT_SCHEDULE_END_DATE = #{scheduleEndDate},
        CT_SCHEDULE_CONTENT = #{scheduleContent},
        CT_SCHEDULE_TITLE = #{scheduleTitle},
        CT_SCHEDULE_CREATOR = #{scheduleCreator},
        COLOR_CODE = #{colorCode},
        TEXT_COLOR_CODE= #{textColorCode}
        WHERE CT_SCHEDULE_NO = #{scheduleNo}
    </update>

    <!-- 일정 삭제 쿼리 -->
    <delete id="deleteSchedule" parameterType="int">
        DELETE FROM ct_schedule
        WHERE CT_SCHEDULE_NO = #{scheduleNo}
    </delete>

    <!-- 특정 사용자의 스케줄 개수 조회 (스케줄 존재 여부 확인용) -->
    <select id="countUserSchedules" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM ct_schedule WHERE schedule_creator = #{username}  AND PROJECT_NO=#{projectNo}
    </select>


    <select id="getScheduleNoList" resultMap="scheduleResultMap">
        SELECT * FROM ct_schedule
        WHERE CT_SCHEDULE_NO IN
        <foreach item="item" index="index" collection="scheduleNoList" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND PROJECT_NO=#{projectNo}
    </select>

    <select id="participantList" resultType="map">
        SELECT CT_USER_EMAIL AS email  FROM ct_user cu
        WHERE
        CT_USER_NO = ( select productor_no from project p where PROJECT_NO = #{projectNo})

        UNION

        SELECT jp.email FROM join_project jp WHERE PROJECT_NO = #{projectNo}
    </select>



    <delete id="deleteParticipant">
        DELETE FROM ct_schedule_participant WHERE  CT_SCHEDULE_NO=#{scheduleNo}
    </delete>


    <insert id="insertParticipant">
        INSERT INTO ct_schedule_participant  (CT_SCHEDULE_NO, PARTICIPANT_NO) VALUES(#{scheduleNo}, #{participantNo})
    </insert>


    <select id="scheduleParticipantList" resultType="map">
        SELECT
        CT_SCHEDULE_NO as scheduleNo ,
        PARTICIPANT_NO as participantNo,
        cu.CT_USER_EMAIL as email,
        cu.CT_USER_NAME as name,
        cu.CT_USER_NICKNAME as nickName
        FROM
        ct_schedule_participant csp
        INNER JOIN  ct_user cu ON csp.PARTICIPANT_NO = cu.CT_USER_NO

        WHERE  CT_SCHEDULE_NO=#{scheduleNo}
    </select>


</mapper>