<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="/static/css/project/reset.css">
  <link rel="stylesheet" href="/static/css/exception/erroretcpage.css">
</head>
<body>
<div id="errorEtcPageHead">
  <img src="/static/css/common/image/CollaTime-Logo.png" id="errorEtcPageLogo" onclick="location.href='/main'" alt="CollaTime로고"/>
</div>
<div id="errorEtcPageBody">
  <div id="errorEtcName">일시적인 오류가 발생했습니다.</div>
  <button type="button" id="errorEtcToMain" class="errorEtcButton" onclick="location.href='/main'">메인으로 가기</button>
  <button type="button" id="errorEtcToBefore" class="errorEtcButton" onclick="history.back()">이전으로 가기</button>
  <img src="/static/css/exception/image/errorImage.png" id="errorEtcImage">
  <div id="errorEtcCode1">기</div>
  <div id="errorEtcCode2">타</div>
  <div id="errorEtcCode3">에</div>
  <div id="errorEtcCode4">러</div>
  <div id="errorEtcCode5">!</div>
</div>
</body>
</html>