<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link rel="stylesheet" href="/css/project/reset.css">
    <link rel="stylesheet" href="/css/exception/error500page.css">
</head>
<body>
<div id="error500PageHead">
    <img src="/css/common/image/CollaTime-Logo.png" id="error500PageLogo" onclick="location.href='/main'">
</div>
<div id="error500PageBody">
    <div id="error500Name">서버가 요청 사항을 수행할 수 없습니다.</div>
    <button type="button" id="error500toMain" class="error500Button" onclick="location.href='/project'">메인으로 가기</button>
    <button type="button" id="error500toBefore" class="error500Button" onclick="history.back()">이전으로 가기</button>
    <img src="/css/exception/image/errorImage.png" id="error500Image" alt="에러 코드 이미지"/>
    <div id="error500Code1">5</div>
    <div id="error500Code2">0</div>
    <div id="error500Code3">0</div>
    <div id="error500Code4">에</div>
    <div id="error500Code5">러</div>
</div>
</body>
</html>