<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="/css/project/reset.css">
    <link rel="stylesheet" href="/css/exception/error404page.css">
</head>
<body>
<div id="error404PageHead">
    <img src="/css/common/image/CollaTime-Logo.png" id="error404PageLogo" onclick="location.href='/main'" alt="CollaTime로고"/>
    <button type="button" id="toMain" onclick="location.href='/main'">메인으로 가기</button>
    <button type="button" id="toBefore">이전으로 가기</button>
</div>
<div id="error404PageBody">
    <div id="error404Name" th:text="${ errorname }"></div>
    <img src="/css/exception/image/errorImage.png" id="error404Image">
    <div id="error404Code1">4</div>
    <div id="error404Code2">0</div>
    <div id="error404Code3">4</div>
    <div id="error404Code4">에</div>
    <div id="error404Code5">러</div>
</div>
</body>
</html>