<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>400</title>
    <link rel="stylesheet" href="/css/project/reset.css">
    <link rel="stylesheet" href="/css/exception/error400page.css">
</head>
<body>
<div id="error400PageHead">
    <img src="/css/common/image/CollaTime-Logo.png" id="error400PageLogo" onclick="location.href='/main'">
</div>
<div id="error400PageBody">
    <div id="error400Name">서버가 요청 사항을 이해하지 못했습니다.</div>
    <button type="button" id="error400toMain" class="error400Button" onclick="location.href='/project'">메인으로 가기</button>
    <button type="button" id="error400toBefore" class="error400Button" onclick="history.back()">이전으로 가기</button>
    <img src="/css/exception/image/errorImage.png" id="error400Image">
    <div id="error400Code1">4</div>
    <div id="error400Code2">0</div>
    <div id="error400Code3">0</div>
    <div id="error400Code4">에</div>
    <div id="error400Code5">러</div>
</div>
</body>
</html>