<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="icon" href="/css/common/image/newFavicon.ico">
    <link rel="stylesheet" href="/css/mypage/myinquiryinfo.css">
</head>
<body>
<div th:include="mypage/mypagemain"></div>

<div id="bigModal_myInquiryInfo">
    <div id="bigBlueHeader_myInquiryInfo">
        <div id="bigXButton_myInquiryInfo">X</div>
    </div>
</div>
<!--문의내역 텍스트-->
<div id="myInquiryInfo_text">문의 내역</div>
<!--문의 제목 구간-->
<div id="myInquiryInfo_title_text">문의 제목</div>
<div id="myInquiryInfo_title_line"></div>
<div id="myInquiryInfo_title_context" th:text="${inquiryinfo.inquiryTitle}"></div>

<!--문의 내용 구간-->
<div id="myInquiryInfo_content_text">문의 내용</div>
<div id="myInquiryInfo_content_line"></div>
<div id="myInquiryInfo_content_context" th:text="${inquiryinfo.inquiryContent}"></div>
<!--답변 내용 구간-->
<div id="myInquiryInfo_answer_text">답변 내용</div>
<div id="myInquiryInfo_answer_line"></div>
<div id="myInquiryInfo_answer_context"></div>

<button id="myInquiryInfo_ok_btn">확인</button>

<script>
    const inquiryStatus = `[[${inquiryinfo.inquiryStatus}]]`
    if(inquiryStatus==='답변'){
        let link = "/inquiry/userReadInquiry/"+`[[${inquiryinfo.inquiryNo}]]`
        fetch(link)
            .then(res=>res.json())
            .then(data=>{
            })
    }

    const answerContent = `[[${inquiryinfo.answerContent}]]`
    const myInquiryInfoAnswerContent = document.getElementById('myInquiryInfo_answer_context')
    if(answerContent.length>0){
        myInquiryInfoAnswerContent.innerText = answerContent
    }else{
        myInquiryInfoAnswerContent.innerText = "처리중입니다."
    }
    const myInquiryInfoXBtn = document.getElementById('bigXButton_myInquiryInfo')
    const myInquiryInfoOkBtn = document.getElementById('myInquiryInfo_ok_btn')
    myInquiryInfoXBtn.addEventListener('click', ()=>{location.href="/mypage"})
    myInquiryInfoOkBtn.addEventListener('click', ()=>{location.href="/mypage"})
</script>
</body>
</html>