<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/adminleftbar.css">
</head>
<body>

<!-- Left Bar 구역 -->
<div id="leftBarLayout">
    <div id="blueBackground_admin">
        <div id="admin_text">관리자</div>
        <div id="leftBar_admin_nickname" th:text="${#authentication.principal.userNickname}"></div>
        <div id="whiteBar"></div>
        <div id="adminMenu">
            <div id="left_dashboard" class="adminMenu" onclick="location.href='/admin/dashboard'">
                <img src="/css/project/image/folderIcon.png" class="admin_leftBar_img">
                <span class="admin_to">대쉬보드</span>
            </div>
            <div id="left_user" class="adminMenu"  onclick="location.href='/admin/user'">
                <img src="/css/admin/image/회원.png" class="admin_leftBar_img">
                <span class="admin_to">회원</span>
            </div>
            <div id="left_project" class="adminMenu" onclick="location.href='/admin/project'">
                <img src="/css/admin/image/프젝.png" class="admin_leftBar_img">
                <span class="admin_to">프로젝트</span>
            </div>
            <div id="left_inquiry" class="adminMenu" onclick="location.href='/admin/inquiry'">
                <img src="/css/admin/image/inquiry.png" class="admin_leftBar_img">
                <span class="admin_to">고객 문의 내역</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>