<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Layout</title>
  <link rel="stylesheet" href="/css/project/reset.css">
  <link rel="stylesheet" href="/css/admin/dashboard.css">
</head>
<body>

<div th:include="/admin/adminleftbar.html"></div>
<div th:include="/common/programHeader.html"></div>

<div id="dashBoard_userArea" onclick="location.href='/admin/user'">
  <div class="areaText">회원</div>
  <img class="areaImg" src="/css/admin/image/회원.png">
</div>
<div id="dashBoard_projectArea" onclick="location.href='/admin/project'">
  <div class="areaText">프로젝트</div>
  <img class="areaImg" src="/css/admin/image/프젝.png">
</div>
<div id="dashBoard_inquiryArea" onclick="location.href='/admin/inquiry'">
  <div class="areaText">문의</div>
  <img class="areaImg" src="/css/admin/image/inquiry.png">
</div>

<div id="month-visitor-text">월별 사용자</div>
<div id="month-visitor">
  <div class="chart">
    <div class="y-axis">
      <div class="y-label">900 -</div>
      <div class="y-label">800 -</div>
      <div class="y-label">700 -</div>
      <div class="y-label">600 -</div>
      <div class="y-label">500 -</div>
      <div class="y-label">400 -</div>
      <div class="y-label">300 -</div>
      <div class="y-label">200 -</div>
      <div class="y-label">100 -</div>
      <div class="y-label">0 &nbsp;</div>
    </div>

    <div class="bars">
      <div class="bar" id="Jan"></div>
      <div class="bar" id="Feb"></div>
      <div class="bar" id="Apr"></div>
      <div class="bar" id="Mar"></div>
      <div class="bar" id="May"></div>
      <div class="bar" id="Jun"></div>
      <div class="bar" id="Jul"></div>
      <div class="bar" id="Aug"></div>
      <div class="bar" id="Sep"></div>
      <div class="bar" id="Oct"></div>
      <div class="bar" id="Nov"></div>
      <div class="bar" id="Dec"></div>
    </div>

    <div class="monthTexts">
      <div class="monthText">Jan</div>
      <div class="monthText">Feb</div>
      <div class="monthText">Mar</div>
      <div class="monthText">Apr</div>
      <div class="monthText">May</div>
      <div class="monthText">Jun</div>
      <div class="monthText">Jul</div>
      <div class="monthText">Aug</div>
      <div class="monthText">Sep</div>
      <div class="monthText">Oct</div>
      <div class="monthText">Nov</div>
      <div class="monthText">Dec</div>
    </div>

  </div>
</div>


<div id="day-visitor-text">일별 사용자</div>
<div id="day-visitor">
  <div class="chart">
    <div class="y-axis">
      <div class="y-label">140 -</div>
      <div class="y-label">120 -</div>
      <div class="y-label">100 -</div>
      <div class="y-label"> 80 -</div>
      <div class="y-label"> 60 -</div>
      <div class="y-label"> 40 -</div>
      <div class="y-label"> 20 -</div>
      <div class="y-label">0 &nbsp;</div>
    </div>

    <div class="bars2">
      <div class="bar2" id="Mon"></div>
      <div class="bar2" id="Tue"></div>
      <div class="bar2" id="Wed"></div>
      <div class="bar2" id="Thu"></div>
      <div class="bar2" id="Fri"></div>
      <div class="bar2" id="Sat"></div>
      <div class="bar2" id="Sun"></div>

    </div>

    <div class="weekTexts">
      <div class="weekText">Mon</div>
      <div class="weekText">Tue</div>
      <div class="weekText">Wed</div>
      <div class="weekText">Thu</div>
      <div class="weekText">Fri</div>
      <div class="weekText">Sat</div>
      <div class="weekText">Sun</div>

    </div>
  </div>
</div>
<script>
  document.getElementById('left_dashboard').style.background = 'white';
  document.getElementById('left_dashboard').style.boxShadow = 'inset 0.2px 0.2px 2px black';

  document.getElementById('logo').addEventListener('click', ()=>{location.href="/admin/dashboard"})

  const Mon = document.getElementById('Mon');
  const Tue = document.getElementById('Tue')
  const Wed = document.getElementById('Wed')
  const Thu = document.getElementById('Thu')
  const Fri = document.getElementById('Fri')
  const Sat = document.getElementById('Sat')
  const Sun = document.getElementById('Sun')

  const day = [Mon, Tue, Wed, Thu, Fri, Sat, Sun]
  fetch("/admin/weekmaker")
          .then(res=>res.json())
          .then(data=>{
            for(let i = 0; i < 7; i++){
              if(data[i]>140){
                day[i].style.height = '100%'
                day[i].style.borderRadius = '0px'
                day[i].style.borderWidth = '2px 0px 0px 0px'
                day[i].style.borderStyle = 'dashed solid solid solid'
                day[i].style.borderColor = 'black'

              }else {
              day[i].style.height = (data[i]/140*100)+'%'
              }
              day[i].addEventListener("mouseover", ()=>{day[i].innerText = data[i];})
              day[i].addEventListener("mouseout", ()=>{day[i].innerText = '';})
            }
          })

  const Jan = document.getElementById('Jan');
  const Feb = document.getElementById('Feb');
  const Mar = document.getElementById('Mar');
  const Apr = document.getElementById('Apr');
  const May = document.getElementById('May');
  const Jun = document.getElementById('Jun');
  const Jul = document.getElementById('Jul');
  const Aug = document.getElementById('Aug');
  const Sep = document.getElementById('Sep');
  const Oct = document.getElementById('Oct');
  const Nov = document.getElementById('Nov');
  const Dec = document.getElementById('Dec');

  const month = [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]

  fetch("/admin/monthmaker")
          .then(res => res.json())
          .then(data => {
            for (let i = 0; i < 13; i++) {
              if (data[i] > 900) {
                month[i].style.height = '100%'
                month[i].style.borderRadius = '0px'
                month[i].style.borderWidth = '2px 0px 0px 0px'
                month[i].style.borderStyle = 'dashed solid solid solid'
                month[i].style.borderColor = 'black'

              } else {
                month[i].style.height = (data[i]/900*100)+'%'
              }
              month[i].addEventListener("mouseover", () => {
                month[i].innerText = data[i];
              })
              month[i].addEventListener("mouseout", () => {
                month[i].innerText = ''
              })
            }
          })
</script>
</body>
</html>
