<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/static/css/common/bigmodal.css">
    <link rel="stylesheet" href="/static/css/admin/inquiry.css">
</head>
<body>
<!-- 큰 모달창 -->
<div id="bigModal">
    <div id="bigBlueHeader">
        <div id="bigXButton">X</div>
    </div>
    <div id="line"></div>
    <div id="inquiryHead">
        <div id="inquiryTitle">문의 제목</div>
        <div id="inquiryTitle2"><h3>여기는 제목을적어요</h3></div>
    </div>
</div>
</body>
</html>