<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/project/reset.css">
    <link rel="stylesheet" href="/css/admin/inquiry.css">
</head>
<body>

<div th:include="/admin/adminleftbar.html"></div>
<div th:include="/common/programHeader.html"></div>

<div id="inquiryTable_text">문의</div>

<div id="inquiryTablePassAuth_text">권한요청 목록</div>
<div id="inquiryTablePassAuth_area">
    <table id="inquiryTablePassAuth">
        <tr>
            <th style="width: 50px; background-color: #8DE6FF">번호</th>
            <th style="width: 160px; background-color: #8DE6FF">처리상태</th>
            <th style="width: 350px; background-color: #8DE6FF">문의제목</th>
            <th style="width: 90px; background-color: #8DE6FF">답변</th>
        </tr>
    </table>
</div>
<div id="inquiryTableRequire_text">문의요청 목록</div>
<div id="inquiryTableRequire_area">
    <table id="inquiryTableRequire">
        <tr>
            <th style="width: 50px; background-color: #8DE6FF;">번호</th>
            <th style="width: 160px; background-color: #8DE6FF">처리상태</th>
            <th style="width: 350px; background-color: #8DE6FF">문의제목</th>
            <th style="width: 90px; background-color: #8DE6FF">답변</th>
        </tr>
    </table>
</div>
<div id="inquiryTableAnswer_text">답변완료 목록</div>
<div id="inquiryTableAnswer_area">
    <table id="inquiryTableAnswer">
        <tr>
            <th style="width: 50px; background-color: #8DE6FF">번호</th>
            <th style="width: 160px; background-color: #8DE6FF">처리상태</th>
            <th style="width: 350px; background-color: #8DE6FF">문의제목</th>
            <th style="width: 90px; background-color: #8DE6FF">답변</th>
        </tr>
    </table>
</div>
<div id="inquiryTableRead_text">읽음 목록</div>
<div id="inquiryTableRead_area">
    <table id="inquiryTableRead">
        <tr>
            <th style="width: 50px; background-color: #8DE6FF">번호</th>
            <th style="width: 160px; background-color: #8DE6FF">처리상태</th>
            <th style="width: 350px; background-color: #8DE6FF">문의제목</th>
            <th style="width: 90px; background-color: #8DE6FF">답변</th>
        </tr>
    </table>
</div>
<button type="button" id="deleteAllRead" onclick="location.href='/admin/deleteinquiry'">일괄삭제</button>
</div>

<script>
    document.getElementById('left_inquiry').style.background = 'white';
    document.getElementById('left_inquiry').style.boxShadow = 'inset 0.2px 0.2px 2px black';

    const passAuthList = document.getElementById('inquiryTablePassAuth')
    const requireList = document.getElementById('inquiryTableRequire')
    const answerList = document.getElementById('inquiryTableAnswer')
    const readList = document.getElementById('inquiryTableRead')
    const deleteReadBtn = document.getElementById('deleteAllRead')
    const logo = document.getElementById('logo')
    logo.addEventListener('click', ()=>{location.href='/admin/dashboard'})

    fetch("/admin/PassAuth")
        .then(res=>res.json())
        .then(data=>{
            if(data.length>0){
                for (var i = 0; i<data.length; i++) {
                    const inquiryInfo = document.createElement('tr')
                    let answer = '';
                    let passLink = "/admin/authpass/"+data[i].inquiryNo;
                    if(data[i].answerContent===null || data[i].answerContent===''){
                        answer = 'N'
                    }else {
                        answer = 'Y'
                    }
                    inquiryInfo.innerHTML =
                        `
                        <th>${data[i].inquiryNo}</th>
                        <th>${data[i].inquiryStatus}</th>
                        <th>${data[i].inquiryTitle}</th>
                        <th>${answer} <button type="button" onclick="location.href='${passLink}'" style="float: right; margin-right: 5px; cursor: pointer;">위임</button></th>
                        `
                    passAuthList.append(inquiryInfo)
                }
            }else {
                const NoInquiryInfo = document.createElement('tr')
                NoInquiryInfo.innerHTML = `<th colspan="5" style="font-size: 25px; text-align: center; height: 60px">해당하는 값이 없습니다.</th>`
                passAuthList.append(NoInquiryInfo)
            }
        })

    fetch("/admin/Require")
        .then(res=>res.json())
        .then(data=>{
            if(data.length>0){
                for (var i = 0; i<data.length; i++) {
                    const inquiryInfo = document.createElement('tr')
                    let answerLink = "/admin/inquiryanswer/"+data[i].inquiryNo;
                    let answer = '';
                    if(data[i].answerContent===null || data[i].answerContent===''){
                        answer = 'N'
                    }else {
                        answer = 'Y'
                    }
                    inquiryInfo.innerHTML =
                        `
                        <th>${data[i].inquiryNo}</th>
                        <th>${data[i].inquiryStatus}</th>
                        <th>${data[i].inquiryTitle}</th>
                        <th>${answer} <button type="button" onclick="location.href='${answerLink}'" style="float: right; margin-right: 5px; cursor: pointer;">답변</button></th>
                        `
                    requireList.append(inquiryInfo)
                }
            }else {
                const NoInquiryInfo = document.createElement('tr')
                NoInquiryInfo.innerHTML = `<th colspan="5" style="font-size: 25px; text-align: center; height: 60px">해당하는 값이 없습니다.</th>`
                requireList.append(NoInquiryInfo)
            }
        })

    fetch("/admin/Answer")
        .then(res=>res.json())
        .then(data=>{
            if(data.length>0){
                for (var i = 0; i<data.length; i++) {
                    let inquiryLink = "/admin/inquiryinfo/"+data[i].inquiryNo;
                    const inquiryInfo = document.createElement('tr')
                    let answer = '';
                    if(data[i].answerContent===null || data[i].answerContent===''){
                        answer = 'N'
                    }else {
                        answer = 'Y'
                    }
                    inquiryInfo.innerHTML =
                        `
                        <th>${data[i].inquiryNo}</th>
                        <th>${data[i].inquiryStatus}</th>
                        <th>${data[i].inquiryTitle}</th>
                        <th>${answer}  <button type="button" onclick="location.href='${inquiryLink}'" style="float: right; margin-right: 5px;cursor: pointer;">상세</button></th>
                        `
                    answerList.append(inquiryInfo)
                }
            }else {
                const NoInquiryInfo = document.createElement('tr')
                NoInquiryInfo.innerHTML = `<th colspan="5" style="font-size: 25px; text-align: center; height: 60px">해당하는 값이 없습니다.</th>`
                answerList.append(NoInquiryInfo)
            }
        })


    fetch("/admin/Read")
        .then(res=>res.json())
        .then(data=>{
            if(data.length>0){
                for (var i = 0; i<data.length; i++) {
                    let inquiryLink = "/admin/inquiryinfo/"+data[i].inquiryNo;
                    const inquiryInfo = document.createElement('tr')
                    let answer = '';
                    if(data[i].answerContent===null || data[i].answerContent===''){
                        answer = 'N'
                    }else {
                        answer = 'Y'
                    }
                    inquiryInfo.innerHTML =
                        `
                        <th>${data[i].inquiryNo}</th>
                        <th>${data[i].inquiryStatus}</th>
                        <th>${data[i].inquiryTitle}</th>
                        <th>${answer} <button type="button" onclick="location.href='${inquiryLink}'" style="float: right; margin-right: 5px; cursor: pointer;">상세</button></th>
                        `
                    readList.append(inquiryInfo)
                }
            }else {
                const NoInquiryInfo = document.createElement('tr')
                NoInquiryInfo.innerHTML = `<th colspan="5" style="font-size: 25px; text-align: center; height: 60px">해당하는 값이 없습니다.</th>`
                readList.append(NoInquiryInfo)
            }
        })



</script>
</body>
</html>