<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/css/domain/project/modalCreateOrJoin.css">
</head>
<body>
<!-- 중간 모달창 -->
    <div id="middleModal">
        <div id="middleBlueHeader">
            <div id="middleXButton">X</div>
        </div>
        <div id="body">
            <span id="createProject">프로젝트 생성하기</span>
            <div id="areaCreateProject"></div>
            <span id="joinProject">프로젝트 참가하기</span>
            <div>
                <input type="text" id="inputCode" placeholder="전달받은 코드를 입력해주세요.">
                <button type="submit" id="joinButton">참가하기</button>
            </div>
            <button type="submit" id="cancel">취소</button>
            <button type="submit" id="confirm">확인</button>
        </div>
    </div>
    </body>
    </html>

</body>
</html>