<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/project/reset.css">
    <link rel="stylesheet" href="/static/css/project/modalInputAlert.css">
</head>
<body>
<!-- 작은 모달창 -->
<div id="modalInputAlert">
    <div id="inputAlertHeader">
        <div id="inputAlertXButton">X</div>
    </div>
    <div id="inputAlertBody">
        <p id="textInputAlert">필수 입력 사항을 기입해주세요.</p>
    </div>
    <button type="button" id="inputAlertConfirm">확인</button>
</div>
</body>
