<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/project/reset.css">
    <link rel="stylesheet" href="/static/css/project/modalIsRealDeleteMember.css">
</head>
<body>
<!-- 멤버 관리 페이지에서 멤버 삭제 시 진짜 삭제 여부 묻는 모달 -->
<div id="modalIsRealDeleteMember" style="z-index: 3">
    <div id="isRealDeleteMemberHeader">
        <div id="isRealDeleteMemberXButton">X</div>
    </div>
    <div id="isRealDeleteMemberBody">
        <span id="isRealDeleteMemberText"></span>
    </div>
    <button type="button" id="isRealDeleteMemberCancel">취소</button>
    <button type="button" id="isRealDeleteMemberConfirm">확인</button>
</div>
</body>
</html>