<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/project/modalDeleteProject.css">
</head>
<body>
<!-- 프로젝트 삭제 알림 모달 -->
<!-- 레이아웃 및 헤더 -->
<div id="deleteModal">
    <div id="deleteHeader">
        <div id="deleteXButton">X</div>
    </div>
        <!-- 내용 -->
    <div id="deleteBody">
        <img src="/static/css/project/image/exclamation%20mark.png" id="deleteAlertIcon" alt="경고 느낌표">
        <span id="deleteAlertText">을 삭제하시겠습니까?</span>
    </div>
    <button type="button" id="deleteCancel">취소</button>
    <button type="submit" id="deleteConfirm">생성</button>
</div>
</body>
</html>