<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/project/reset.css">
    <link rel="stylesheet" href="/static/css/project/modalCreateProject.css">
    <title>Title</title>
</head>
<body>
    <!-- 큰 모달창 레이아웃 -->
    <div id="bigModal">
        <div id="bigBlueHeader">
          <div id="bigXButton">X</div>
        </div>
      <!-- 내용 부분 -->
        <form>
          <div id="title">
            <input type="text" id="inputTitle">
          </div>
          <span id="summaryStar" class="star">*</span>
          <label id="summaryLabel" for="inputSummary">개요</label>
          <div id="summary">
            <textarea type="text" id="inputSummary"></textarea>
          </div>
<!--          <div id="purpose">-->
<!--            <span id="purposeStar" class="star">*</span>-->
<!--            <label id="purposeLabel" for="inputPurpose">목표 및 목적</label>-->
<!--            <input type="text" id="inputPurpose">-->
<!--          </div>-->
<!--          <div id="period">-->
<!--            <span id="startDateStar" class="star">*</span>-->
<!--            <label for="period" id="periodLabel">기간</label>-->
<!--            <div typeof="date" id="projectStartDate"></div>-->
<!--            <div typeof="date" id="projectEndDate"></div>-->
<!--          </div>-->
<!--          <div id="category">-->
<!--            <label for="category" id="categoryLabel">분류</label>-->
<!--            <button id="bank">은행</button>-->
<!--            <button id="insurance">보험사</button>-->
<!--            <button id="publicSector">공공부문</button>-->
<!--            <button id="web">웹포털</button>-->
<!--            <button id="application">앱개발</button>-->
<!--            <button id="etc">기타</button>-->
<!--          </div>-->
<!--          <div id="member">-->
<!--            <span id="memberStar" class="star">*</span>-->
<!--            <label for="member" id="memberLabel">인원초대</label>-->
<!--            <button id="inviteMember">+</button>-->
<!--          </div>-->
<!--          <button type="button" id="cancel">취소</button>-->
<!--          <button type="submit" id="confirm">확인</button>-->
        </form>
    </div>
</body>
</html>