<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/static/css/project/reset.css">
  <link rel="stylesheet" href="/static/css/project/modalManageMember.css">
</head>
<body>
<!-- 큰 모달창 -->
<div id="modalManageMember">
  <div id="manageMemberHeader">
    <div id="manageMemberXButton">X</div>
  </div>
  <div id="manageMemberBody">
    <p id="manageMemberText">팀원 관리</p>
    <div id="manageMemberList">
      <div id="manageMemberListHead">
        <p id="titleNickname" class = listHead>닉네임</p>
        <p id="titleEmail" class = listHead>이메일</p>
        <p id="titleNote" class = listHead>비고</p>
      </div>
      <div id="firstMember"></div>
    </div>

  </div>
</div>
</body>
</html>