<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/project/modalWrongJoinCode.css">
</head>
<body>
<!-- 잘못된 참가코드 입력 시 띄우는 모달 -->
<div id="wrongJoinCode" style="z-index: 3">
    <div id="wrongJoinCodeHeader">
        <div id="wrongJoinCodeXButton">X</div>
    </div>
    <div id="wrongJoinCodeBody">
        <p id="wrongJoinCodeText">잘못된 프로젝트 참가 코드입니다. <br>
            다시 입력하세요.</p>
    </div>
    <button type="button" id="wrongJoinCodeBodyConfirm">확인</button>
</div>
</body>
</html>