<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="/css/project/reset.css">-->
    <link rel="stylesheet" href="/css/project/modalInputAlert.css">
</head>
<body>
<!-- 작은 모달창 -->
<div id="modalInputAlert">
    <div id="inputAlertHeader">
        <div id="inputAlertXButton">X</div>
    </div>
    <div id="inputAlertBody">
        <p id="textInputAlert">필수 입력 사항을 기입해주세요.</p>
    </div>
    <button type="button" id="inputAlertConfirm">확인</button>
</div>
<!--<script>-->
<!--    $modalInputAlert = document.getElementById("modalInputAlert");-->
<!--    // $modalInputAlert.style.display = "none";-->

<!--    $inputAlertXButton = document.getElementById("inputAlertXButton");-->
<!--    $inputAlertXButton.onclick = function(){-->
<!--        $modalInputAlert.style.display = "none";-->
<!--    }-->
<!--    $inputAlertConfirm = document.getElementById("inputAlertConfirm");-->
<!--    $inputAlertConfirm.onclick = function(){-->
<!--        $inputAlertConfirm.style.display = "none";-->
<!--    }-->

<!--</script>-->
</body>
</html>
