<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/project/reset.css">
  <link rel="stylesheet" href="/css/project/modalInviteMember.css">
</head>
<body>
<!-- ---------------------------- 멤버 초대 모달 ---------------------------- -->
<div id="inviteMemberModal" style="z-index: 4">
    <div id="inviteMemberBlueHeader">
        <div id="inviteMemberXButton">X</div>
    </div>
    <div id="inviteModalMain">
        <span id="textMember">팀원관리</span>
        <div id="emailArea">
            <span id="textEmail">E-mail</span>
            <div id="sendEmail">
                <input type="email" id="inputEmail">
                <button type="button" id="addIcon">+</button>
            </div>
        </div>
        <div id="store">
            <img src="/css/project/image/memberIcon.png" id="storeEmailIcon" alt="멤버아이콘">
            <div id="storeEmailArea"></div>
        </div>
        <button type="button" id="sendEmailCancel">취소</button>
        <button type="submit" id="sendEmailConfirm">확인</button>
    </div>
</div>
<script>

    const inviteMemberModal = document.getElementById("inviteMemberModal");
    inviteMemberModal.style.display = "none";
    const addMemberBtn = document.getElementById("inviteMember");
    addMemberBtn.onclick = function(){
        inviteMemberModal.style.display = "";
    }

    const sendEmailCancel = document.getElementById("sendEmailCancel");
    sendEmailCancel.onclick = function(){
        inviteMemberModal.style.display = "none";
    }

    const inviteMemberXButton = document.getElementById("inviteMemberXButton");
    inviteMemberXButton.onclick = function(){
        inviteMemberModal.style.display = "none";
    }
</script>

</body>
</html>