<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/project/reset.css">
    <link rel="stylesheet" href="/static/css/project/modalMoreInviteMember.css">
</head>
<body>
<!-- ----------------------------- 팀원 관리 모달 - 팀원 추가 ------------------------ -->
<div id="moreInviteMemberModal" style="z-index: 4">
    <div id="moreInviteMemberBlueHeader">
        <div id="moreInviteMemberXButton">X</div>
    </div>
    <div id="moreInviteModalMain">
        <span id="moreTextMember">팀원관리</span>
        <div id="moreEmailArea">
            <span id="moreTextEmail">E-mail</span>
            <div id="moreSendEmail">
                <input type="email" id="moreInputEmail" name="inputEmail" placeholder="collaTime@gmail.com" value=""/>
                <input type="email" style="display: none" id="moreEmailList" name="email"/>
                <button type="button" id="moreAddIcon">+</button>
            </div>
        </div>
        <div id="moreStore">
            <img src="/css/project/image/memberIcon.png" id="moreStoreEmailIcon" alt="멤버아이콘">
            <div id="moreStoreEmailArea" style="display: flex; flex-wrap: wrap; align-content: flex-start; gap: 5px"></div>
        </div>
        <button type="button" id="moreSendEmailCancel">취소</button>
        <button type="button" id="moreSendEmailConfirm">확인</button>
    </div>
</div>
</body>
</html>