<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project</title>
  <link rel="stylesheet" href="/css/project/reset.css">
  <link rel="stylesheet" href="/css/project/projectMain.css">
  <link rel="stylesheet" href="/css/project/modalCreateOrJoin.css">
  <link rel="stylesheet" href="/css/project/modalCreateProject.css">
  <link rel="stylesheet" href="/css/project/modalInviteMember.css">
  <link rel="stylesheet" href="/css/project/modalUpdateProject.css">
  <link rel="stylesheet" href="/css/project/modalDeleteProject.css">
  <link rel="stylesheet" href="/css/project/modalInputAlert.css">
  <link rel="stylesheet" href="/css/project/modalWrongJoinCode.css">
  <link rel="stylesheet" href="/css/project/modalManageMember.css">
  <link rel="stylesheet" href="/css/project/modalMoreInviteMember.css">
</head>
<body>
<!-- 프로젝트 메인 화면 -->
<div id="main" style="z-index: 1">
  <!-- Header 구역 -->
  <div th:replace="common/programHeader"></div>
  <div th:replace="common/leftBar.html"></div>
  <!-- 메인 구역 -->
  <div>
    <span id="mainTitle">Project</span>
    <div id="mainArea">
      <!-- 프로젝트 폴더 -->
      <div id="createdProjectFolder" th:each="project : ${ projectList }">
        <input type="text" id="projectNo" style="display: none" th:value="${ project.projectNo }"/>
        <div id="folderHead"></div>
        <div id="folderBody">
          <div id="projectTitle" th:text="${ project.projectName }"></div>
          <div id="folderMenu">...</div>
          <div id="crudMenu">
            <span id="projectUpdate" class="crudText">수정하기</span>
            <span id="projectDelete" class="crudText">삭제하기</span>
            <span id="manageMember" class="crudText">멤버관리</span>
          </div>
        </div>
        <span id="projectFullName" th:text="${ project.projectName }" th:title="${ project.projectName }"></span>
      </div>
      <!-- NEW 프로젝트 폴더 -->
      <div id="newProject">
        <div id="newFolderHead"></div>
        <div id="newFolderBody">
          <div id="plus">+</div>
        </div>
        <span id="newProjectText">New 프로젝트</span>
      </div>
    </div>
  </div>
</div>
<script>
  // ------------------------------ Left Bar ------------------------------
  window.onload = function() {

    /* My Project List */
    const projectList = document.querySelectorAll("#projectMenu");
    for (let i = 0; i < projectList.length; i++) {
      projectList[i].style.top = (275 + (25 * ((i + 1) - 1))) + "px";
    }

    // ------------------------------ 메인 구역 ------------------------------
    /* 프로젝트 색상 배열 */
    let colorArray = ["#FEC4C4", "#D9F0FB", "#FFEFCC", "#FFA990", "#B7E58E", "#FFDAFA", "#F3DAFF", "#DADFFF", "#EDD5C0", "#D6EADF"];

    /* 생성된 프로젝트 폴더 영역 */
    // 폴더 전체 영역
    let createdProjectFolder = document.querySelectorAll("#createdProjectFolder");
    for (let i = 0; i < createdProjectFolder.length; i++) {
      if (i <= 3) {
        createdProjectFolder[i].style.left = (148 + (363 * ((i + 1) - 1))) + "px";
        createdProjectFolder[i].style.top = "200px";
      }
      if (i > 3 && i <= 7) {
        createdProjectFolder[i].style.left = (148 + (363 * ((i + 1) - 5))) + "px";
        createdProjectFolder[i].style.top = "502px";
      }
    }
    // 폴더 헤더
      let folderHead = document.querySelectorAll("#folderHead");
      for (let i = 0; i < folderHead.length; i++) {
        folderHead[i].style.backgroundColor = colorArray[i];
      }
      // 폴더바디
      let folderBody = document.querySelectorAll("#folderBody");
      for (let i = 0; i < folderBody.length; i++) {
        folderBody[i].style.backgroundColor = colorArray[i];
      }
      // 메뉴 텍스트
      let crudText = document.querySelectorAll(".crudText");
      for (let i = 0; i < crudText.length; i++) {
        crudText[i].style.backgroundColor = "#F5F5F5";
        crudText[i].style.width = "90px";
        crudText[i].style.left = "10px";
        crudText[i].addEventListener("mouseover", function () {
          crudText[i].style.backgroundColor = "#E2E2E2";
          crudText[i].style.width = "110px";
          crudText[i].style.left = "0px";
        });
        crudText[i].addEventListener("mouseout", function () {
          crudText[i].style.backgroundColor = "#F5F5F5";
          crudText[i].style.width = "90px";
          crudText[i].style.left = "10px";
        });
      }
        // 메뉴 아이콘 ...
        let folderMenu = document.querySelectorAll("#folderMenu");
        let crudMenu = document.querySelectorAll("#crudMenu");
        for (let i = 0; i < folderMenu.length; i++) {
          crudMenu[i].style.display = "none";
          folderMenu[i].onclick = function () {
            if (crudMenu[i].style.display === 'block') {
              crudMenu[i].style.display = 'none';
            } else {
              crudMenu[i].style.display = 'block';
            }
          }
        }

      /* New 프로젝트 폴더 영역 */
      let maxNum = createdProjectFolder.length;
      const newProject = document.getElementById("newProject");
      if (maxNum > 0) {
        let lastProjectLeft = Number(createdProjectFolder[maxNum - 1].style.left.replace("px", ""));
        for (let i = 0; i < createdProjectFolder.length; i++) {
          if (i < 3) {
            newProject.style.left = (lastProjectLeft + 363) + "px";
            newProject.style.top = "200px";
          } else if (i === 3) {
            newProject.style.left = "148px";
            newProject.style.top = "507px";
          } else if (i > 3 && i < 7) {
            newProject.style.left = (lastProjectLeft + 363) + "px";
            newProject.style.top = "507px";
          }
        }
      } else {
        newProject.style.left = "148px";
        newProject.style.top = "200px";
      }
    }

</script>

<!-- ----------------------------------------------- 프로젝트 참여 혹은 생성 모달창 ----------------------------------------------- -->
<div id="createOrJoin" style="z-index: 2">
  <div id="middleBlueHeader">
    <button id="middleXButton">X</button>
  </div>
  <div id="body">
    <span id="createProject">프로젝트 생성하기</span>
    <button type="button" id="areaCreateProject">+</button>
    <span id="joinProject">프로젝트 참가하기</span>
    <div>
      <input type="text" id="inputCode" placeholder="전달받은 코드를 입력해주세요." name="code">
      <button type="button" id="joinButton">참가하기</button>
      <input type="text" id="inputUserNo" style="display: none" name="userNo" />
    </div>
    <button type="button" id="smallCancel">취소</button>
    <button type="button" id="smallConfirm">확인</button>
  </div>
</div>
<!-- 잘못된 참가코드 입력 시 띄우는 모달 -->
<div id="wrongJoinCode" style="z-index: 3">
  <div id="wrongJoinCodeHeader">
    <div id="wrongJoinCodeXButton">X</div>
  </div>
  <div id="wrongJoinCodeBody">
    <p id="wrongJoinCodeText">잘못된 프로젝트 참가 코드입니다. <br>
      다시 입력하세요.</p>
  </div>
  <button type="button" id="wrongJoinCodeBodyConfirm">확인</button>
</div>

<script>
  /* 평소에는 모달창이 안보였다가 메인 화면에서 new프로젝트 누르면 모달 창이 띄어지게 하기 */
  const modalCreateOrJoin = document.getElementById("createOrJoin");
  modalCreateOrJoin.style.display = "none";

  newProject.addEventListener("click", function(){
    modalCreateOrJoin.style.display = "";
    let popupType = document.getElementById("popupType");
    popupType.value = "create";
  });

  /* X버튼, 취소 버튼 클릭 시 모달 없애기 */
  const xButton = document.getElementById("middleXButton");
  xButton.onclick = function(){
    modalCreateOrJoin.style.display = "none";
  }

  const cancelButton = document.getElementById("smallCancel");
  cancelButton.onclick = function(){
    modalCreateOrJoin.style.display = "none";
  }

  /* 참가 코드 클릭 시 placeHolder 사라지기 */
  const $inputCode = document.getElementById("inputCode");
  $inputCode.addEventListener("focus", function(e){

    $inputCode.placeholder = ""

  });
  $inputCode.addEventListener("blur", function(){
    $inputCode.placeholder = "전달받은 코드를 입력해주세요."
  });

  /* ++) 알맞은 참가 코드를 입력하면 프로젝트 생성하기 */
  $joinButton = document.getElementById("joinButton");
  $joinButton.onclick = function() {
      fetch("/project/selectJoinCode")
              .then((res) => res.json())
              .then((data) => {
                console.log(data);
                for(let i = 0; i < data.length; i++) {
                  if ($inputCode.value === data[i].joinCode) {
                    console.log(data[i]);
                    $wrongJoinCode.style.display = "none";
                    inputUserNo = document.getElementById("inputUserNo");

                    fetch("/project/updateUserNo",
                            {
                              method: "POST",
                              headers:
                                      {
                                        'Content-Type' : 'application/json',
                                      },
                              body: JSON.stringify({
                                joinCode : data[i].joinCode,
                                email : `[[|${#authentication.principal.userEmail}|]]`,
                                userNo : `[[|${#authentication.principal.userNo}|]]`
                              })
                            })
                            .then(res => {
                              if(res.redirected){
                                window.location.href = res.url;
                              } else {
                                window.location.href = "/project/projectmain"
                              }
                            })
                            .then((result) => console.log(result))
                            .then((error) => console.log(error));
                  } else if($inputCode.value !== data[i].joinCode) {
                    /* 다시 입력하라는 모달 띄우기 */
                    $wrongJoinCode = document.getElementById("wrongJoinCode");
                    $wrongJoinCode.style.display = "";
                  }
                }
              });
  }

  // 다시 입력하라는 모달 기본 속성으로 안보이게 하기
  $wrongJoinCode = document.getElementById("wrongJoinCode");
  $wrongJoinCode.style.display = "none";

  $wrongJoinCodeXButton = document.getElementById("wrongJoinCodeXButton");
  $wrongJoinCodeXButton.onclick = function(){
    $wrongJoinCode.style.display = "none";
  }

  $wrongJoinCodeBodyConfirm = document.getElementById("wrongJoinCodeBodyConfirm");
  $wrongJoinCodeBodyConfirm.onclick = function(){
    $wrongJoinCode.style.display = "none";
  }

</script>

<!-- ------------------------------------프로젝트 생성 모달창 ------------------------------------ -->
<div id="createProjectModal" style="z-index: 3">
  <div id="bigBlueHeader">
    <div id="bigXButton">X</div>
  </div>
  <!-- 내용 부분 -->
  <div id="title">
    <input type="text" style="display: none" id="projectNumber" name="projectNo"/>
    <input type="text" id="inputTitle" placeholder="프로젝트 명을 입력해주세요." name="projectName"/>
  </div>
  <span id="summaryStar" class="star">*</span>
  <label id="summaryLabel" for="inputSummary">개요</label>
  <div id="summary">
    <textarea id="inputSummary" maxlength="150" placeholder="프로젝트 개요를 적어주세요(최대 150자)." name="projectSummary"></textarea>
  </div>
  <span id="purposeStar" class="star">*</span>
  <label id="purposeLabel" for="inputPurpose">목적</label>
  <div id="purpose">
    <textarea id="inputPurpose" maxlength="150" placeholder="프로젝트 목표 및 목적을 적어주세요(최대 150자)." name="projectPurpose"></textarea>
  </div>
  <span id="startDateStar" class="star">*</span>
  <label for="period" id="periodLabel">기간</label>
  <div id="period">
    <input type="date" id="projectStartDate" class="date" name="startDate"></input>
    <div id="wave">~</div>
    <input type="date" id="projectEndDate" class="date" name="endDate"></input>
  </div>
  <label for="category" id="categoryLabel">분류</label>
  <div id="category">
    <input type="radio" id="bank" class="category" name="projectCategoryCode" value="CT1"/><label id="bankLabel" class="categoryLabel" for="bank">은행</label>
    <input type="radio" id="insurance" class="category" name="projectCategoryCode" value="CT2"/><label id="insuranceLabel" class="categoryLabel" for="insurance">보험사</label>
    <input type="radio" id="publicSector" class="category" name="projectCategoryCode" value="CT3"/><label id="publicSectorLabel" class="categoryLabel" for="publicSector">공공부문</label>
    <input type="radio" id="web" class="category" name="projectCategoryCode" value="CT4"/><label id="webLabel" class="categoryLabel" for="web">웹포털</label>
    <input type="radio" id="application" class="category" name="projectCategoryCode" value="CT5"/><label id="applicationLabel" class="categoryLabel" for="application">앱개발</label>
    <input type="radio" id="etc" class="category" name="projectCategoryCode" value="CT6"/><label id="etcLabel" class="categoryLabel" for="etc">기타</label>
  </div>
  <span id="memberStar" class="star">*</span>
  <label for="member" id="memberLabel">인원초대</label>
  <div id="member" style="display: flex; flex-wrap: wrap; align-items: center;">
    <button type="button" id="inviteMember" name="member" class="memberArea">+</button>
    <div id="addedMember" name="email" style="display: flex; flex-wrap: wrap; flex-direction: row;" class="memberArea"></div>
  </div>
  <button type="button" id="bigCancel1">취소</button>
  <button type="button" id="bigConfirm1">생성</button>
</div>

<div id="modalInputAlert" style="z-index: 4">
  <div id="inputAlertHeader">
    <div id="inputAlertXButton">X</div>
  </div>
  <div id="inputAlertBody">
    <p id="textInputAlert">필수 입력 사항을 기입해주세요.</p>
  </div>
  <button type="button" id="inputAlertConfirm">확인</button>
</div>

<script>
  /* 1. (화면) 생성 버튼 클릭 (화면)
     2. (서버) 컨트롤에서 프로젝트 테이블, 참여자 테이블에 데이터 넣기
     3. (서버) 데이터 넣은 이후 참여자 리스트에 메일 보내기
     4. (화면) fetch 호출 이후 프로젝트 메인 화면 호출 */
  const create = document.getElementById("bigConfirm1");

  // 필수 입력란 미기입 시 alert모달 띄우기
  $modalInputAlert = document.getElementById("modalInputAlert");
  $modalInputAlert.style.display = "none";

  $inputAlertXButton = document.getElementById("inputAlertXButton");
  $inputAlertXButton.onclick = function(){
    $modalInputAlert.style.display = "none";
  }
  $inputAlertConfirm = document.getElementById("inputAlertConfirm");
  $inputAlertConfirm.onclick = function(){
    $modalInputAlert.style.display = "none";
  }

  create.onclick = function() {
    if (document.getElementById("inputTitle").value === "") {
      $modalInputAlert.style.display = "";
      // alert("필수 기입 사항을 입력해주세요.");
      return;
    } else if (document.getElementById("inputSummary").value === "") {
      $modalInputAlert.style.display = "";
      return;
    } else if (document.getElementById("inputPurpose").value === "") {
      $modalInputAlert.style.display = "";
      return;
    } else if (document.getElementById("projectStartDate").value === "") {
      $modalInputAlert.style.display = "";
      return;
    } else if (document.getElementById("projectEndDate").value === "") {
      $modalInputAlert.style.display = "";
      return;
    } else if (!document.getElementById("addedMember").hasChildNodes()) {
      $modalInputAlert.style.display = "";
      return;
    } else {
      create.disabled = true;
      let fetchEmailList = [];

      // 이렇게도 사용 가능, 대신 projectNo가 서버로 가기 전에 생성되어 있는경우만 사용
      for (let i = 0; i < resultEmailList.length; i++) {
        fetchEmailList = [
          ...fetchEmailList,
          {
            email: resultEmailList[i]
          }
        ]
      }
      let projectCategoryCode = document.querySelector("input[type=radio]:checked");
      projectCategoryCode = projectCategoryCode ? projectCategoryCode.value : null;
      // 프로젝트 데이터 넘기기
      fetch("/project/projectmain",
              {
                method: "POST",
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  // projectNo : document.getElementById("projectNumber").value,
                  projectName: document.getElementById("inputTitle").value,
                  projectSummary: document.getElementById("inputSummary").value,
                  projectPurpose: document.getElementById("inputPurpose").value,
                  startDate: document.getElementById("projectStartDate").value,
                  endDate: document.getElementById("projectEndDate").value,
                  // projectCategoryCode: document.querySelector("input[type=radio]:checked").value,
                  projectCategoryCode: projectCategoryCode,
                  emailList: resultEmailList,
                  inviteMemberList: fetchEmailList,
                  productorNo: `[[|${#authentication.principal.userNo}|]]`
                })
              })
              .then(res => {
                if (res.redirected) {
                  window.location.href = res.url;
                } else {
                  window.location.href = "/project/projectmain";
                }
              })
              .then((result) => console.log(result))
              .catch((error) => console.log(error));
    }
  }



  /* "프로젝트 생성 혹은 참가 모달"에서 생성 버튼 클릭 시 생성 모달 띄우기 */

  const createProjectModal = document.getElementById("createProjectModal");
  createProjectModal.style.display = "none";
  const areaCreateProject = document.getElementById("areaCreateProject");
  areaCreateProject.onclick = function(){
    createProjectModal.style.display = "";
  };

  /* x버튼 취소 버튼 클릭 시 모달 없애기 */
  const bigXButton = document.getElementById("bigXButton");
  bigXButton.onclick = function(){
    createProjectModal.style.display = "none";
    $modalInputAlert.style.display = "none";
    // 내용 초기화
    document.getElementById("inputTitle").value = "";
    document.getElementById("inputSummary").value = "";
    document.getElementById("inputPurpose").value = "";
    document.getElementById("projectStartDate").value = "";
    document.getElementById("projectEndDate").value = "";

    const categoryRadio = document.querySelectorAll("input[type=radio]:checked");
    for(let i = 0; i < categoryRadio.length; i++){
      categoryRadio[i].checked = false;
      categoryLabelList[i].style.background = "#FFFFFF";
    }

    const resultEamilArea = document.getElementById("addedMember");
    resultEamilArea.innerHTML = "";
    resultEamilList = [];
  };

  const bigCancel1 = document.getElementById("bigCancel1");
  bigCancel1.onclick = function(){
    createProjectModal.style.display = "none";
    $modalInputAlert.style.display = "none";
    document.getElementById("inputTitle").value = "";
    document.getElementById("inputSummary").value = "";
    document.getElementById("inputPurpose").value = "";
    document.getElementById("projectStartDate").value = "";
    document.getElementById("projectEndDate").value = "";

    const categoryRadio = document.querySelectorAll("input[type=radio]:checked");
    for(let i = 0; i < categoryRadio.length; i++){
      categoryRadio[i].checked = false;
      categoryLabelList[i].style.background = "#FFFFFF";
    }

    const resultEamilArea = document.getElementById("addedMember");
    resultEamilArea.innerHTML = "";
    resultEamilList = [];
  };

  /* 카테고리 부분 선택 시 버튼 색상 변경 */
  let categoryList = document.querySelectorAll(".category");
  let categoryLabelList = document.querySelectorAll(".categoryLabel");

  for(let i = 0; i < categoryList.length; i++){
    categoryList[i].addEventListener("click", function(){

      for(let j = 0; j < categoryLabelList.length; j++){
        categoryLabelList[j].style.background = "#FFFFFF";
      }
      categoryLabelList[i].style.background = "#92E2F8";
    });
  }

// 시작 날짜 끝나는 날짜 제약조건 -> 시작 날짜 : 오늘 이전 선택 불가 / 종료 날짜 : 시작 날짜 이전 선택 불가
  var now_date = Date.now();
  var timeOff = new Date().getTimezoneOffset()*60000;
  var today = new Date(now_date-timeOff).toISOString().split("T")[0];
  let startDate = document.getElementById("projectStartDate");
  startDate.setAttribute("min", today);
  startDate.onchange = function(){
    let endDate = document.getElementById("projectEndDate");
    endDate.setAttribute("min", this.value);
  }
  // let dateClass = document.querySelectorAll(".date");
  // for(let i = 0; i < dateClass.length; i++){
  //   dateClass[i].setAttribute("min", today);
  // }

</script>
<!-- ---------------------------- 멤버 초대 모달 ---------------------------- -->
<div id="inviteMemberModal" style="z-index: 4">
  <div id="inviteMemberBlueHeader">
    <div id="inviteMemberXButton">X</div>
  </div>
  <div id="inviteModalMain">
    <span id="textMember">팀원관리</span>
    <div id="emailArea">
      <span id="textEmail">E-mail</span>
      <div id="sendEmail">
        <input type="email" id="inputEmail" name="inputEmail" placeholder="collaTime@gmail.com" value=""/>
        <input type="email" style="display: none" id="emailList" name="email"/>
        <button type="button" id="addIcon">+</button>
      </div>
    </div>
    <div id="store">
      <img src="/css/project/image/memberIcon.png" id="storeEmailIcon" alt="멤버아이콘">
      <div id="storeEmailArea" style="display: flex; flex-wrap: wrap; align-content: flex-start; gap: 5px"></div>
    </div>
    <button type="button" id="sendEmailCancel">취소</button>
    <button type="button" id="sendEmailConfirm">확인</button>
  </div>
</div>
<input type="text" style="display:none;" id="popupType"/>

<script>

  // 요소 삭제
  function deleteEmail (){
    var storeArea = document.getElementById("storeEmailArea");
    while(storeArea.hasChildNodes()){
      storeArea.removeChild(storeArea.firstChild);
    }
  }

  // 이메일 입력 후 +를 눌렀을 때 입력한 이메일을 저장 영역(화면)에 띄우기
  const inputEmail = document.getElementById("inputEmail");
  const addEmail = document.getElementById("addIcon");
  let emailList = [];
  let resultEmailList = [];
  addEmail.onclick = function(){
    emailList.push(inputEmail.value);
    let storeArea = document.getElementById("storeEmailArea");
    let storeMail = document.createElement("div");
    let adressArea = document.createElement("div");
    let xBtnArea = document.createElement("div");
    let emailAdress = document.createTextNode(inputEmail.value);
    let xButton = document.createTextNode("X");
    storeMail.appendChild(adressArea);
    storeMail.appendChild(xBtnArea);
    adressArea.appendChild(emailAdress);
    xBtnArea.appendChild(xButton);
    storeArea.appendChild(storeMail);
    storeMail.style.backgroundColor = "#FFFFFF";
    storeMail.style.height = "30px";
    storeMail.style.display = "flex";
    storeMail.style.alignItems = "center";
    storeMail.style.justifyContent = "center";
    storeMail.style.lineHeight = "20px";
    storeMail.style.borderRadius = "15px";
    storeMail.style.width = "max-content";
    storeMail.style.margin = "10px"; // 기본 여백 설정
    storeMail.style.padding = "5px 10px"; // 공간을 더 줘서 컴팩트하게
    adressArea.style.marginRight = "10px"; // 오른쪽 여백 추가
    xBtnArea.style.cursor = "pointer"; // 클릭 가능한 커서로 변경
    xBtnArea.onclick = function () {
      storeArea.removeChild(storeMail);  // 요소 삭제
      emailList = emailList.filter((obj) => obj !== inputEmail.value);
    }
  }

  // 멤버 초대 모달창 띄우기
  const inviteMemberModal = document.getElementById("inviteMemberModal");
  inviteMemberModal.style.display = "none";

  // 인원 추가 버튼 클릭 시 기존에 저장한 이메일이 있으면 불러와서 화면에 띄우기
  const addMemberBtn = document.getElementById("inviteMember");
  const storeArea = document.getElementById("storeEmailArea");
  storeArea.style.left = "98px";
  addMemberBtn.onclick = function(){
    inviteMemberModal.style.display = "";
    emailList = [...resultEmailList];
    inputEmail.value = "";
    for(let i = 0; i < emailList.length; i++) {
      let storeMail = document.createElement("div");
      let adressArea = document.createElement("div");
      let xBtnArea = document.createElement("div");
      let emailAdress = document.createTextNode(emailList[i]);
      let xButton = document.createTextNode("X");
      storeMail.appendChild(adressArea);
      storeMail.appendChild(xBtnArea);
      adressArea.appendChild(emailAdress);
      xBtnArea.appendChild(xButton);
      storeArea.appendChild(storeMail);
      storeMail.style.backgroundColor = "#FFFFFF";
      storeMail.style.height = "30px";
      storeMail.style.display = "flex";
      storeMail.style.alignItems = "center";
      storeMail.style.justifyContent = "center";
      storeMail.style.lineHeight = "20px";
      storeMail.style.borderRadius = "15px";
      storeMail.style.width = "max-content";
      storeMail.style.margin = "10px"; // 기본 여백 설정
      storeMail.style.padding = "5px 10px"; // 공간을 더 줘서 컴팩트하게
      adressArea.style.marginRight = "10px"; // 오른쪽 여백 추가
      xBtnArea.style.cursor = "pointer"; // 클릭 가능한 커서로 변경
      xBtnArea.onclick = function () {
        storeArea.removeChild(storeMail);  // 요소 삭제
        emailList = emailList.filter((obj) => obj !== emailList[i]);
      }
    }
  }

  // 취소 버튼
  const sendEmailCancel = document.getElementById("sendEmailCancel");
  sendEmailCancel.onclick = function(){
    inviteMemberModal.style.display = "none";
    emailList = [];
    deleteEmail();
    const input = document.getElementById("inputEmail");
    input.value = "";
  }

  // X 버튼
  const inviteMemberXButton = document.getElementById("inviteMemberXButton");
  inviteMemberXButton.onclick = function(){
    inviteMemberModal.style.display = "none";
    emailList = [];
    deleteEmail();
    const input = document.getElementById("inputEmail");
    input.value = "";
  }

  // 확인 버튼
  const sendEmailConfirm = document.getElementById("sendEmailConfirm");
  sendEmailConfirm.onclick = function() {
    inviteMemberModal.style.display = "none";
    // addMemberBtn.style.display = "none";
    // 입력한 이메일 리스트 확정하는 배열
    resultEmailList = [...emailList];
    console.log("resultEmailList : " + resultEmailList);
    deleteEmail();
    const input = document.getElementById("inputEmail");
    input.value = "";
    // 요소 생성 - 프로젝트 생성 시
    let popupType = document.getElementById("popupType");
    if (popupType.value === "create") {
      const resultEmailArea = document.getElementById("addedMember");
      resultEmailArea.innerHTML = "";
      for (let i = 0; i < resultEmailList.length; i++) {
        // 이메일 div 생성
        let resultMail = document.createElement("div");  // 이메일 div
        let emailAdress = document.createTextNode(resultEmailList[i]);  // 이메일 주소
        resultMail.appendChild(emailAdress);
        resultEmailArea.appendChild(resultMail);
        // 스타일 설정
        resultMail.style.backgournd = "#DFF7FD";
        resultMail.style.borderRadius = "15px";
        resultMail.style.width = "max-content";
        resultMail.style.height = "30px";
        resultMail.style.display = "flex";
        resultMail.style.alignItems = "center";
        resultMail.style.lineHeight = "30px";
        resultMail.style.margin = "5px";
        resultMail.style.padding = "5px 10px";

        // 멤버 추가 버튼 위치 조정
        const inviteMemberButton = document.getElementById("inviteMember");
        inviteMemberButton.style.order = 1;
      }
    } else {

      // 요소 생성 - 프로젝트 수정 시
      const updateEmailList = document.getElementById("memberList");
      updateEmailList.innerHTML = "";

      for (let i = 0; i < resultMemberInviteList.length; i++) {
        // 이메일 div 생성
        let resultMail = document.createElement("div");  // 이메일 div
        let emailAdress = document.createTextNode(resultMemberInviteList[i].email);  // 이메일 주소
        resultMail.appendChild(emailAdress);
        updateEmailList.appendChild(resultMail);
        // 스타일 설정
        resultMail.style.backgournd = "#DFF7FD";
        resultMail.style.borderRadius = "15px";
        resultMail.style.width = "max-content";
        resultMail.style.height = "30px";
        resultMail.style.display = "flex";
        resultMail.style.alignItems = "center";
        resultMail.style.lineHeight = "30px";
        resultMail.style.margin = "5px";
        resultMail.style.padding = "5px 10px";

        // 멤버 추가 버튼 위치 조정
        const updateInviteMember = document.getElementById("updateInviteMember");
        updateInviteMember.style.order = 1;
      }
    }
  }
</script>
<!-- ----------------------------------------- 프로젝트 내용 조회 및 수정 모달 ----------------------------------------- -->
<form action="/project/updateproject" method="post" style="z-index: 2">
  <div id="modalUpdateProject">
    <div id="updateProjectHead">
      <div id="updateProjectXButton">X</div>
    </div>
    <!-- 내용 부분 -->
    <input type="text" id="updateProjectNo" style="display: none" name="projectNo"/>
    <div id="updateTitle">
      <input type="text" id="updateInputTitle" placeholder="프로젝트 명을 입력해주세요." name="projectName">
    </div>
    <span id="updateSummaryStar" class="updateStar">*</span>
    <label id="updateSummaryLabel" for="updateInputSummary">개요</label>
    <div id="updateSummary">
      <textarea id="updateInputSummary" maxlength="150" placeholder="프로젝트 개요를 적어주세요(최대 150자)." name="projectSummary"></textarea>
    </div>
    <span id="updatePurposeStar" class="updateStar">*</span>
    <label id="updatePurposeLabel" for="updateInputPurpose">목적</label>
    <div id="updatePurpose">
      <textarea id="updateInputPurpose" maxlength="150" placeholder="프로젝트 목표 및 목적을 적어주세요(최대 150자)." name="projectPurpose"></textarea>
    </div>
    <span id="updateStartDateStar" class="updateStar">*</span>
    <label for="updatePeriod" id="updatePeriodLabel">기간</label>
    <div id="updatePeriod">
      <input type="date" id="updateStartDate" min="2023-01-01" max="2077-06-20" name="startDate" ></input>
      <div id="updateWave">~</div>
      <input type="date" id="updateEndDate"  min="2023-01-01" max="2077-06-20" name="endDate"></input>
    </div>
    <label for="updateCategory" id="updateCategoryLabel">분류</label>
    <div id="updateCategory">
      <input type="radio" id="updateBank" class="updateCategory" name="projectCategoryCode" value="CT1"/><label id="updateBankLabel" class="updateCategoryLabel" for="updateBank">은행</label>
      <input type="radio" id="updateInsurance" class="updateCategory" name="projectCategoryCode" value="CT2"/><label id="updateInsuranceLabel" class="updateCategoryLabel" for="updateInsurance">보험사</label>
      <input type="radio" id="updatePublicSector" class="updateCategory" name="projectCategoryCode" value="CT3"/><label id="updatePublicSectorLabel" class="updateCategoryLabel" for="updatePublicSector">공공부문</label>
      <input type="radio" id="updateWeb" class="updateCategory" name="projectCategoryCode" value="CT4"/><label id="updateWebLabel" class="updateCategoryLabel" for="updateWeb">웹포털</label>
      <input type="radio" id="updateApplication" class="updateCategory" name="projectCategoryCode" value="CT5"/><label id="updateApplicationLabel" class="updateCategoryLabel" for="updateApplication">앱개발</label>
      <input type="radio" id="updateEtc" class="updateCategory" name="projectCategoryCode" value="CT6"/><label id="updateEtcLabel" class="updateCategoryLabel" for="updateEtc">기타</label>
    </div>
    <span id="updateMemberStar" class="updateStar">*</span>
    <label for="updateMember" id="updateMemberLabel">인원초대</label>
    <div id="updateMember">
      <button type="button" id="updateInviteMember" name="updateMember">+</button>
      <div id="memberList" name="email" style="display: flex; flex-wrap: wrap; flex-direction: row;"></div>

    </div>
    <button type="button" id="updateCancel">취소</button>
    <button type="submit" id="updateConfirm">수정</button>
  </div>
</form  >
<script>
  let resultMemberInviteList = null;
  /* 정보 비동기로 가져오기 */
  // DB에서 데이터를 가져오는 함수 작성
  function select(projectNo){
    fetch("/project/selectproject?projectNo=" + projectNo +"")
            .then(res => res.json())
            .then(data => {
              console.log(data);
              let $projectName = document.querySelector("#updateInputTitle");
              $projectName.value = data.projectName;
              let $projectSummary = document.getElementById("updateInputSummary");
              $projectSummary.value = data.projectSummary;
              let $projectPurpose = document.getElementById("updateInputPurpose");
              $projectPurpose.value = data.projectPurpose;
              let $startDate = document.getElementById("updateStartDate");
              $startDate.value = data.startDate;
              let $endDate = document.getElementById("updateEndDate");
              $endDate.value = data.endDate;
              let $updateProjectNo = document.getElementById("updateProjectNo");
              $updateProjectNo.value = data.projectNo;
              // let memberList = document.getElementById("memberList");
              // memberList.value = data.inviteMemberList;

              const memberListArea = document.getElementById("memberList");
              memberListArea.innerHTML = "";
              const invitedMemberList = data.inviteMemberList;
              resultMemberInviteList = invitedMemberList;
              for(let i = 0; i < invitedMemberList.length; i++) {

                resultEmailList
                 = [...resultEmailList, invitedMemberList[i].email]
                // 이메일 div 생성
                let resultMail = document.createElement("div");  // 이메일 div
                let emailAdress = document.createTextNode(invitedMemberList[i].email);  // 이메일 주소
                resultMail.appendChild(emailAdress);
                memberListArea.appendChild(resultMail);
                // 스타일 설정
                resultMail.style.backgournd = "#DFF7FD";
                resultMail.style.borderRadius = "15px";
                resultMail.style.width = "max-content";
                resultMail.style.height = "30px";
                resultMail.style.display = "flex";
                resultMail.style.alignItems = "center";
                resultMail.style.lineHeight = "30px";
                resultMail.style.margin = "5px";
                resultMail.style.padding = "5px 10px";

                // 멤버 추가 버튼 위치 조정
                const inviteMemberButton = document.getElementById("inviteMember");
                inviteMemberButton.style.order = 1;
              }


              let categoryList = document.querySelectorAll("updateCategory input");
              for(let i = 0; i < categoryList.length; i++){
                categoryList[i].setAttribute('checked', false);
              }
              document.querySelector("#updateCategory input[value='"+data.projectCategoryCode+"']").setAttribute('checked' , true);
              let updateCategoryList = document.querySelectorAll(".updateCategory");
              let updateCategoryLabelList = document.querySelectorAll(".updateCategoryLabel");
              for(let i = 0; i < updateCategoryList.length; i++){
                updateCategoryList[i].addEventListener("click", function(){
                  updateCategoryLabelList[i].style.background = "#92E2F8";
                });
                updateCategoryList[i].addEventListener("blur", function(){
                  updateCategoryLabelList[i].style.background = "#FFFFFF";
                });
                if(updateCategoryList[i].checked === true){
                  updateCategoryLabelList[i].style.background = "#92E2F8";
                } else{
                  updateCategoryLabelList[i].style.background = "#FFFFFF";
                }
              }
            })
            .catch(error => console.log(error));
  }

  /* 프로젝트 정보 수정 모달 띄우기 + DB에서 데이터 가져오는 함수 호출 */
  const update = document.querySelectorAll("#projectUpdate");
  const updateProjectModal = document.getElementById("modalUpdateProject");
  const projectNo = document.querySelectorAll("#projectNo");
  updateProjectModal.style.display = "none";
  for(let i = 0; i < update.length; i++) {
    update[i].addEventListener("click", function () {
      select(projectNo[i].value);
      console.log(projectNo[i].value);
      updateProjectModal.style.display = "";
      let popupType = document.getElementById("popupType");
      popupType.value = "update";
    })
  }

  // /* x버튼 취소 버튼 클릭 시 모달 없애기 */
  const updateCancel = document.getElementById("updateCancel");
  updateCancel.addEventListener("click", function(){
    updateProjectModal.style.display = "none";
  });
  const updateProjectXButton = document.getElementById("updateProjectXButton");
  updateProjectXButton.addEventListener("click", function(){
    updateProjectModal.style.display = "none";
  });

  /* 멤버 수정 창 띄우기 */
  const updateMember = document.getElementById("updateInviteMember");
  updateMember.addEventListener("click", function(){
    inviteMemberModal.style.display = "";
    for(let i = 0; i < resultMemberInviteList.length; i++){
      let storeArea = document.getElementById("storeEmailArea");
      let storeMail = document.createElement("div");
      let adressArea = document.createElement("div");
      let xBtnArea = document.createElement("div");
      let emailAdress = document.createTextNode(resultMemberInviteList[i].email);
      let xButton = document.createTextNode("X");
      storeMail.appendChild(adressArea);
      storeMail.appendChild(xBtnArea);
      adressArea.appendChild(emailAdress);
      xBtnArea.appendChild(xButton);
      storeArea.appendChild(storeMail);
      storeMail.style.backgroundColor = "#FFFFFF";
      storeMail.style.height = "30px";
      storeMail.style.display = "flex";
      storeMail.style.alignItems = "center";
      storeMail.style.justifyContent = "center";
      storeMail.style.lineHeight = "20px";
      storeMail.style.borderRadius = "15px";
      storeMail.style.width = "max-content";
      storeMail.style.margin = "10px"; // 기본 여백 설정
      storeMail.style.padding = "5px 10px"; // 공간을 더 줘서 컴팩트하게
      adressArea.style.marginRight = "10px"; // 오른쪽 여백 추가
      xBtnArea.style.cursor = "pointer"; // 클릭 가능한 커서로 변경
      xBtnArea.onclick = function () {
        storeArea.removeChild(storeMail);  // 요소 삭제
        emailList = emailList.filter((obj) => obj !== inputEmail.value);
      }
    }


  })

</script>

<!-- ---------------------------------- 프로젝트 삭제 알림 모달 ---------------------------------- -->
<!-- 레이아웃 및 헤더 -->
<form action="/project/deleteproject" method="post" style="z-index: 2">
  <div id="deleteModal">
    <div id="deleteHeader">
      <div id="deleteXButton">X</div>
    </div>
    <!-- 내용 -->
    <div id="deleteBody">
      <input type="text" style="display: none" id="deleteProjectNo" name="projectNo"/>
      <img src="/css/project/image/exclamation%20mark.png" id="deleteAlertIcon" alt="경고 느낌표"/>
      <div id="deleteProjectName" class="deleteName" name="projectName"></div>
    </div>
    <button type="button" id="deleteCancel">취소</button>
    <button type="submit" id="deleteConfirm">삭제</button>
  </div>
</form>
<script>

  /* 비동기 fetch함수로 파라미터 전달 및 DB에서 값 가져오기 */
  function deleteProject(projectNo){
    fetch("/project/selectproject?projectNo=" + projectNo + "")
            .then(res => res.json())
            .then(data =>{
              console.log(data);
              let projectName = document.querySelector("#deleteProjectName");
              projectName.textContent = '"' + data.projectName + '"' + " 을(를) 삭제하시겠습니까?";
              console.log(data.projectName);
              console.log(projectName);
              let deleteProjectNo = document.getElementById("deleteProjectNo");
              deleteProjectNo.value = data.projectNo;
            })
            .catch(error => console.log(error));
  }


  /* 삭제하기 클릭 시 모달 띄우기 */
    const $delete = document.querySelectorAll("#projectDelete");
  const $deleteModal = document.getElementById("deleteModal");
  $deleteModal.style.display = "none";
  for(let i = 0; i < $delete.length; i++) {
    $delete[i].addEventListener("click", function () {
      deleteProject(projectNo[i].value);
      console.log(projectNo[i].value);
      $deleteModal.style.display = "";
    });
  }

  // /* x버튼 취소 버튼 클릭 시 모달 없애기 */
  const deleteCancel = document.getElementById("deleteCancel");
  deleteCancel.addEventListener("click", function(){
    $deleteModal.style.display = "none";
  });
  const deleteXButton = document.getElementById("deleteXButton");
  deleteXButton.addEventListener("click", function(){
    $deleteModal.style.display = "none";
  });



</script>

<!-- ---------------------------------- 팀원 관리 모달 ---------------------------------- -->
<div id="modalManageMember" style="z-index: 2">
  <div id="manageMemberHeader">
    <div id="manageMemberXButton">X</div>
  </div>
  <div id="manageMemberBody">
    <p id="manageMemberText">팀원 관리</p>
    <input type="text" style="display: none" id="projectNomber"/>
    <div id="manageMemberList">
      <div id="manageMemberListHead">
        <input type="text" id="projectNum" name="projectNo" style="display: none"/>
        <p id="titleNickname" class="listHead nickname">닉네임</p>
        <p id="titleEmail" class="listHead email">이메일</p>
        <p id="titleNote" class="listHead note">비고</p>
      </div>
      <!-- JavaScript를 통해 동적으로 멤버 리스트가 생성될 부분 -->
      <div id="nthMemberArea" class="member-row" th:each="member : ${ memberManagement }">
        <div id="nthList">
          <p id="nthNickname" class="nthMember nickname" name="nickname" th:value="${ member.memberNickname }"></p>
          <p id="nthEmail" class="nthMember email" name="email" th:value="${ member.memberNickname }"></p>
          <p id="nthNote" class="nthMember note" name="note"></p>
          <img src="/css/project/image/trashcanIcon.png" id="trashcanIcon" class="nthMember trashcanIcon" alt="삭제 아이콘"/>
        </div>
      </div>
    </div>
    <button type="button" id="forInviteMember">팀원 초대</button>
    <button type="button" id="manageMemberConfirm">확인</button>
  </div>
</div>
<script>
  // fetch로 데이터를 가져와서 동적으로 HTML을 생성하는 코드
  function selectMember(projectNo) {
    fetch("/project/selectMember?projectNo=" + projectNo)
            .then((res) => res.json())
            .then((data) => {
              console.log("멤버 정보 : " + data);
              console.log("projectNo : " +  data.projectNo);

              // `manageMemberList` div를 비웁니다.
              const manageMemberList = document.getElementById("manageMemberList");
              const manageMemberListHead = document.getElementById("manageMemberListHead");
              manageMemberList.innerHTML = "";
              manageMemberList.appendChild(manageMemberListHead);

              // 데이터를 기반으로 멤버 리스트를 생성합니다.
              let topPosition = 260;  // 첫 번쨰 요소의 top 위치 설정
              const gap = 40; // 각 요소 간의 간격 설정

              data.forEach((member,index) => {
                const memberDiv = document.createElement("div");
                const nthList = document.createElement("div");
                memberDiv.className = "member-row";
                memberDiv.style.top = topPosition + "px";  // 동적으로 top 위치 설정
                memberDiv.style.left = "150px";
                nthList.style.width = "730px";
                nthList.style.height = "40px";
                nthList.style.borderBottom = "solid 3px #92E2F8"

                const nicknameP = document.createElement("p");
                nicknameP.className = "nthMember nickname";
                nicknameP.textContent = member.memberNickname;
                nicknameP.style.left = "32px";


                const emailP = document.createElement("p");
                emailP.className = "nthMember email";
                emailP.textContent = member.memberEmail;
                emailP.style.left = "230px";

                const noteP = document.createElement("p");
                noteP.className = "nthMember note";
                noteP.style.left = "540px";
                if (index === 0) {
                  noteP.textContent = "팀장";
                } else {
                  noteP.textContent = "";
                }


                const trashcanImg = document.createElement("img");
                trashcanImg.src = "/css/project/image/trashcanIcon.png";
                trashcanImg.className = "nthMember trashcanIcon";
                trashcanImg.alt = "삭제 아이콘";
                trashcanImg.style.left = "670px";
                if(index === 0){
                  trashcanImg.style.display = "none";
                } else {
                  trashcanImg.style.display = "";
                }
                trashcanImg.addEventListener("click", function() {
                  fetch("/project/deleteMemberInfo",
                          {
                            method: "POST",
                            headers: {
                              'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                              projectNo : projectNumber.value,
                              userNo : member.userNo,
                              email : emailP.textContent
                            })
                          })
                          .then((res) => res.json())
                          .then((result) => console.log(result))
                          .catch((error) => console.log(error));
                });

                memberDiv.appendChild(nthList);
                nthList.appendChild(nicknameP);
                nthList.appendChild(emailP);
                nthList.appendChild(noteP);
                nthList.appendChild(trashcanImg);

                manageMemberList.appendChild(memberDiv);

                topPosition += gap; // 다음 요소의 top 위치를 50px씩 증가
              });
            })
            .catch(error => console.log("Error fetching members:", error));
  }

 const projectNumber = document.getElementById("projectNumber");
  const modalManageMember = document.getElementById("modalManageMember");
  modalManageMember.style.display = "none";
  const manageMember = document.querySelectorAll("#manageMember");
  for(let i = 0; i < manageMember.length; i++) {
    manageMember[i].onclick = function () {
      modalManageMember.style.display = "";
      projectNumber.value = projectNo[i].value
      selectMember(projectNo[i].value);
      console.log(projectNo[i].value);
    }
  }
  const manageMemberXButton = document.getElementById("manageMemberXButton");
  manageMemberXButton.onclick = function(){
    modalManageMember.style.display = "none";
  }

  let manageMemberConfirm = document.getElementById("manageMemberConfirm");
  manageMemberConfirm.onclick = function(){
    modalManageMember.style.display = "none";
  }

  let forInviteMember = document.getElementById("forInviteMember");
  forInviteMember.onclick = function(){
    moreInviteMemberModal.style.display = "";
  }



</script>

<!-- ----------------------------- 팀원 관리 모달 - 팀원 추가 ------------------------ -->
<div id="moreInviteMemberModal" style="z-index: 4">
  <div id="moreInviteMemberBlueHeader">
    <div id="moreInviteMemberXButton">X</div>
  </div>
  <div id="moreInviteModalMain">
    <span id="moreTextMember">팀원관리</span>
    <div id="moreEmailArea">
      <span id="moreTextEmail">E-mail</span>
      <div id="moreSendEmail">
        <input type="text" style="display: none" id="moreEmailProjectNo" name="projectNo"/>
        <input type="email" id="moreInputEmail" name="inputEmail" placeholder="collaTime@gmail.com" value=""/>
        <input type="email" style="display: none" id="moreEmailList" name="email"/>
        <button type="button" id="moreAddIcon">+</button>
      </div>
    </div>
    <div id="moreStore">
      <img src="/css/project/image/memberIcon.png" id="moreStoreEmailIcon" alt="멤버아이콘">
      <div id="moreStoreEmailArea" style="display: flex; flex-wrap: wrap; align-content: flex-start; gap: 5px"></div>
    </div>
    <button type="button" id="moreSendEmailCancel">취소</button>
    <button type="button" id="moreSendEmailConfirm">전송</button>
  </div>
</div>
<script>

  const moreInviteMemberModal = document.getElementById("moreInviteMemberModal");
  moreInviteMemberModal.style.display = "none";

  function deleteMoreEmail (){
    var moreStoreArea = document.getElementById("moreStoreEmailArea");
    while(moreStoreArea.hasChildNodes()){
      moreStoreArea.removeChild(moreStoreArea.firstChild);
    }
  }

  // 이메일 입력 후 +를 눌렀을 때 입력한 이메일을 저장 영역(화면)에 띄우기
  const moreInputEmail = document.getElementById("moreInputEmail");
  const moreAddIcon = document.getElementById("moreAddIcon");
  let moreEmailList = [];
  let resultMoreEmailList = [];
  moreAddIcon.onclick = function(){
    moreEmailList.push(moreInputEmail.value);
    let moreStoreArea = document.getElementById("moreStoreEmailArea");
    let moreStoreMail = document.createElement("div");
    let moreAdressArea = document.createElement("div");
    let moreXBtnArea = document.createElement("div");
    let moreEmailAdress = document.createTextNode(moreInputEmail.value);
    let moreXButton = document.createTextNode("X");
    moreStoreMail.appendChild(moreAdressArea);
    moreStoreMail.appendChild(moreXBtnArea);
    moreAdressArea.appendChild(moreEmailAdress);
    moreXBtnArea.appendChild(moreXButton);
    moreStoreArea.appendChild(moreStoreMail);
    moreStoreMail.style.backgroundColor = "#FFFFFF";
    moreStoreMail.style.height = "30px";
    moreStoreMail.style.display = "flex";
    moreStoreMail.style.alignItems = "center";
    moreStoreMail.style.justifyContent = "center";
    moreStoreMail.style.lineHeight = "20px";
    moreStoreMail.style.borderRadius = "15px";
    moreStoreMail.style.width = "max-content";
    moreStoreMail.style.margin = "10px"; // 기본 여백 설정
    moreStoreMail.style.padding = "5px 10px"; // 공간을 더 줘서 컴팩트하게
    moreAdressArea.style.marginRight = "10px"; // 오른쪽 여백 추가
    moreXBtnArea.style.cursor = "pointer"; // 클릭 가능한 커서로 변경
    moreXBtnArea.onclick = function () {
      moreStoreArea.removeChild(moreStoreMail);  // 요소 삭제
      moreEmailList = moreEmailList.filter((obj) => obj !== moreInputEmail.value);
    }
  }

  // 취소 버튼
  const moreSendEmailCancel = document.getElementById("moreSendEmailCancel");
  moreSendEmailCancel.onclick = function(){
    moreInviteMemberModal.style.display = "none";
    moreEmailList = [];
    deleteMoreEmail();
    const moreInput = document.getElementById("moreInputEmail");
    moreInput.value = "";
  }

  // X 버튼
  const moreInviteMemberXButton = document.getElementById("moreInviteMemberXButton");
  moreInviteMemberXButton.onclick = function(){
    moreInviteMemberModal.style.display = "none";
    moreEmailList = [];
    deleteMoreEmail();
    const moreInput = document.getElementById("moreInputEmail");
    moreInput.value = "";
  }

  // 전송 버튼
  const moreSendEmailConfirm = document.getElementById("moreSendEmailConfirm");
  moreSendEmailConfirm.onclick = function() {
    moreInviteMemberModal.style.display = "none";
    resultMoreEmailList = [...moreEmailList];
    console.log("resultEmailList : " + resultMoreEmailList);
    deleteMoreEmail();
    const moreInput = document.getElementById("moreInputEmail");
    moreInput.value = "";
    let fetchMoreEmailList = [];
    for (let i = 0; i < resultMoreEmailList.length; i++) {
      fetchMoreEmailList = [
        ...fetchMoreEmailList,
        {
          email: resultMoreEmailList[i]
        }
      ]
    }
    fetch("/project/sendUpdatedEmail",
            {
              method: "POST",
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                projectNo : projectNumber.value,
                emailList: resultMoreEmailList,
                inviteMemberList: fetchMoreEmailList
              })
            })
            .then((res) => res.json())
            .then((result) => console.log(result))
            .catch((error) => console.log(error));

  }


</script>
</body>
</html>