<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="/css/project/reset.css">
    <link rel="stylesheet" href="/css/project/projectMain.css">
    <link rel="stylesheet" href="/css/project/modalCreateOrJoin.css">
    <link rel="stylesheet" href="/css/project/modalCreateProject.css">
    <link rel="stylesheet" href="/css/project/modalInviteMember.css">
</head>
<body>
<!-- 프로젝트 메인 화면 -->
<div id="main" style="z-index: 1">
<!-- Header 구역 -->
    <div id="head">
        <img src="/css/project/image/Logo.png" id="logo"></img>
        <button id="logOut" onclick="location.href='/auth/logout'">로그아웃</button>
    </div>
    <!-- Left Bar 구역 -->
    <div id="leftBarLayout">
        <div id="blueBackground">
            <div id="profile"></div>
            <div id="nickname">닉네임 나중에 바꾸기</div>
            <div id="myPage">마이페이지</div>
            <div id="whiteBar1"></div>
            <span id="textMyProject">My Project</span>
            <div id="projectMenu" th:each="project : ${ projectList }">
                <img src="/css/project/image/folderIcon.png" id="projectIcon">
                <span id="menuProjectName" th:text="${ project.projectName }" th:title="${ project.projectName }"></span>
            </div>
            <div id="whiteBar2"></div>
            <div id="doInquiry">
                <img src="/css/project/image/inquiryIcon.png" id="firstInquiry">
                <span id="doInquiryText">문의하기</span>
            </div>
            <div id="authority">
                <img src="/css/project/image/inquiryIcon.png" id="secondInquiry">
                <span id="authorityText">권한 위임 요청</span>
            </div>
        </div>
    </div>
    <!-- 메인 구역 -->
    <div>
        <span id="mainTitle">Project</span>
        <div id="mainArea">
            <!-- 프로젝트 폴더 -->
            <div id="createdProjectFolder" th:each="project : ${ projectList }">
                <div id="folderHead"></div>
                <div id="folderBody">
                    <div id="projectTitle" th:text="${ project.projectName }"></div>
                    <div id="folderMenu">...</div>
<!--                    <div id="crudMenu">-->
<!--                        <div id="projectUpdate">수정하기</div>-->
<!--                        <div id="projectDelete">삭제하기</div>-->
<!--                        <div id="manageMember">멤버관리</div>-->
<!--                    </div>-->
                </div>
                <span id="projectFullName" th:text="${ project.projectName }" th:title="${ project.projectName }"></span>
            </div>
            <!-- NEW 프로젝트 폴더 -->
            <div id="newProject">
                <div id="newFolderHead"></div>
                <div id="newFolderBody">
                    <div id="plus">+</div>
                </div>
                <span id="newProjectText">New 프로젝트</span>
            </div>
        </div>
    </div>
</div>

<script>
    // ------------------------------ Left Bar ------------------------------
    /* My Project List */
    const projectList = document.querySelectorAll("#projectMenu");
    for(let i = 0; i < projectList.length; i++){
        projectList[i].style.top = (275 + (25 * ((i+1)-1))) + "px";
    }

    // ------------------------------ 메인 구역 ------------------------------
    /* 프로젝트 색상 배열 */
    let colorArray = ["#FEC4C4", "#D9F0FB", "#FFEFCC", "#FFA990", "#B7E58E", "#FFDAFA", "#F3DAFF", "#DADFFF", "#EDD5C0", "#D6EADF"];

    /* 생성된 프로젝트 폴더 영역 */
    let createdProjectFolder = document.querySelectorAll("#createdProjectFolder");
    for(let i = 0; i < createdProjectFolder.length; i++) {
        if(i < 3){
            createdProjectFolder[i].style.left = (148 + (363 * ((i+1) - 1))) + "px";
            createdProjectFolder[i].style.top = "200px";
        }
        if(i > 3 && i < 5){
            createdProjectFolder[i].style.left = (148 + (363 * ((i+1) - 1))) + "px";
            createdProjectFolder[i].style.top = "502px";
        }
    }

    let folderHead = document.querySelectorAll("#folderHead");
    for(let i = 0; i < folderHead.length; i++){
        folderHead[i].style.backgroundColor = colorArray[i];
    }

    let folderBody = document.querySelectorAll("#folderBody");
    for(let i = 0; i < folderBody.length; i++){
        folderBody[i].style.backgroundColor = colorArray[i];
    }

    /* New 프로젝트 폴더 영역 */
    let maxNum = createdProjectFolder.length;
    const newProject = document.getElementById("newProject");
    let lastProjectLeft = Number(createdProjectFolder[maxNum-1].style.left.replace("px", ""));
    if(maxNum > 0) {
        for (let i = 0; i < createdProjectFolder.length; i++) {
            if (i < 3) {
                newProject.style.left = (lastProjectLeft + 363) + "px";
                newProject.style.top = "200px";
            } else if (i === 3) {
                newProject.style.left = "148px";
                newProject.style.top = "507px";
            } else if (i > 3 && i < 5) {
                newProject.style.left = (lastProjectLeft + 363) + "px";
                newProject.style.top = "507px";
            }
        }
    } else if(maxNum === 0){
        newProject.style.left = "363px";
        newProject.style.top = "200px";
    }
</script>
<!-- ----------------------------------------------- 프로젝트 참여 혹은 생성 모달창 ----------------------------------------------- -->

<div id="createOrJoin" style="z-index: 2">
    <div id="middleBlueHeader">
        <button id="middleXButton">X</button>
    </div>
    <div id="body">
        <span id="createProject">프로젝트 생성하기</span>
        <button type="button" id="areaCreateProject">+</button>
        <span id="joinProject">프로젝트 참가하기</span>
        <div>
            <input type="text" id="inputCode" placeholder="전달받은 코드를 입력해주세요.">
            <button type="submit" id="joinButton">참가하기</button>
        </div>
        <button type="button" id="smallCancel">취소</button>
        <button type="submit" id="smallConfirm">확인</button>
    </div>
</div>

<script>
    /* 평소에는 모달창이 안보였다가 메인 화면에서 new프로젝트 누르면 모달 창이 띄어지게 하기 */
    const modalCreateOrJoin = document.getElementById("createOrJoin");
    modalCreateOrJoin.style.display = "none";

    newProject.addEventListener("click", function(){
        modalCreateOrJoin.style.display = "";
    });

    /* X버튼, 취소 버튼 클릭 시 모달 없애기 */
    const xButton = document.getElementById("middleXButton");
    xButton.onclick = function(){
        modalCreateOrJoin.style.display = "none";
    }

    const cancelButton = document.getElementById("smallCancel");
    cancelButton.onclick = function(){
        modalCreateOrJoin.style.display = "none";
    }

    /* 참가 코드 클릭 시 placeHolder 사라지기 */
    const $inputCode = document.getElementById("inputCode");
    $inputCode.addEventListener("focus", function(e){

        $inputCode.placeholder = ""

    });
    $inputCode.addEventListener("blur", function(){
        $inputCode.placeholder = "전달받은 코드를 입력해주세요."
    });

    /* ++) 알맞은 참가 코드를 입력하면 프로젝트 생성하기 */

</script>

<!-- ------------------------------------프로젝트 생성 모달창 ------------------------------------ -->
<div id="createProjectModal" style="z-index: 3">
    <div id="bigBlueHeader">
        <div id="bigXButton">X</div>
    </div>
    <!-- 내용 부분 -->
    <form action="/project/ProjectMain" method="post">
        <div id="title">
            <input type="text" id="inputTitle" placeholder="프로젝트 명을 입력해주세요." name="projectName">
        </div>
        <span id="summaryStar" class="star">*</span>
        <label id="summaryLabel" for="inputSummary">개요</label>
        <div id="summary">
            <textarea id="inputSummary" maxlength="150" placeholder="프로젝트 개요를 적어주세요(최대 150자)." name="projectSummary"></textarea>
        </div>
        <span id="purposeStar" class="star">*</span>
        <label id="purposeLabel" for="inputPurpose">목적</label>
        <div id="purpose">
            <textarea id="inputPurpose" maxlength="150" placeholder="프로젝트 목표 및 목적을 적어주세요(최대 150자)." name="projectPurpose"></textarea>
        </div>
        <span id="startDateStar" class="star">*</span>
        <label for="period" id="periodLabel">기간</label>
        <div id="period">
            <input type="date" id="projectStartDate" min="2023-01-01" max="2077-06-20" name="startDate"></input>
            <div id="wave">~</div>
            <input type="date" id="projectEndDate"  min="2023-01-01" max="2077-06-20" name="endDate"></input>
        </div>
        <label for="category" id="categoryLabel">분류</label>
        <div id="category">
            <input type="radio" id="bank" class="category" name="projectCategoryCode" value="CT1"/><label id="bankLabel" class="categoryLabel" for="bank">은행</label>
            <input type="radio" id="insurance" class="category" name="projectCategoryCode" value="CT2"/><label id="insuranceLabel" class="categoryLabel" for="insurance">보험사</label>
            <input type="radio" id="publicSector" class="category" name="projectCategoryCode" value="CT3"/><label id="publicSectorLabel" class="categoryLabel" for="publicSector">공공부문</label>
            <input type="radio" id="web" class="category" name="projectCategoryCode" value="CT4"/><label id="webLabel" class="categoryLabel" for="web">웹포털</label>
            <input type="radio" id="application" class="category" name="projectCategoryCode" value="CT5"/><label id="applicationLabel" class="categoryLabel" for="application">앱개발</label>
            <input type="radio" id="etc" class="category" name="projectCategoryCode" value="CT6"/><label id="etcLabel" class="categoryLabel" for="etc">기타</label>
        </div>
        <span id="memberStar" class="star">*</span>
        <label for="member" id="memberLabel">인원초대</label>
        <div id="member">
            <button type="button" id="inviteMember" name="member">+</button>
        </div>
        <button type="button" id="bigCancel1">취소</button>
        <button type="submit" id="bigConfirm1">생성</button>
    </form>
</div>

<script>
    /* "프로젝트 생성 혹은 참가 모달"에서 생성 버튼 클릭 시 생성 모달 띄우기 */

    const createProjectModal = document.getElementById("createProjectModal");
    createProjectModal.style.display = "none";
    const areaCreateProject = document.getElementById("areaCreateProject");
    areaCreateProject.onclick = function(){
        createProjectModal.style.display = "";
    };

    /* x버튼 취소 버튼 클릭 시 모달 없애기 */
    const bigXButton = document.getElementById("bigXButton");
    bigXButton.onclick = function(){
        createProjectModal.style.display = "none";
    };
    const bigCancel1 = document.getElementById("bigCancel1");
    bigCancel1.onclick = function(){
        createProjectModal.style.display = "none";
    };

    /* 카테고리 부분 선택 시 버튼 색상 변경 */
    let categoryList = document.querySelectorAll(".category");
    let categoryLabelList = document.querySelectorAll(".categoryLabel");

    for(let i = 0; i < categoryList.length; i++){
        categoryList[i].addEventListener("click", function(){
            categoryLabelList[i].style.background = "#92E2F8";
        });
        categoryList[i].addEventListener("blur", function(){
            categoryLabelList[i].style.background = "#FFFFFF";
        })
    }
</script>
<!-- ---------------------------- 멤버 초대 모달 ---------------------------- -->
<div id="inviteMemberModal" style="z-index: 4">
    <div id="inviteMemberBlueHeader">
        <div id="inviteMemberXButton">X</div>
    </div>
    <div id="inviteModalMain">
        <span id="textMember">팀원관리</span>
        <div id="emailArea">
            <span id="textEmail">E-mail</span>
            <div id="sendEmail">
                <input type="email" id="inputEmail">
                <button type="button" id="addIcon">+</button>
            </div>
        </div>
        <div id="store">
            <img src="/css/project/image/memberIcon.png" id="storeEmailIcon" alt="멤버아이콘">
            <div id="storeEmailArea"></div>
        </div>
        <button type="button" id="sendEmailCancel">취소</button>
        <button type="submit" id="sendEmailConfirm">확인</button>
    </div>
</div>
<script>

    const inviteMemberModal = document.getElementById("inviteMemberModal");
    inviteMemberModal.style.display = "none";
    const addMemberBtn = document.getElementById("inviteMember");
    addMemberBtn.onclick = function(){
        inviteMemberModal.style.display = "";
    }

    const sendEmailCancel = document.getElementById("sendEmailCancel");
    sendEmailCancel.onclick = function(){
        inviteMemberModal.style.display = "none";
    }

    const inviteMemberXButton = document.getElementById("inviteMemberXButton");
    inviteMemberXButton.onclick = function(){
        inviteMemberModal.style.display = "none";
    }
</script>
</body>
</html>