

#leftBarLayout{

    cursor: default;
    position: absolute;
    width: 310px;
    height: 850px;
    top: 103px;

    background: #FFFFFF;
    border-right: solid 1px #282828;

}

#blueBackground_admin{
    position: absolute;
    width: 250px;
    height: 720px;
    left: 32px;
    top: 64px;

    background: #92E2F8;
    border-radius: 25px;
}

#profile{

    position: absolute;
    width: 80px;
    height: 80px;
    left: 85px;
    top: 34px;

    background: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 6355px;

}



#leftBarNickname{

    position: absolute;
    width: 130px;
    height: 30px;
    left: 60px;
    top: 180px;

    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #000000;

}

#whiteBar1{

    position: absolute;
    width: 210px;
    left: 20px;
    top: 230px;

    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, -1, 0, 0);

}

#textMyProject{

    position: absolute;
    width: 100px;
    height: 15px;
    left: 30px;
    top: 250px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;

    color: #282828;

}

/* MyProject 프로젝트 리스트 */
#projectMenu{

    position: absolute;
    left: 25px;
    top: 275px;

}

.projectIcon{

    margin-top: 10px;

}

#menuProjectName{

    position: absolute;
    left: 25px;
    top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height:15px;
    color: #282828;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#whiteBar2{

    position: absolute;
    width: 210px;
    left: 20px;
    top: 580px;
    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, -1, 0, 0);

}

/* 문의하기 */
#firstInquiry{

    position: absolute;
    left: 30px;
    top: 600px;

}

#doInquiryText{

    position: absolute;
    left: 55px;
    top: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;
}

/* 권한 위임 요청 */
#secondInquiry{

    position: absolute;
    left: 30px;
    top: 625px;

}

#authorityText{

    position: absolute;
    left: 55px;
    top: 625px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #282828;
}
