

#leftBarLayout{

    cursor: default;
    position: absolute;
    width: 310px;
    height: 850px;
    top: 103px;

    background: #FFFFFF;
    border-right: solid 1px #282828;

}

#blueBackground_admin{
    position: absolute;
    width: 250px;
    height: 720px;
    left: 32px;
    top: 64px;

    background: #aaaaaa;
    border-radius: 25px;
}

#admin_text{

    position: absolute;
    width: 250px;
    height: 80px;
    top: 34px;

    text-align: center;
    color: black;
    font-size: 25px;

}

#leftBar_admin_nickname{

    position: absolute;
    width: 250px;
    height: 50px;

    top: 150px;

    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    text-align: center;

    color: #000000;

}

#whiteBar{

    position: absolute;
    width: 210px;
    left: 20px;
    top: 230px;

    border: 3px solid #FFFFFF;
    transform: matrix(-1, 0, 0, -1, 0, 0);

}

#adminMenu{
    position: absolute;
    width: 250px;
    top: 250px;
    padding-left: 15px;
}

.adminMenu{
    margin-top: 30px;
}

.admin_to{
    height: 20px;
    width: 150px;
    margin-left: 20px;
    font-weight: 700;
}

.admin_leftBar_img{
    width: 20px;
    height: 20px;
}
