
#month-visitor-text{
    position: absolute;
    left: 470px;
    top: 410px;
    font-size: 30px;

    cursor: default;
}

#month-visitor{
    background-color: #DFF7FD;
    position: absolute;
    overflow: hidden;
    left: 450px;
    top: 460px;
    width: 700px;
    height: 420px;
    font-weight: bold;
    padding-bottom: 5px;
    border-radius: 10px;

}

#day-visitor-text{
    position: absolute;
    left: 1270px;
    top: 410px;
    font-size: 30px;

    cursor: default;
}

#day-visitor {
    background-color: #DFF7FD;
    overflow: hidden;
    position: absolute;
    left: 1250px;
    top: 460px;
    width: 500px;
    height: 420px;
    font-weight: bold;
    padding-bottom: 5px;
    border-radius: 10px;

}


/* 차트 전체 스타일 */
.chart {
    display: flex;
    align-items: flex-end;
    height: 300px;


    padding-left: 10px;
}

/* y축 스타일 */
.y-axis {
    position: absolute;
    top: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    height: 360px;
    /*padding-right: 10px;*/
    border-right: 1px solid #787878;

    cursor: default;
}

.y-label {
    width: 32px;
    font-size: 10px;
    margin-right: -1px;
    color: #333;
    cursor: default;
}

/*월별 x축 스타일*/
.monthTexts{
    position: absolute;
    top: 400px;
    left: 41px;
    width: 620px;
    height: 10px;
    padding-left: 25px;
    padding-top: 5px;
    gap: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #787878;

    cursor: default;
}

.monthText{
    width: 40px;
    align-items: center;
    font-size: 12px;
}

/*주별 x축 스타일*/
.weekTexts{
    position: absolute;
    top: 400px;
    left: 41px;
    width: 410px;
    height: 10px;
    padding-left: 25px;
    padding-top: 5px;
    gap: 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid #787878;

    cursor: default;
}

.weekText{
    width: 40px;
    align-items: center;
    font-size: 12px;
}

/* 막대 그래프 영역 */
.bars {
    position: absolute;
    left: 55px;
    top: 50px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    height: 350px;

}

.bars2 {
    position: absolute;
    left: 55px;
    top: 50px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    height: 350px;
}


/* 각 막대 스타일 */
.bar {
    width: 40px;
    background-color: #1FA8E2;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;

    cursor: default;
}
.bar2 {
    width: 40px;

    background-color: #CFC049;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;

    cursor: default;
}

.bar:hover{
    font-size: 18px;
    color: white;
}

.bar2:hover{
    font-size: 18px;
    color: white;
}

/*회원 영역*/
#dashBoard_userArea{
    box-sizing: border-box;

    position: absolute;
    width: 245px;
    height: 109px;
    left: 536px;
    top: 209px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 30px;

    cursor: pointer;
}

#dashBoard_userArea:hover{
    transform: scale(1.1);
    background-color: #8DE6FF;
}
/*프로젝트 영역*/
#dashBoard_projectArea{

    box-sizing: border-box;

    position: absolute;
    width: 245px;
    height: 109px;
    left: 950px;
    top: 209px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 30px;

    cursor: pointer;
}
#dashBoard_projectArea:hover{
    transform: scale(1.1);
    background-color: #8DE6FF;
}
/*문의 영역*/
#dashBoard_inquiryArea{

    box-sizing: border-box;

    position: absolute;
    width: 245px;
    height: 109px;
    left: 1356px;
    top: 209px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 30px;

    cursor: pointer;
}
#dashBoard_inquiryArea:hover{
    transform: scale(1.1);
    background-color: #8DE6FF;
}
/*영역 텍스트 스타일*/
.areaText{
    position: absolute;
    width: 120px;
    height: 34px;
    left: 30px;
    top: 37px;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: center;

    color: #000000;

}
/*영역 이미지 위치*/
.areaImg{
    position: absolute;
    left: 165px;
    top: 32px;
}