#line {
    border: 3px solid #92E2F8;
    width: 800px;
    margin-left: 100px;
    margin-top: 120px;
}

#inquiryHead{

    display: flex;
}
#inquiryTitle {

    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 50px;
}

#inquiryTitle2 {

    width: 750px;
    height: 60px;
    border: 1px solid #92E2F8;
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 50px;
}

#inquiryTitle2 h3{
    ;
}

