

#inquiryTable_text{

    position: absolute;
    width: 192px;
    height: 63px;
    left: 401px;
    top: 146px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;

    color: #000000;

    cursor: default;
}

#inquiryTablePassAuth_text{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 406px;
    top: 220px;

    align-content: center;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

    cursor: default;
}

#inquiryTableRequire_text{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 1106px;
    top: 220px;

    align-content: center;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

    cursor: default;
}
#inquiryTableAnswer_text{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 406px;
    top: 570px;

    align-content: center;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

    cursor: default;
}
#inquiryTableRead_text{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 1106px;
    top: 570px;

    align-content: center;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

    cursor: default;
}

#inquiryTablePassAuth{
    position: absolute;
    width: 625px;

}

#inquiryTablePassAuth_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 250px;
    left: 400px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
}

#inquiryTableRequire{
    position: absolute;
    width: 625px;


}

#inquiryTableRequire_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 250px;
    left: 1100px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
}

#inquiryTableAnswer{
    position: absolute;
    width: 625px;

}

#inquiryTableAnswer_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 600px;
    left: 400px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
}

#inquiryTableRead{
    position: absolute;
    width: 625px;

}

#inquiryTableRead_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 600px;
    left: 1100px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
}

th, td{
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    height: 40px;
    align-content: center;

    cursor: default;
}

#deleteAllRead{
    position: absolute;
    width: 80px;
    height: 30px;
    left: 1200px;
    top: 568px;


    border-radius: 15px;
    font-size: 16px;

    cursor: pointer;
}