

#inquiryTable_text{

    position: absolute;
    width: 192px;
    height: 63px;
    left: 401px;
    top: 146px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;

    color: #000000;
}

#inquiryTable_category{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 601px;
    top: 151px;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    border-radius: 10px;
}

#inquiryTable_search{
    position: absolute;
    width: 700px;
    height: 50px;
    left: 819px;
    top: 148px;

    text-align: right;
    font-weight: 400;
    font-size: 25px;
    border-radius: 10px;
    padding-right: 10px;
}
#inquiryTable_search_btn{
    position: absolute;
    width: 80px;
    height: 50px;
    left: 1541px;
    top: 150px;

    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
}

#inquiryTablePassAuth{
    position: absolute;
    width: 625px;

}

#inquiryTablePassAuth_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 250px;
    left: 400px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
}

#inquiryTableRequire{
    position: absolute;
    width: 625px;


}

#inquiryTableRequire_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 250px;
    left: 1100px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
}

#inquiryTableAnswer{
    position: absolute;
    width: 625px;

}

#inquiryTableAnswer_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 600px;
    left: 400px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
}

#inquiryTableRead{
    position: absolute;
    width: 625px;

}

#inquiryTableRead_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 600px;
    left: 1100px;
    height: 280px;
    border: 1px solid black;
    border-radius: 10px;
}

th, td{
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    height: 40px;
    align-content: center;
}

#deleteAllRead{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1730px;
    top: 600px;

    border-radius: 15px;
    font-size: 16px;

    cursor: pointer;
}