#projectTable_text{

    position: absolute;
    width: 192px;
    height: 63px;
    left: 401px;
    top: 146px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;

    color: #000000;
}

#projectTableActive_text{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 406px;
    top: 240px;

    align-content: center;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

#projectTableDeactive_text{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 1125px;
    top: 240px;

    align-content: center;
    font-weight: 400;
    padding-left: 20px;
    font-size: 20px;

    color: #000000;
}

#projectTable_category{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 601px;
    top: 151px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 10px;

    cursor: pointer;
}

#projectTable_search{
    position: absolute;
    width: 700px;
    height: 45px;
    left: 819px;
    top: 150px;

    text-align: right;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
    padding-right: 10px;
}
#projectTable_search_btn{
    position: absolute;
    width: 70px;
    height: 40px;
    left: 1541px;
    top: 155px;

    font-weight: 400;
    font-size: 18px;
    border-radius: 10px;

    cursor: pointer;
}

#projectTableActive{
    position: absolute;
    width: 625px;

}

#projectTableActive_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 275px;
    left: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

#projectTableDeactive{
    position: absolute;
    width: 625px;

}

#projectTableDeactive_area{
    overflow: auto;
    position: absolute;
    width: 625px;
    top: 275px;
    left: 1125px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
}

th, td{
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    height: 40px;
    align-content: center;
}

#deleteAllDeactive{
    position: absolute;
    width: 80px;
    height: 30px;
    left: 1365px;
    top: 240px;

    border-radius: 15px;
    font-size: 16px;

    cursor: pointer;
}