<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.collatime.project.model.dao.ProjectMapper">

    <resultMap id="projectResultMap" type="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        <id property="projectNo" column="PROJECT_NO"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="projectCategoryCode" column="PROJECT_CATEGORY_CODE"/>
        <result property="startDate" column="PROJECT_START_DATE"/>
        <result property="endDate" column="PROJECT_END_DATE"/>
        <result property="projectSummary" column="PROJECT_SUMMARY"/>
        <result property="projectPurpose" column="PROJECT_PURPOSE"/>
    </resultMap>

    <select id="getList" resultMap="projectResultMap">
        SELECT
                PROJECT_NO
              , PROJECT_NAME
              , PROJECT_SUMMARY
              , PROJECT_PURPOSE
              , PROJECT_START_DATE
              , PROJECT_END_DATE
              , PROJECT_CATEGORY_CODE
           FROM PROJECT
          ORDER BY PROJECT_NO
    </select>

    <select id="getProject" resultMap="projectResultMap" parameterType="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        SELECT
               PROJECT_NO
             , PROJECT_NAME
             , PROJECT_SUMMARY
             , PROJECT_PURPOSE
             , PROJECT_START_DATE
             , PROJECT_END_DATE
             , PROJECT_CATEGORY_CODE
          FROM PROJECT
         WHERE PROJECT_NO = 1
    </select>

    <insert id="insertProject" parameterType="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        INSERT INTO PROJECT
        (
            PROJECT_NAME
          , PROJECT_CATEGORY_CODE
          , PROJECT_START_DATE
          , PROJECT_END_DATE
          , PROJECT_SUMMARY
          , PROJECT_PURPOSE
          , PRODUCTOR_NO
        )
        VALUES
        (
            #{ projectName }
          , #{ projectCategoryCode }
          , DATE_FORMAT(#{ startDate }, '%y-%m-%d')
          , DATE_FORMAT(#{ endDate }, '%y-%m-%d')
          , #{ projectSummary }
          , #{ projectPurpose }
          , 1
        )
    </insert>

    <update id="updateProject" parameterType="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        UPDATE PROJECT
        SET
        (
            PROJECT_NAME = #{ projectName }
          , PROJECT_CATEGORY_CODE = #{ projectCategoryCode }
          , PROJECT_START_DATE = DATE_FORMAT(#{ startDate }, '%y-%m-%d')
          , PROJECT_END_DATE = DATE_FORMAT(#{ endDate }, '%y-%m-%d')
          , PROJECT_SUMMARY = #{ projectSummary }
          , PROJECT_PURPOSE = #{ projectPurpose }
          , PRODUCTOR_NO = 1
        )
         WHERE PROJECT_NO = #{ projectNo }
    </update>
</mapper>


