<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.collatime.project.model.dao.ProjectMapper">

    <!-- ProjectDTO -->
    <resultMap id="projectResultMap" type="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        <id property="projectNo" column="PROJECT_NO"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="projectCategoryCode" column="PROJECT_CATEGORY_CODE"/>
        <result property="startDate" column="PROJECT_START_DATE"/>
        <result property="endDate" column="PROJECT_END_DATE"/>
        <result property="projectSummary" column="PROJECT_SUMMARY"/>
        <result property="projectPurpose" column="PROJECT_PURPOSE"/>
        <result property="productorNo" column="PRODUCTOR_NO"/>
    </resultMap>

     <!--InviteMemberDTO-->
    <resultMap id="JoinProjectResultMap" type="com.ohgiraffers.collatime.project.model.dto.InviteMemberDTO">
        <id property="projectNo" column="PROJECT_NO"/>
        <result property="joinCode" column="RANDOM_JOIN_CODE"/>
        <result property="email" column="EMAIL"/>
    </resultMap>

    <!-- 프로젝트 전체 조회 -->
    <select id="getList" resultMap="projectResultMap" parameterType="int">
        SELECT
                A. PROJECT_NO
              , A. PROJECT_NAME
              , A. PROJECT_SUMMARY
              , A. PROJECT_PURPOSE
              , A. PROJECT_START_DATE
              , A. PROJECT_END_DATE
              , A. PROJECT_CATEGORY_CODE
              , A. PRODUCTOR_NO
           FROM PROJECT A
        WHERE PRODUCTOR_NO = #{ userNo }
              OR
              EXISTS (
                       SELECT 1
                         FROM JOIN_PROJECT A_2
                        WHERE A.PROJECT_NO = A_2.PROJECT_NO
                          AND A_2.CT_USER_NO = #{ userNo }
                     )
        ORDER BY PROJECT_NO
    </select>

    <!-- 프로젝트 번호로 프로젝트 조회 -->
    <select id="getProject" resultMap="projectResultMap" parameterType="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        SELECT
               PROJECT_NO
             , PROJECT_NAME
             , PROJECT_SUMMARY
             , PROJECT_PURPOSE
             , PROJECT_START_DATE
             , PROJECT_END_DATE
             , PROJECT_CATEGORY_CODE
          FROM PROJECT
         WHERE PROJECT_NO = #{ projectNo }
    </select>

    <!-- 프로젝트 멤버 리스트 가져오기 -->
    <select id="getInviteMemberList" resultMap="JoinProjectResultMap" parameterType="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        SELECT
                RANDOM_JOIN_CODE
              , EMAIL
          FROM  JOIN_PROJECT
         WHERE  PROJECT_NO = #{ projectNo }
    </select>

    <!-- 프로젝트 생성 - Project DB에 저장 -->
    <insert id="insertProject" parameterType="com.ohgiraffers.collatime.project.model.dto.ProjectDTO"  useGeneratedKeys="true" keyProperty="projectNo" keyColumn="PROJECT_NO">
        INSERT INTO PROJECT
        (
            PROJECT_NAME
          , PROJECT_CATEGORY_CODE
          , PROJECT_START_DATE
          , PROJECT_END_DATE
          , PROJECT_SUMMARY
          , PROJECT_PURPOSE
          , PRODUCTOR_NO
        )
        VALUES
        (
            #{ projectName }
          , #{ projectCategoryCode }
          , #{ startDate }
          , #{ endDate }
          , #{ projectSummary }
          , #{ projectPurpose }
          , #{ productorNo }
        )
    </insert>

    <!-- 프로젝트 생성 - JoinProject DB에 저장 -->
    <insert id="insertJoinProject" parameterType="com.ohgiraffers.collatime.project.model.dto.InviteMemberDTO">
        INSERT INTO JOIN_PROJECT
        (
            PROJECT_NO
          , CT_USER_NO
          , RANDOM_JOIN_CODE
          , EMAIL
        )
        VALUES
        (
            #{ projectNo }
          , -1
          , #{ joinCode }
          , #{ email }
        )
    </insert>

    <!-- 프로젝트 수정 - 프로젝트 내용 수정 -->
    <update id="updateProject" parameterType="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        UPDATE PROJECT
        SET

            PROJECT_NAME = #{ projectName }
          , PROJECT_CATEGORY_CODE = #{ projectCategoryCode }
          , PROJECT_START_DATE = #{ startDate }
          , PROJECT_END_DATE = #{ endDate }
          , PROJECT_SUMMARY = #{ projectSummary }
          , PROJECT_PURPOSE = #{ projectPurpose }

         WHERE PROJECT_NO = #{ projectNo }
    </update>

    <!-- 프로젝트 수정 - 멤버 수정 -->
    <update id="updateMember" parameterType="com.ohgiraffers.collatime.project.model.dto.InviteMemberDTO">
        UPDATE JOIN_PROJECT
        SET
             , CT_USER_NO = #{ userNo }
             , EMAIL = #{ email }
         WHERE PROJECT_NO = #{ projectNo }
    </update>

    <!-- 프로젝트 삭제 - project 테이블 -->
    <delete id="deleteProject" parameterType="com.ohgiraffers.collatime.project.model.dto.ProjectDTO">
        DELETE FROM PROJECT
        WHERE PROJECT_NO = #{ projectNo }
    </delete>

    <!-- 프로젝트 삭제 - join_project 테이블 -->
    <delete id="deleteMember" parameterType="com.ohgiraffers.collatime.project.model.dto.InviteMemberDTO">
        DELETE FROM JOIN_PROJECT
        WHERE PROJECT_NO = #{ projectNo }
    </delete>

</mapper>




