@charset "utf-8";

#modalManageMember {

    position: absolute;
    width: 1013px;
    height: 680px;
    left: 453px;
    top: 100px;

    background: #FFFFFF;
    border: 1px solid #595959;
    border-radius: 25px;
}

#manageMemberHeader{
    position: absolute;
    width: 1013px;
    height: 51px;

    background: #92E2F8;
    border-bottom: 1px solid #282828;
    border-radius: 25px 25px 0px 0px;
}

#manageMemberXButton{
    width: 30px;
    height: 34px;
    font-size: 30px;
    position: absolute;
    left: 965px;
    top: 5px;
}

#manageMemberText{

    position: absolute;
    width: max-content;
    height: 32px;
    left: 83px;
    top: 107px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.03em;
    color: #282828;

}

#titleNickname{
    position: absolute;
    left: 182px;
}

#titleEmail{
    position: absolute;
    left: 380px;
}

#titleNote{
    position: absolute;
    left: 690px;
}

.listHead{
    position: absolute;
    width: max-content;
    height: 23px;
    top: 189px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #282828;
}

#forInviteMember{

    position: absolute;
    left: 730px;
    top: 620px;
    background: #DEF6FD;
    border: #DEF6FD;
    width: 114px;
    height: 36px;

    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #282828;

}

.member-row {
    display: flex;
    position: relative; /* 상위 요소를 기준으로 절대 위치 설정 */
    /*margin-bottom: 10px; !* 각 멤버 간의 간격 *!*/
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
}

.nickname {
    position: absolute;
    left: 162px;
}

.email {
    position: absolute;
    left: 360px;
}

.note {
    position: absolute;
    left: 690px;
}

.trashcanIcon {
    position: absolute;
    left: 831px;
}


#manageMemberConfirm{

    position: absolute;
    width: 114px;
    height: 36px;
    left: 860px;
    top: 620px;
    background: #92E2F8;
    border: #92E2F8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    line-height: 36px;
    letter-spacing: 0.03em;

    color: #282828;

}

