@charset "UTF-8";

/* 전체 레이아웃 */
#createOrJoin{

    position: absolute;
    width: 554px;
    height: 592px;
    left: 683px;
    top: 130px;
    background: #FFFFFF;
    border: 1px solid #595959;
    border-radius: 25px;

}

/* 하늘색 윗부분 띠 */
#middleBlueHeader{

    position: absolute;
    width: 554px;
    height: 51px;
    background: #92E2F8;
    border-bottom: 1px solid #282828;
    border-radius: 25px 25px 0px 0px;

}

/* X버튼 */
#middleXButton{

    width: 30px;
    height: 34px;
    font-size: 30px;
    position: absolute;
    left: 506px;
    top: 5px;
    border: none;
    background: none;

}

/* 프로젝트 생성하기 텍스트 */
#createProject{

    position: absolute;
    width: 300px;
    height: 28px;
    left: 40px;
    top: 110px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;

}

/* 프로젝트 생성 버튼 */
#areaCreateProject{

    position: absolute;
    width: 443px;
    height: 130px;
    left: 55px;
    top: 170px;
    background: #DFF7FD;
    border-radius: 25px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    display: flex;
    justify-content: center;
    line-height: 105px;

    color: #898989;

}

/* 프로젝트 참가하기 텍스트 */
#joinProject{

    position: absolute;
    width: 300px;
    height: 28px;
    left: 40px;
    top: 350px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;

}

/* 프로젝트 참가 코드 입력란 */
#inputCode{

    position: absolute;
    width: 330px;
    height: 40px;
    left: 55px;
    top: 400px;
    border-radius: 15px;
    border: solid 1px #282828;
    font-size: 15px;
    text-align: center;
    outline: none;

}

/* 프로젝트 참가 코드 전송 버튼 */
#joinButton{

    position: absolute;
    width: 90px;
    height: 40px;
    left: 400px;
    top: 400px;
    border: solid 1px #595959;
    border-radius: 15px;
    background: #92E2F8;
    border: #92E2F8;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;

}

/* 취소 버튼 */
#smallCancel{

    position: absolute;
    width: 99px;
    height: 31px;
    left: 330px;
    top: 540px;
    border-radius: 25px;
    background: #DFF7FD;
    border: #DFF7FD;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    vertical-align: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;

}

/* 확인 버튼 */
#smallConfirm{

    position: absolute;
    width: 99px;
    height: 31px;
    left: 437px;
    top: 540px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 25px;
    background: #92E2F8;
    border: #92E2F8;

    color: #000000;
}

