@charset "utf-8";

/* 모달 레이아웃 */
#createProjectModal{

    cursor: default;
    position: absolute;
    width: 1013px;
    height: 680px;
    left: 453px;
    top: 100px;

    background: #FFFFFF;
    border: 1px solid #595959;
    border-radius: 25px;
}

#bigBlueHeader{
    position: absolute;
    width: 1013px;
    height: 51px;

    background: #92E2F8;
    border-bottom: 1px solid #282828;
    border-radius: 25px 25px 0px 0px;
}

#bigXButton{
    width: 30px;
    height: 34px;
    font-size: 30px;
    position: absolute;
    left: 965px;
    top: 5px;

}

/* --내용-- */

/* 제목 */
#title{

    position: absolute;
    width: 850px;
    height: 60px;
    left: 56px;
    top: 91px;
    border-bottom: solid 3px #92E2F8;
    display: flex;
    justify-content: center;
    align-items: center;

}

#inputTitle{

    width: 800px;
    height: 50px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.03em;

    color: #282828;

}

/* 개요 */
.star{

    position: absolute;
    color: #E25252;
    font-size: 25px;
    left: 56px;

}

#summaryStar{

    position: absolute;
    top: 205px;

}

#summaryLabel{

    position: absolute;
    left: 70px;
    top: 210px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.03em;

    color: #282828;

}

#summary{

    position: absolute;
    width: 780px;
    height: 70px;
    left: 130px;
    top: 190px;

    border-left: solid 3px #92E2F8;

}

#inputSummary{

    position: absolute;
    width: 760px;
    height: 60px;
    left: 10px;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-align: start;
    border: none;

    color: #000000;

    /* https://11001.tistory.com/149#google_vignette */
}

/* 목표 및 목적 */
#purposeStar{

    position: absolute;
    top: 315px;

}

#purposeLabel{

    position: absolute;
    left: 70px;
    top: 320px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.03em;

    color: #282828;

}

#purpose{

    position: absolute;
    width: 780px;
    height: 70px;
    left: 130px;
    top: 299px;

    border-left: solid 3px #92E2F8;

}

#inputPurpose{

    position: absolute;
    width: 760px;
    height: 60px;
    left: 10px;
    top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-align: start;
    border: none;

    color: #000000;

}

/* 기간 */
#startDateStar{

    position: absolute;
    top: 415px;

}

#periodLabel{

    position: absolute;
    left: 70px;
    top: 420px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.03em;

    color: #282828;

}

#period{

    position: absolute;
    width: 780px;
    height: 50px;
    left: 130px;
    top: 408px;

    border-left: solid 3px #92E2F8;


}

#projectStartDate{

    position: absolute;
    width: 150px;
    height: 40px;
    left: 10px;
    top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    line-height: 20px;
    border: none;

    color: #000000;

}

#projectEndDate{

    position: absolute;
    width: 150px;
    height: 40px;
    left: 205px;
    top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    line-height: 20px;
    border: none;

    color: #282828;

}

#wave{

    position: absolute;
    left: 175px;
    top: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    line-height: 20px;
    border: none;

    color: #282828;

}

/* 카테고리 */
#categoryLabel{

    position: absolute;
    left: 70px;
    top: 510px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.03em;

    color: #282828;

}

#category{

    position: absolute;
    width: 780px;
    height: 50px;
    left: 130px;
    top: 497px;

    border-left: solid 3px #92E2F8;

}

.category{

    position: absolute;
    width: 78px;
    height: 38px;
    top: 7px;
    border: solid 2px #92E2F8;
    border-radius: 15px;
    background: #FFFFFF;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.03em;

}

#bank{

    position: absolute;
    left: 10px;

}

#insurance{

    position: absolute;
    left: 100px;

}

#publicSector{

    position: absolute;
    left: 190px;

}

#web{

    position: absolute;
    left: 280px;

}

#application{

    position: absolute;
    left: 370px;

}

#etc{

    position: absolute;
    left: 460px;

}

#memberStar{

    position: absolute;
    top: 581px;

}

#memberLabel{

    position: absolute;
    width: 50px;
    left: 70px;
    top: 586px;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.03em;

    color: #282828;

}

#member{

    position: absolute;
    width: 780px;
    height: 50px;
    left: 130px;
    top: 586px;

    border-left: solid 3px #92E2F8;

}

#inviteMember{

    position: absolute;
    width: 78px;
    height: 38px;
    left: 10px;
    top: 7px;
    border: solid 2px #E7E7E7;
    border-radius: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.03em;
    background: #E7E7E7;

}

#bigCancel1{

    position: absolute;
    left: 730px;
    top: 620px;
    background: #DEF6FD;
    border: #DEF6FD;
    width: 114px;
    height: 36px;

    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #282828;

}

#bigConfirm1{

/*    position: absolute;
    width: 99px;
    height: 31px;
    left: 880px;
    top: 620px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 25px;
    background: #92E2F8;
    border: #92E2F8;

    color: #282828; */

    position: absolute;
    width: 114px;
    height: 36px;
    left: 860px;
    top: 620px;
    background: #92E2F8;
    border: #92E2F8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    line-height: 36px;
    letter-spacing: 0.03em;

    color: #282828;

}
