@charset "UTF-8";

/* 헤더 */
/*#head{*/

/*    cursor: default;*/
/*    width: 1915px;*/
/*    height: 100px;*/
/*    !*border-bottom: solid 1px #282828;*!*/
/*    border-bottom: solid;*/
/*    border-color: #92E2F8;*/

/*}*/

/*#logo{*/

/*    position: absolute;*/
/*    width: 186px;*/
/*    height: 67px;*/
/*    left: 39px;*/
/*    top: 15px;*/

/*}*/

/*#logOut{*/

/*    position: absolute;*/
/*    width: 130px;*/
/*    height: 50px;*/
/*    left: 1746px;*/
/*    top: 25px;*/
/*    background: #DFF7FD;*/
/*    border: none;*/
/*    border-radius: 10px;*/

/*    font-family: 'Inter';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 20px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    line-height: 50px;*/

/*    color: #000000;*/

/*}*/



/* 왼쪽바 */
/*#leftBarLayout{*/

/*    cursor: default;*/
/*    position: absolute;*/
/*    width: 310px;*/
/*    height: 813px;*/
/*    top: 103px;*/

/*    background: #FFFFFF;*/
/*    border-right: solid 1px #282828;*/

/*}*/

/*#blueBackground{*/

/*    position: absolute;*/
/*    width: 250px;*/
/*    height: 720px;*/
/*    left: 32px;*/
/*    top: 48px;*/

/*    background: #92E2F8;*/
/*    border-radius: 25px;*/

/*}*/

/*#profile{*/

/*    position: absolute;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    left: 85px;*/
/*    top: 34px;*/

/*    background: #FFFFFF;*/
/*    border: solid 1px #FFFFFF;*/
/*    border-radius: 6355px;*/

/*}*/

/*#nickname{*/

/*    position: absolute;*/
/*    width: 200px;*/
/*    height: 178px;*/
/*    left: 30px;*/
/*    top: 135px;*/

/*    font-family: 'Inter';*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*    line-height: 18px;*/

/*    color: #000000;*/

/*}*/

/*#myPage{*/

/*    position: absolute;*/
/*    width: 130px;*/
/*    height: 30px;*/
/*    left: 65px;*/
/*    top: 180px;*/

/*    font-family: 'Inter';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 25px;*/
/*    line-height: 30px;*/

/*    color: #000000;*/

/*}*/

/*#whiteBar1{*/

/*    position: absolute;*/
/*    width: 210px;*/
/*    left: 20px;*/
/*    top: 230px;*/

/*    border: 3px solid #FFFFFF;*/
/*    transform: matrix(-1, 0, 0, -1, 0, 0);*/

/*}*/

/*#textMyProject{*/

/*    position: absolute;*/
/*    width: 100px;*/
/*    height: 15px;*/
/*    left: 30px;*/
/*    top: 250px;*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-size: 15px;*/
/*    line-height: 15px;*/

/*    color: #282828;*/

/*}*/

/*!* MyProject 프로젝트 리스트 *!*/
/*#projectMenu{*/

/*    position: absolute;*/
/*    left: 25px;*/
/*    top: 275px;*/

/*}*/

/*#projectIcon{*/

/*    position: absolute;*/
/*    left: 5px;*/
/*    top: 5px;*/

/*}*/

/*#menuProjectName{*/

/*    position: absolute;*/
/*    left: 25px;*/
/*    top: 5px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 13px;*/
/*    line-height:15px;*/
/*    color: #282828;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/

/*}*/

/*#whiteBar2{*/

/*    position: absolute;*/
/*    width: 210px;*/
/*    left: 20px;*/
/*    top: 580px;*/
/*    border: 3px solid #FFFFFF;*/
/*    transform: matrix(-1, 0, 0, -1, 0, 0);*/

/*}*/

/*!* 문의하기 *!*/
/*#firstInquiry{*/

/*    position: absolute;*/
/*    left: 30px;*/
/*    top: 600px;*/

/*}*/

/*#doInquiryText{*/

/*    position: absolute;*/
/*    left: 55px;*/
/*    top: 600px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 13px;*/
/*    line-height: 15px;*/

/*    color: #282828;*/
/*}*/

/*!* 권한 위임 요청 *!*/
/*#secondInquiry{*/

/*    position: absolute;*/
/*    left: 30px;*/
/*    top: 625px;*/

/*}*/

/*#authorityText{*/

/*    position: absolute;*/
/*    left: 55px;*/
/*    top: 625px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 13px;*/
/*    line-height: 15px;*/

/*    color: #282828;*/
/*}*/

/* ----------------------------------------------------------- */
/* 메인 구역 */
#mainArea{

    position: absolute;
    width: 1605px;
    height: 816px;
    left: 311px;

}

/* Project 글자 */
#mainTitle{

    position: absolute;
    width: 186px;
    height: 54px;
    left: 398px;
    top: 151px;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;

    color: #282828;

}

/* 생성된 프로젝트 폴더 */
#createdProjectFolder{

    cursor: default;
    position:absolute;
    width: 220px;
    height: 183px;
    border: none;

}

#folderHead{

    cursor: default;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 50px;
    height: 22px;
    border-left: solid 1px #282828;
    border-right: solid 1px #282828;
    border-top: solid 1px #282828;

}

#folderBody{

    /*position: absolute;*/
    /*left: 5px;*/
    /*top: 27px;*/
    /*width: 210px;*/
    /*height: 141px;*/
    /*border: solid 1px #282828;*/
    /*display: flex;*/
    /*vertical-align: center;*/
    /*justify-content: center;*/
    /*!*line-height: 141px;*!*/
    position: absolute;
    left: 5px;
    top: 27px;
    width: 210px;
    height: 141px;
    border: solid 1px #282828;
    display: flex;
    justify-content: center;
    /* line-height: 141px; */
}

#projectTitle {
    line-height: 1.2;
    position: absolute;
    margin-top: 10px;
    width: 160px;
    height: 120px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    color: #282828;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#folderMenu{

    /* ... */
    position: absolute;
    left: 186px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;

    color: #282828;

}

#crudMenu{

    position: absolute;
    width: 110px;
    height: 150px;
    left: 187px;
    top: 29px;
    background: #F5F5F5;
    border: none;
    display: flex;
    justify-content: center;

}


.crudText{

    position: absolute;
    height: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #282828;
    border-bottom: solid 2px #E2E2E2;
    text-align: center;

}
#projectSelect{
    position: absolute;
    top: 10px;
}

#projectUpdate{
    position: absolute;
    top: 45px;
}

#projectDelete{
    position: absolute;
    top: 80px;
}

#manageMember{
    position: absolute;
    top: 115px;
}


#projectFullName{

    cursor: default;
    position: absolute;
    width: 190px;
    left: 10px;
    top: 173px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #282828;

}

/* New 프로젝트 폴더 */

#newProject{

    cursor: default;
    position:absolute;
    width: 220px;
    height: 183px;
    border: none;

}

#newFolderHead{

    position: absolute;
    width: 50px;
    height: 22px;
    left: 5px;
    top: 5px;
    border-left: solid 1px #282828;
    border-right: solid 1px #282828;
    border-top: solid 1px #282828;
    background: #F5F4F4;

}

#newFolderBody{

    cursor: default;
    position: absolute;
    width: 210px;
    height: 141px;
    left: 5px;
    top: 27px;
    border: solid 1px #282828;
    background: #F5F4F4;
    display: flex;
    justify-content: center;
    line-height: 125px;
}

#plus{

    position: absolute;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    color: #282828;

}

#newProjectText{

    cursor: default;
    position: absolute;
    left: 10px;
    top: 173px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;

    color: #282828;

}


