<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/middlemodal.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/css/domain/schedule/list.css">
    <title>Title</title>
</head>
<body>
<!-- 중간 모달창 -->
<div id="middleModal">
  <div id="middleBlueHeader">
    <div id="middleXButton">X</div>
  </div>
  <div id="middleContent">
    <span class="dot"></span>
    <span class="text">Java 실습 문제 풀어오기</span>
  </div>
</div>

</body>
</html>