<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/footer.css">

</head>
<body>

<div id="collatime-footer">
    <p id="footer-text1">
        주소 경기도 하남시 미사강변동로 85, 힐스테이트 에코미사<br><br>
        콜라타임(주)공동 대표자 이하은 | 조형석 | 김주혜 | 박수완<br><br>
        이메일 collatime@collatime.team<br><br>
        통신판매업 신고번호 제2024-경기도하남-1004호<br><br>
        사업자 등록번호 123-45-1004
    </p>
    <p id="footer-text2">
        회사소개<br><br>
        스토리<br><br>
        문화복지<br><br>
        채용
    </p>
    <p id="footer-text3">
        기능<br><br>
        프로젝트 & 업무관리<br><br>
        보안 메신저<br><br>
        커뮤니티<br><br>
        보안<br><br>
        외부 서비스 연동
    </p>
    <p id="footer-text4">
        도움말<br><br>
        사용 메뉴얼<br><br>
        도입 가이드<br><br>
        자주묻는 질문
    </p>
    <p id="footer-text5">
        개발자 센터<br><br>
        업데이트
    </p>
</div>
<div id="footer">
    <p id="footer-text6">
        이용약관
    </p>
    <p id="footer-text7">
        개인정보취급방침
    </p>
    <p id="footer-text8">
        오픈소스라이센스
    </p>
</div>

</body>
</html>