<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/static/css/common/header.css">
</head>
<body>
    <!-- 메인 페이지-->
    <div id="header">
        <div id="header-logo">
            <img id="header-logo-img" src="/static/css/common/image/CollaTime-Logo.png">
            <button id="intro1"><a>소개</a></button>
            <button id="intro2"><a>기능</a></button>
            <button id="login">로그인</button>
            <button id="sign-up">회원가입</button>
        </div>
    </div>
    <!--로그인창, 회원가입창에 쓰일 헤더-->
<!--    <div id="header">-->
<!--        <div id="header-logo">-->
<!--            <img id="header-logo-img" src="/static/css/common/image/CollaTime-Logo.png">-->
<!--            <button id="login">로그인</button>-->
<!--            <button id="sign-up">회원가입</button>-->
<!--        </div>-->
<!--    </div>-->

    <!-- 나머지 창에 쓰일 로그아웃 헤더-->
<!--    <div id="header">-->
<!--        <div id="header-logo">-->
<!--            <img id="header-logo-img" src="/static/css/common/image/CollaTime-Logo.png">-->
<!--            <button id="logout">로그아웃</button>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>