<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="/css/common/header.css">
</head>
<body>
    <!-- header 부분-->
    <div id="header">
        <div id="header-logo">
            <img id="header-logo-img" src="/css/common/image/CollaTime-Logo.png" onclick="location.href='/main'">
            <button id="intro1"><a>소개</a></button>
            <button id="intro2"><a>기능</a></button>
            <button id="login" onclick="location.href='/auth/login'">로그인</button>
            <button id="sign-up" onclick="location.href='/user/signup'">회원가입</button>
        </div>
    </div>
</body>
</html>