<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common/leftBar.css">
</head>
<body>
<!-- Left Bar 구역 -->
<div id="leftBarLayout">
    <div id="blueBackground">
        <div id="profile"></div>
        <div id="leftBarNickname" th:text="${#authentication.principal.userNickname}"></div>
        <div id="whiteBar1"></div>
        <span id="textMyProject">My Project</span>
        <div id="projectMenu">
        </div>
        <div id="whiteBar2"></div>
        <div id="doInquiry">
            <img src="/css/project/image/inquiryIcon.png" id="firstInquiry">
            <span id="doInquiryText">문의하기</span>
        </div>
        <div id="authority">
            <img src="/css/project/image/inquiryIcon.png" id="secondInquiry">
            <span id="authorityText">권한 위임 요청</span>
        </div>
    </div>
</div>
<div th:replace="/common/profile.html"></div>
<div th:replace="/common/doinquiry.html"></div>
<div th:include="/common/passauthority.html" id="passAuthority_link"></div>
<script>
    const leftBarProjectMenu = document.getElementById('projectMenu')
    fetch("/common/leftbar")
    .then(res=>res.json())
    .then(data=>{
        console.log(data)
        if(data.length>0){
            // 프로젝트와 스케줄 연결하면 onclick으로 해당 프로젝트 아이디 가지고 넘어갈 수 있게 만들자.
            for (var i = 0; i<data.length; i++) {
                let scheduleLink = "/schedule?projectNo=" + `${data[i].projectNo}`;
                const myProjectList = document.createElement("div")
                myProjectList.innerHTML =
                    `<div class="projectList">
                    <img src="/css/project/image/folderIcon.png" class="projectIcon">
                    <span class="menuProjectName" onclick="location.href='${scheduleLink}'">${data[i].projectName}</span>
                    </div>`
                leftBarProjectMenu.append(myProjectList);
                let menuProjectName = document.querySelectorAll(".menuProjectName");
                let topPosition = 10;
                const gap = 28;
                for(let j = 0; j < menuProjectName.length; j++){
                    menuProjectName[j].style.position = "absolute";
                    menuProjectName[j].style.width = "150px";
                    menuProjectName[j].style.left = "30px";
                    menuProjectName[j].style.top = topPosition + "px";
                    menuProjectName[j].style.fontSize = "13px";
                    menuProjectName[j].style.fontStyle = "normal";
                    menuProjectName[j].style.fontWeight = "400";
                    menuProjectName[j].style.lineHeight = "15px";
                    menuProjectName[j].style.overflow = "hidden";
                    menuProjectName[j].style.textOverflow = "ellipsis";
                    menuProjectName[j].style.whiteSpace = "nowrap";
                    topPosition += gap;
                }
            }
        }
    })
    const doInquiryModal = document.getElementById('control_doInquiry');
    const clickDoInquiry = document.getElementById('doInquiry');
    const clickPassAuthority = document.getElementById('authority');
    const passAuthorityModal = document.getElementById('passAuthority_link');
    const passAuthorityXBtn = document.getElementById('middleXButton_passAuthority')
    const passAuthorityCancelBtn = document.getElementById('passAuthority_cancel_btn')

    passAuthorityModal.style.display = 'none'

    document.getElementById('leftBarNickname').addEventListener('click', ()=>{location.href="/mypage"})
    clickDoInquiry.addEventListener('click', ()=>{doInquiryModal.style.display = 'flex'})
    clickPassAuthority.addEventListener('click', ()=>{passAuthorityModal.style.display = 'flex'})
    passAuthorityXBtn.addEventListener('click', ()=>{passAuthorityModal.style.display = 'none'})
    passAuthorityCancelBtn.addEventListener('click', ()=>{passAuthorityModal.style.display = 'none'})


</script>
</body>
</html>