<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common/leftBar.css">
</head>
<body>
<!-- Left Bar 구역 -->
<div id="leftBarLayout">
    <div id="blueBackground">
        <div id="profile"></div>
        <div id="leftBarNickname" th:text="${#authentication.principal.userNickname}"></div>
        <div id="whiteBar1"></div>
        <span id="textMyProject">My Project</span>
        <div id="projectMenu">
        </div>
        <div id="whiteBar2"></div>
        <div id="doInquiry">
            <img src="/css/project/image/inquiryIcon.png" id="firstInquiry">
            <span id="doInquiryText">문의하기</span>
        </div>
        <div id="authority">
            <img src="/css/project/image/inquiryIcon.png" id="secondInquiry">
            <span id="authorityText">권한 위임 요청</span>
        </div>
    </div>
</div>
<div th:replace="/common/profile.html"></div>
<script>
    const leftBarProjectMenu = document.getElementById('projectMenu')
    fetch("/common/leftbar")
    .then(res=>res.json())
    .then(data=>{
        console.log(data)
        if(data.length>0){
            for (var i = 0; i<data.length; i++) {
                const myProjectList = document.createElement("div")
                myProjectList.innerHTML =
                    `<div class="projectList">
                    <img src="/css/project/image/folderIcon.png" class="projectIcon">
                    <span class="menuProjectName">${data[i].projectName}</span>`
                leftBarProjectMenu.append(myProjectList);
            }
        }
    })

    document.getElementById('leftBarNickname').addEventListener('click', ()=>{location.href="/mypage/mypagemain"})

    // let leftBarProfile = document.querySelector('.profile_circle');
    // leftBarProfile.setAttribute("style", "position: absolute; top: 250px; left: 250px;  background: #FFFFFF; border: 1px solid #000000;border-radius: 99px;")
</script>
</body>
</html>