<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/passauthority.css">
</head>
<body>
<!-- 중간 모달창 -->
<div id="middleModal_passAuthority">
    <div id="middleBlueHeader_passAuthority">
        <div id="middleXButton_passAuthority">X</div>
    </div>
</div>


<!--권한위임요청 텍스트-->
<div id="passAuthority_text">권한 위임 요청</div>


<!--권한위임요청 비밀번호 입력-->
<div id="passAuthority_password_area">
    <div id="passAuthority_password_text">프로젝트 권한 위임을 원하시면 비밀번호를 입력해주세요.</div>
    <input class="input" type="password" id="passAuthority_password_input" placeholder=" 비밀번호">
    <button type="button" id="passAuthority_password_btn">확인</button>
    <div class="message pwdCheck" id="passAuthority_password_message"></div>
</div>

<div id="passAuthority_area">
<!--    <div id="passAuthority_password_btn"-->
</div>
</body>
</html>