<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/passauthority.css">
</head>
<body>
<!-- 중간 모달창 -->
<div id="middleModal_passAuthority">
    <div id="middleBlueHeader_passAuthority">
        <div id="middleXButton_passAuthority">X</div>
    </div>
</div>


<!--권한위임요청 텍스트-->
<div id="passAuthority_text">권한 위임 요청</div>


<!--권한위임요청 비밀번호 입력-->
<div id="passAuthority_password_area">
    <div id="passAuthority_password_text">프로젝트 권한 위임을 원하시면 비밀번호를 입력해주세요.</div>
    <input class="input" type="password" id="passAuthority_password_input" placeholder=" 비밀번호">
    <button type="button" id="passAuthority_password_btn">확인</button>
    <div class="message pwdCheck" id="passAuthority_password_message"></div>
</div>
<button type="button" id="passAuthority_cancel_btn">취소</button>
<form th:action="@{/inquiry/passauth}" method="post">
<div id="passAuthority_area">
    <div id="passAuthority_project_text">위임할 프로젝트 명</div>
    <select id="passAuthority_project_select" name="passProjectNo">
        <option value="none" selected>위임할 프로젝트를 선택해주세요.</option>
    </select>
    <div id="passAuthority_nickname_text">위임할 멤버 닉네임</div>
    <select id="passAuthority_nickname_select" name="passUserNickname">
        <option value='none' selected>위임할 멤버 닉네임을 선택해주세요.</option>
    </select>
    <div id="passAuthority_message">프로그램 혹은 멤버를 선택했는지 다시 한번 확인해주세요.</div>
    <div id="passAuthority_guide_text">프로젝트 권한 위임은 24시간 내에 처리됩니다.<br>시간 내에 처리가 되지 않는다면 문의하기에서 문의해주세요.
    </div>
    <button type="button" id="passAuthority_ok_btn">확인</button>
</div>
</form>
<script>
    const checkPassword = document.getElementById('passAuthority_password_input')
    const checkPasswordBtn = document.getElementById('passAuthority_password_btn')
    const passAuthorityPasswordArea = document.getElementById('passAuthority_password_area')
    const passAuthorityArea = document.getElementById('passAuthority_area')
    const passAuthorityBtn = document.getElementById('passAuthority_ok_btn')
    const checkPasswordMsg = document.getElementById('passAuthority_password_message')
    const projectSelection = document.getElementById('passAuthority_project_select')
    const nicknameSelection = document.getElementById('passAuthority_nickname_select')
    const passAuthorityMsg = document.getElementById('passAuthority_message')

    // 생성자 아닌 사람도 나온다. 따로 만들어서 수정하자.
    fetch("/inquiry/productorOfProject")
        .then(res=>res.json())
        .then(data=>{
            for(let index in data){
                const option = document.createElement('option')
                option.value = data[index].projectNo
                option.textContent = data[index].projectName
                projectSelection.append(option)
            }
        })

    checkPasswordBtn.addEventListener('click', ()=> {

        let checkPwd = checkPassword.value
        fetch("/mypage/pwdcheck", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(checkPwd)
        })
            .then(res => res.json())
            .then(data => {
                if(data){
                    passAuthorityArea.style.display = 'flex'
                    passAuthorityPasswordArea.style.display = 'none'
                    checkPasswordMsg.innerText = ''
                }else{
                    checkPasswordMsg.style.display = 'flex'
                    checkPasswordMsg.style.color = 'red'
                    checkPasswordMsg.innerText = "비밀번호가 틀렸습니다."
                }
            })
    })

    projectSelection.addEventListener('change', ()=>{
        nicknameSelection.options.length = 1;
        const selectedProject = projectSelection.value;
        console.log('proNo '+selectedProject)
        fetch("/project/selectMember?projectNo="+selectedProject)
            .then(res=>res.json())
            .then(data=>{
                    for (let index in data) {
                        if(data[index].memberNo === `[[${#authentication.principal.userNo}]]`){
                            continue;
                        }else {
                            const option = document.createElement('option')
                            option.value = data[index].memberNickname
                            option.textContent = data[index].memberNickname
                            nicknameSelection.append(option)
                        }
                    }
            })

    })

    passAuthorityBtn.addEventListener('click', ()=>{
        if(projectSelection.value === 'none' || nicknameSelection.value ==='none'){
            console.log(projectSelection.value + "and " + nicknameSelection.value)
            passAuthorityMsg.style.display = 'flex';
        }else{
            passAuthorityMsg.style.display = 'none';
            passAuthorityBtn.type = 'submit';
        }
    })

</script>
</body>
</html>