<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/resultdoinquirymodal.css">
</head>
<body>

<div th:include="common/leftBar.html"></div>
<div th:include="common/programHeader.html"></div>

<div id="smallModalResult" class="modal">
    <div id="smallBlueHeaderResult">
        <div id="smallXButtonResult">X</div>
    </div>
    <!-- 로그인 유효성 메세지 -->
    <div class="success_message" id="successMessageResult" th:text="${ message }"></div>
    <button id="small_doInquiryOk_btnResult" type="button">확인</button>
</div>
<script>
    let smallModalResult = document.getElementById('smallModalResult');
    let smallModalMessage = document.getElementById('successMessageResult');
    let smallXInquiryResult = document.getElementById('smallXButtonResult');
    let smallOkInquiryResult = document.getElementById('small_doInquiryOk_btnResult');
    const message = `[[${message}]]`;
    smallModalResult.style.display = 'flex'
    smallModalMessage.innerText = message;

    smallOkInquiryResult.addEventListener('click', ()=>{location.href="/project"})
    smallXInquiryResult.addEventListener('click', ()=>{location.href="/project"})
</script>

</body>
</html>