
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>
    <link rel="icon" href="/css/common/image/newFavicon.ico">
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/common/middlemodal.css">



</head>
<body>
<!--헤더-->
<div th:replace="common/header.html"></div>

<!--배경화면-->
<div id="login_background">
    <img id="login_background_img" src="/css/user/image/FizzyGroup.png">
</div>
<!--중간 모달창-->
<form th:action="@{/auth/login}" th:method="post">
    <div id="middleModal">
        <div id="middleBlueHeader"></div>
        <!-- 로그인 텍스트 -->
        <div id="login_word">로그인</div>
        <!-- 아이디 입력창 -->
        <input id="input_id" type="text" placeholder="아이디" name="username">
        <!-- 비밀번호 입력창 -->
        <input id="input_pwd" type="password" placeholder="비밀번호" name="pass">
        <!-- 아이디 비밀번호 찾기 -->
        <a id="go_checkIdPwd" onclick="location.href='/user/findidandpwd'">아이디나 비밀번호를 잊으셨나요?</a>
        <!-- 로그인 버튼 -->
        <button id="login_btn">로그인</button>
        <!-- 회원가입 -->
        <a id="go_signup" onclick="location.href='/user/signup'">아직 회원이 아니신가요?</a>
    </div>
</form>

<!-- 작은 모달창 -->
<div id="smallModalLogin" class="modal">
    <div id="smallBlueHeaderLogin">
        <div id="smallXButtonLogin">X</div>
    </div>
    <!-- 로그인 유효성 메세지 -->
    <div class="message" id="login_successMessage"></div>
    <button id="loginOk_btn">확인</button>
</div>
</body>
</html>
